Node-RED/Flows/Game Control/gamecontrol_flow.json
[
    {
        "id": "729e4378.2c89bc",
        "type": "tab",
        "label": "Game Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7a6d939f.805c34",
        "type": "ui_button",
        "z": "729e4378.2c89bc",
        "name": "",
        "group": "b0a7fccd.a7aad",
        "order": 1,
        "width": 2,
        "height": 1,
        "passthru": true,
        "label": "Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "icon": "",
        "payload": "{\"msg\":{\"payload\":\"gamestart\",\"timeout\":600,\"warning\":30}}",
        "payloadType": "json",
        "topic": "/game",
        "x": 233.5,
        "y": 119,
        "wires": [
            [
                "9ab9f4b6.0e945"
            ]
        ]
    },
    {
        "id": "9a0ca69a.32222",
        "type": "ui_button",
        "z": "729e4378.2c89bc",
        "name": "",
        "group": "b0a7fccd.a7aad",
        "order": 2,
        "width": 2,
        "height": 1,
        "passthru": true,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "icon": "",
        "payload": "{     \"payload\": \"cancel\" }",
        "payloadType": "json",
        "topic": "/game",
        "x": 233.5,
        "y": 169,
        "wires": [
            [
                "6b882ffb.45874"
            ]
        ]
    },
    {
        "id": "1738533.1f46cad",
        "type": "ui_button",
        "z": "729e4378.2c89bc",
        "name": "",
        "group": "b0a7fccd.a7aad",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": true,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "orange",
        "icon": "",
        "payload": "{\"timeout\": 600 }",
        "payloadType": "json",
        "topic": "/game",
        "x": 232.5,
        "y": 222,
        "wires": [
            [
                "7f5898e8.c91d98"
            ]
        ]
    },
    {
        "id": "34c94c11.8a402c",
        "type": "inject",
        "z": "729e4378.2c89bc",
        "name": "Tick",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 89.5,
        "y": 72,
        "wires": [
            [
                "99b8c19a.35c048"
            ]
        ]
    },
    {
        "id": "221434e7.cb35c4",
        "type": "change",
        "z": "729e4378.2c89bc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gameState",
                "pt": "global",
                "to": "playing",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 529.5,
        "y": 119,
        "wires": [
            [
                "3619c69e.cdcae2"
            ]
        ]
    },
    {
        "id": "9ae5049.2ffac78",
        "type": "change",
        "z": "729e4378.2c89bc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gameState",
                "pt": "global",
                "to": "stopped",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "timeRemaining",
                "pt": "msg",
                "to": "timeRemaining",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 511,
        "y": 169,
        "wires": [
            [
                "9b18727e.3c98c8",
                "96ae734d.1a9c8"
            ]
        ]
    },
    {
        "id": "9ab9f4b6.0e945",
        "type": "switch",
        "z": "729e4378.2c89bc",
        "name": "",
        "property": "gameState",
        "propertyType": "global",
        "rules": [
            {
                "t": "neq",
                "v": "playing",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 355.5,
        "y": 119,
        "wires": [
            [
                "221434e7.cb35c4"
            ]
        ]
    },
    {
        "id": "6b882ffb.45874",
        "type": "switch",
        "z": "729e4378.2c89bc",
        "name": "",
        "property": "gameState",
        "propertyType": "global",
        "rules": [
            {
                "t": "neq",
                "v": "stopped",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 354,
        "y": 169,
        "wires": [
            [
                "9ae5049.2ffac78"
            ]
        ]
    },
    {
        "id": "22096a50.1dd7ce",
        "type": "function",
        "z": "729e4378.2c89bc",
        "name": "Update Game Timer",
        "func": "// The current timestamp is injected at the start of the flow\nvar currentTime = msg.payload;\nvar lastTickTime = global.get(\"lastTickTime\")||currentTime;\nvar timeRemaining = global.get(\"timeRemaining\")||0;\nvar gameState = global.get(\"gameState\");\n\nif(gameState == \"playing\") {\n    // Reduce the time remaining based on the amount of time\n    // that has elapsed since the last tick count\n    timeRemaining -= (currentTime - lastTickTime);\n    \n    // Update the global variable\n    global.set(\"timeRemaining\", timeRemaining);\n\n    if(timeRemaining < 60000) {\n        msg.timeColour = \"red\";\n    }\n    else {\n        msg.timeColour = \"limegreen\";\n    }\n}\nelse {\n    msg.timeColour = \"white\";\n}\n\n    // Update the msg to carry formatted string        \n    msg.timeRemaining = timeRemaining;\n    \n    global.set(\"lastTickTime\", currentTime);\n    node.status({fill:\"green\",shape:\"dot\",text:timeRemaining});\n    // Only need to update UI is timeRemaining has changed\n    return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 516,
        "y": 285,
        "wires": [
            [
                "9b18727e.3c98c8",
                "491c362c.0e1218"
            ]
        ]
    },
    {
        "id": "7f5898e8.c91d98",
        "type": "change",
        "z": "729e4378.2c89bc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "timeRemaining",
                "pt": "global",
                "to": "3599999",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "timeRemaining",
                "pt": "msg",
                "to": "3599999",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "gameState",
                "pt": "global",
                "to": "stopped",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 383.5,
        "y": 222,
        "wires": [
            [
                "9b18727e.3c98c8"
            ]
        ]
    },
    {
        "id": "a950c39c.6d0b18",
        "type": "ui_template",
        "z": "729e4378.2c89bc",
        "group": "b0a7fccd.a7aad",
        "name": "",
        "order": 4,
        "width": 0,
        "height": 0,
        "format": "<div layout=\"row\" layout-align=\"space-between\">   <!-- Possible layout-aligns include \"start center\" -->\n    <span class=\"label\">\n        Time Remaining <i class=\"fa fa-clock-o fa-2x nr-dashboard-ok\"></i>\n    </span> \n    <span class=\"value\" style=\"color:{{msg.timeColour}}; font-size:xx-large;\">\n        {{msg.formattedTimeRemaining}}\n    </span>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1008,
        "y": 221,
        "wires": [
            []
        ]
    },
    {
        "id": "9b18727e.3c98c8",
        "type": "function",
        "z": "729e4378.2c89bc",
        "name": "Format Time As HH:MM:SS",
        "func": "// msg.timeRemaining is in milliseconds\nvar t = msg.timeRemaining / 1000;\nvar h = Math.floor(t / 3600);\nvar m = Math.floor(t % 3600 / 60);\nvar s = Math.floor(t % 3600 % 60);\n\n// Format into hh:mm:ss\nmsg.formattedTimeRemaining = (\"0\" + h).slice(-2) + \":\" + (\"0\" + m).slice(-2) + \":\" + (\"0\" + s).slice(-2);\n\n// Update the editor node\nnode.status({fill:\"green\", shape:\"dot\", text:msg.formattedTimeRemaining});\n\n// Forward the message along the flow\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 800,
        "y": 221,
        "wires": [
            [
                "a950c39c.6d0b18"
            ]
        ]
    },
    {
        "id": "c1113e5d.d75cb8",
        "type": "inject",
        "z": "729e4378.2c89bc",
        "name": "On Initialisation",
        "topic": "Initialise",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 118.5,
        "y": 26,
        "wires": [
            [
                "66d81421.4a3f14"
            ]
        ]
    },
    {
        "id": "66d81421.4a3f14",
        "type": "link out",
        "z": "729e4378.2c89bc",
        "name": "On System Start",
        "links": [
            "3bc8e6a7.ed7142",
            "615d682d.58c5f8",
            "6d5a07f6.a08f18",
            "a42117f2.e7b908",
            "c120bde0.67f7e8",
            "ef1b4421.706f08",
            "e5d3cc8.75a2db",
            "7a212126.b73c78"
        ],
        "x": 260.5,
        "y": 26,
        "wires": []
    },
    {
        "id": "d203750c.5334f8",
        "type": "comment",
        "z": "729e4378.2c89bc",
        "name": "Other Event Triggers",
        "info": "",
        "x": 123,
        "y": 500,
        "wires": []
    },
    {
        "id": "270c6d6c.777592",
        "type": "link out",
        "z": "729e4378.2c89bc",
        "name": "MQTT Received From Device",
        "links": [
            "6a1a5ffa.b196",
            "e0feacbd.8df04"
        ],
        "x": 268.5,
        "y": 540,
        "wires": []
    },
    {
        "id": "e83be4cd.ec605",
        "type": "mqtt in",
        "z": "729e4378.2c89bc",
        "name": "On MessageReceived",
        "topic": "#",
        "qos": "2",
        "datatype": "auto",
        "broker": "125f6c81.60151b",
        "x": 123,
        "y": 540,
        "wires": [
            [
                "270c6d6c.777592"
            ]
        ]
    },
    {
        "id": "576892a1.d28e94",
        "type": "function",
        "z": "729e4378.2c89bc",
        "name": "Evaluate Math.random()",
        "func": "// Generate a random number each time this node is called\nrnd = Math.round(Math.random() * 100);\n\n// Adjust probability here to change chances of this flow continuing\nif(rnd < msg.probability) {\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 415.5,
        "y": 419,
        "wires": [
            [
                "c5b718c5.319778"
            ]
        ]
    },
    {
        "id": "db6532.7ec902d",
        "type": "function",
        "z": "729e4378.2c89bc",
        "name": "Initialise Global Vars",
        "func": "global.set(\"gameState\", \"stopped\");\nglobal.set(\"timeRemaining\", 3600000);\nglobal.set(\"currentTime\", Date.now());\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510.5,
        "y": 26,
        "wires": [
            []
        ]
    },
    {
        "id": "6d5a07f6.a08f18",
        "type": "link in",
        "z": "729e4378.2c89bc",
        "name": "",
        "links": [
            "66d81421.4a3f14"
        ],
        "x": 350.5,
        "y": 26,
        "wires": [
            [
                "db6532.7ec902d"
            ]
        ]
    },
    {
        "id": "96a48c66.8a2b7",
        "type": "comment",
        "z": "729e4378.2c89bc",
        "name": "Random Event Triggers",
        "info": "",
        "x": 128,
        "y": 377,
        "wires": []
    },
    {
        "id": "2a8a898e.4d2636",
        "type": "ui_ui_control",
        "z": "729e4378.2c89bc",
        "name": "",
        "events": "all",
        "x": 89.5,
        "y": 631,
        "wires": [
            [
                "e7526ea4.257e58"
            ]
        ]
    },
    {
        "id": "e7526ea4.257e58",
        "type": "link out",
        "z": "729e4378.2c89bc",
        "name": "On Browser Refresh",
        "links": [
            "91bbad40.53273"
        ],
        "x": 193.5,
        "y": 631,
        "wires": []
    },
    {
        "id": "c3decead.3a806",
        "type": "comment",
        "z": "729e4378.2c89bc",
        "name": "On browser refresh",
        "info": "https://discourse.nodered.org/t/data-not-retained-with-a-browser-refresh/976/6",
        "x": 110.5,
        "y": 594,
        "wires": []
    },
    {
        "id": "7d300f32.f351b8",
        "type": "rbe",
        "z": "729e4378.2c89bc",
        "name": "",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "timedEvent",
        "x": 1205.5,
        "y": 343,
        "wires": [
            [
                "95ed244d.f81a28"
            ]
        ]
    },
    {
        "id": "491c362c.0e1218",
        "type": "switch",
        "z": "729e4378.2c89bc",
        "name": "Timed event triggers",
        "property": "timeRemaining",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "3580000",
                "vt": "num"
            },
            {
                "t": "lt",
                "v": "3590000",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 783.5,
        "y": 344,
        "wires": [
            [
                "a8bca5e0.bb5ce"
            ],
            [
                "64fe0323.f4e5ec"
            ]
        ],
        "info": "Note, important to list events in the order that the one that has the least time remaining is listed first, and that \"Stop after first match\" is selected"
    },
    {
        "id": "9123e19a.458d78",
        "type": "debug",
        "z": "729e4378.2c89bc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1475.5,
        "y": 324,
        "wires": []
    },
    {
        "id": "a8bca5e0.bb5ce",
        "type": "change",
        "z": "729e4378.2c89bc",
        "name": "Second Timed Event",
        "rules": [
            {
                "t": "set",
                "p": "timedEvent",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1021.5,
        "y": 325,
        "wires": [
            [
                "7d300f32.f351b8"
            ]
        ]
    },
    {
        "id": "64fe0323.f4e5ec",
        "type": "change",
        "z": "729e4378.2c89bc",
        "name": "First Timed Event",
        "rules": [
            {
                "t": "set",
                "p": "timedEvent",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1011,
        "y": 363,
        "wires": [
            [
                "7d300f32.f351b8"
            ]
        ]
    },
    {
        "id": "95ed244d.f81a28",
        "type": "switch",
        "z": "729e4378.2c89bc",
        "name": "",
        "property": "timedEvent",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1336.5,
        "y": 343,
        "wires": [
            [
                "9123e19a.458d78"
            ],
            [
                "7a7930e9.e99088"
            ]
        ]
    },
    {
        "id": "7a7930e9.e99088",
        "type": "debug",
        "z": "729e4378.2c89bc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1477,
        "y": 363,
        "wires": []
    },
    {
        "id": "9038a03.1ebdb6",
        "type": "comment",
        "z": "729e4378.2c89bc",
        "name": "Timed Event Triggers",
        "info": "",
        "x": 1020.5,
        "y": 287,
        "wires": []
    },
    {
        "id": "99b8c19a.35c048",
        "type": "link out",
        "z": "729e4378.2c89bc",
        "name": "On Tick",
        "links": [
            "2fa8a78a.45ab2",
            "ffb27778.19128",
            "d9928e8d.c5c588",
            "c0f514cb.a0e9c8"
        ],
        "x": 186.5,
        "y": 72,
        "wires": []
    },
    {
        "id": "3619c69e.cdcae2",
        "type": "link out",
        "z": "729e4378.2c89bc",
        "name": "On Game Start",
        "links": [
            "5340aa6f.e5f84c"
        ],
        "x": 706.5,
        "y": 119,
        "wires": []
    },
    {
        "id": "6ba2280.95c39d8",
        "type": "comment",
        "z": "729e4378.2c89bc",
        "name": "On Game Start",
        "info": "",
        "x": 806.5,
        "y": 119,
        "wires": []
    },
    {
        "id": "96ae734d.1a9c8",
        "type": "link out",
        "z": "729e4378.2c89bc",
        "name": "On Game Stop",
        "links": [
            "a0b62c77.a3937"
        ],
        "x": 789.5,
        "y": 169,
        "wires": []
    },
    {
        "id": "3c279fea.15474",
        "type": "inject",
        "z": "729e4378.2c89bc",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 98.5,
        "y": 118,
        "wires": [
            [
                "7a6d939f.805c34"
            ]
        ]
    },
    {
        "id": "df8d5c.857ce2a8",
        "type": "inject",
        "z": "729e4378.2c89bc",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100.5,
        "y": 170,
        "wires": [
            [
                "9a0ca69a.32222"
            ]
        ]
    },
    {
        "id": "b74177fd.becdc",
        "type": "inject",
        "z": "729e4378.2c89bc",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 98.5,
        "y": 223,
        "wires": [
            [
                "1738533.1f46cad"
            ]
        ]
    },
    {
        "id": "4bec059f.9d6a74",
        "type": "comment",
        "z": "729e4378.2c89bc",
        "name": "On Game Stop",
        "info": "",
        "x": 890,
        "y": 169,
        "wires": []
    },
    {
        "id": "ffb27778.19128",
        "type": "link in",
        "z": "729e4378.2c89bc",
        "name": "",
        "links": [
            "99b8c19a.35c048"
        ],
        "x": 367.5,
        "y": 285,
        "wires": [
            [
                "22096a50.1dd7ce"
            ]
        ]
    },
    {
        "id": "c0f514cb.a0e9c8",
        "type": "link in",
        "z": "729e4378.2c89bc",
        "name": "",
        "links": [
            "99b8c19a.35c048"
        ],
        "x": 44.5,
        "y": 419,
        "wires": [
            [
                "5fc004bb.0c1734"
            ]
        ]
    },
    {
        "id": "5fc004bb.0c1734",
        "type": "change",
        "z": "729e4378.2c89bc",
        "name": "Set event probability",
        "rules": [
            {
                "t": "set",
                "p": "probability",
                "pt": "msg",
                "to": "10",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 181.5,
        "y": 419,
        "wires": [
            [
                "576892a1.d28e94"
            ]
        ],
        "info": "(% chance of occurring each second)"
    },
    {
        "id": "c5b718c5.319778",
        "type": "link out",
        "z": "729e4378.2c89bc",
        "name": "Random Chance",
        "links": [
            "a7761abd.12cd38"
        ],
        "x": 562.5,
        "y": 419,
        "wires": []
    },
    {
        "id": "b0a7fccd.a7aad",
        "type": "ui_group",
        "z": "",
        "name": "Game Status",
        "tab": "b191b70b.e2896",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "125f6c81.60151b",
        "type": "mqtt-broker",
        "z": "",
        "name": "MOSCA",
        "broker": "localhost",
        "port": "1883",
        "tls": "",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "b191b70b.e2896",
        "type": "ui_tab",
        "z": "",
        "name": "Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]