Node-RED/Flows/Clue Delivery/cluedelivery_viaserial_timeout_withaudio.json
[
    {
        "id": "33a5a48b.d9780c",
        "type": "ui_text_input",
        "z": "9e321b47.961c5",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "dc30a292.d77d98",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 266,
        "y": 91,
        "wires": [
            [
                "189c3b9e.32c51c"
            ]
        ]
    },
    {
        "id": "8451313b.6f825",
        "type": "ui_button",
        "z": "9e321b47.961c5",
        "name": "",
        "group": "dc30a292.d77d98",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Send Message",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-exclamation-circle",
        "payload": "",
        "payloadType": "str",
        "topic": "ToDevice/Hint",
        "x": 146,
        "y": 158,
        "wires": [
            [
                "2dce877f.b2098",
                "ba193601.56f728"
            ]
        ]
    },
    {
        "id": "189c3b9e.32c51c",
        "type": "change",
        "z": "9e321b47.961c5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "hint",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 421,
        "y": 91,
        "wires": [
            []
        ]
    },
    {
        "id": "f3d90cc9.fe3da8",
        "type": "comment",
        "z": "9e321b47.961c5",
        "name": "Custom Message that plays audio SFX when displayed and clears after a set amount of time",
        "info": "",
        "x": 525.5,
        "y": 54,
        "wires": []
    },
    {
        "id": "2dce877f.b2098",
        "type": "change",
        "z": "9e321b47.961c5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "hint",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 345,
        "y": 159,
        "wires": [
            [
                "7ca39d2b.6234c4"
            ]
        ]
    },
    {
        "id": "8688e3d2.00172",
        "type": "serial out",
        "z": "9e321b47.961c5",
        "name": "",
        "serial": "7dc685dd.1475a4",
        "x": 645,
        "y": 210,
        "wires": []
    },
    {
        "id": "ba193601.56f728",
        "type": "function",
        "z": "9e321b47.961c5",
        "name": "Construct Serial Message",
        "func": "// Format into hh:mm:ss\nmsg.payload = \"PRINT>\" + flow.get(\"hint\") \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 316.5,
        "y": 210,
        "wires": [
            [
                "508ae923.17adf",
                "cd70c8db.ecf3b"
            ]
        ]
    },
    {
        "id": "7ca39d2b.6234c4",
        "type": "mqtt out",
        "z": "9e321b47.961c5",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "125f6c81.60151b",
        "x": 496.5,
        "y": 159,
        "wires": []
    },
    {
        "id": "508ae923.17adf",
        "type": "trigger",
        "z": "9e321b47.961c5",
        "op1": "",
        "op2": "CLEAR>",
        "op1type": "pay",
        "op2type": "str",
        "duration": "3",
        "extend": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 510.5,
        "y": 210,
        "wires": [
            [
                "8688e3d2.00172"
            ]
        ]
    },
    {
        "id": "afe968bf.1beb08",
        "type": "ui_audio",
        "z": "9e321b47.961c5",
        "name": "",
        "group": "dc30a292.d77d98",
        "voice": "",
        "always": "",
        "x": 831.5,
        "y": 265,
        "wires": []
    },
    {
        "id": "cd70c8db.ecf3b",
        "type": "file in",
        "z": "9e321b47.961c5",
        "name": "",
        "filename": "C:\\Users\\alast\\Music\\sfx\\musicbox.mp3",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 599.5,
        "y": 265,
        "wires": [
            [
                "afe968bf.1beb08"
            ]
        ]
    },
    {
        "id": "dc30a292.d77d98",
        "type": "ui_group",
        "z": "",
        "name": "Custom Message",
        "tab": "b191b70b.e2896",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7dc685dd.1475a4",
        "type": "serial-port",
        "z": "",
        "serialport": "COM3",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "\\r\\n",
        "responsetimeout": "10000"
    },
    {
        "id": "125f6c81.60151b",
        "type": "mqtt-broker",
        "z": "",
        "name": "MOSCA",
        "broker": "localhost",
        "port": "1883",
        "tls": "",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "b191b70b.e2896",
        "type": "ui_tab",
        "z": "",
        "name": "Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]