Node-RED/Flows/Prop Control/MQTT_PlainText.json
[
    {
        "id": "42f76b40.a6b3b4",
        "type": "change",
        "z": "a770bbaf.de746",
        "name": "Config",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "flow",
                "to": "{\"id\":\"CoverUp\",\"name\":\"Cover Up\",\"description\":\"Players must hold their hand over the sensor\",\"inputs\":[0],\"state\":\"UNSOLVED\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 246,
        "y": 190,
        "wires": [
            [
                "323daefd.72233a"
            ]
        ]
    },
    {
        "id": "b80f18c8.909a6",
        "type": "ui_template",
        "z": "a770bbaf.de746",
        "group": "7b2f8a00.5ef1d",
        "name": "Dashboard Panel",
        "order": 1,
        "width": "0",
        "height": "0",
        "format": "<md-card-title>\n    <md-card-title-text>\n        <p class=\"md-headline\">{{msg.payload.name}}</p>\n    </md-card-title-text>\n    <span ng-class=\"msg.payload.state=='SOLVED' ? 'fa fa-unlock fa-2x' : 'fa fa-lock fa-2x'\"></span>\n</md-card-title>\n<md-card-content>\n    <div ng-style=\"{width:'100%',height:'8px','background-color':msg.payload.state=='SOLVED' ? 'green' : 'red'}\" ></div>\n    <p>\n        {{msg.payload.description?msg.payload.description:'Unknown'}}\n    </p>\n</md-card-content>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 876.5,
        "y": 371,
        "wires": [
            []
        ]
    },
    {
        "id": "d5d6cee5.3fbbb8",
        "type": "mqtt in",
        "z": "a770bbaf.de746",
        "name": "MQTT FromDevice",
        "topic": "FromDevice/RaspberryPi",
        "qos": "2",
        "datatype": "auto",
        "broker": "125f6c81.60151b",
        "x": 422.5,
        "y": 331,
        "wires": [
            [
                "c94b39f0.7d39a"
            ]
        ]
    },
    {
        "id": "323daefd.72233a",
        "type": "json",
        "z": "a770bbaf.de746",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 367.5,
        "y": 190,
        "wires": [
            [
                "aa6d4843.28e0a"
            ]
        ]
    },
    {
        "id": "c94b39f0.7d39a",
        "type": "function",
        "z": "a770bbaf.de746",
        "name": "Update global state",
        "func": "// Retrieve the ID of the prop used in this flow\nvar propid = flow.get(\"payload.id\");\n\n// Get the current stored value of this prop,\n// Or create a new entry if we didn't previously know about it\nvar prop = global.get(propid) || {};\n\n// Now loop over the incoming values and update the stored state\nprop['state'] = msg.payload;\n\n// Save the global value again\nglobal.set(propid, prop);\n\n// Pass the updated status through the message flow\nmsg.payload = prop;\n\n// Update the dashboard editor\nnode.status({fill:\"green\", shape:\"dot\", text:\"value updated\"});\n\n// Pass the value along the flow\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 660.5,
        "y": 371,
        "wires": [
            [
                "b80f18c8.909a6"
            ]
        ]
    },
    {
        "id": "17b5c7d2.7aff28",
        "type": "mqtt out",
        "z": "a770bbaf.de746",
        "name": "MQTT ToDevice",
        "topic": "ToDevice/RaspberryPi",
        "qos": "",
        "retain": "",
        "broker": "125f6c81.60151b",
        "x": 1114.5,
        "y": 371,
        "wires": []
    },
    {
        "id": "47f6f530.01f8bc",
        "type": "inject",
        "z": "a770bbaf.de746",
        "name": "Solve",
        "topic": "",
        "payload": "SOLVED",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 463,
        "y": 424,
        "wires": [
            [
                "c94b39f0.7d39a"
            ]
        ]
    },
    {
        "id": "18b0f0cc.713197",
        "type": "inject",
        "z": "a770bbaf.de746",
        "name": "Reset",
        "topic": "",
        "payload": "RESET",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 462.5,
        "y": 379,
        "wires": [
            [
                "c94b39f0.7d39a"
            ]
        ]
    },
    {
        "id": "65e2a974.87267",
        "type": "ui_button",
        "z": "a770bbaf.de746",
        "name": "RESET",
        "group": "7b2f8a00.5ef1d",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-lock",
        "payload": "RESET",
        "payloadType": "str",
        "topic": "",
        "x": 904.5,
        "y": 323,
        "wires": [
            [
                "17b5c7d2.7aff28"
            ]
        ]
    },
    {
        "id": "bb12e383.23afe8",
        "type": "ui_button",
        "z": "a770bbaf.de746",
        "name": "SOLVE",
        "group": "7b2f8a00.5ef1d",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Solve",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-unlock",
        "payload": "SOLVE",
        "payloadType": "str",
        "topic": "",
        "x": 903.5,
        "y": 283,
        "wires": [
            [
                "17b5c7d2.7aff28"
            ]
        ]
    },
    {
        "id": "e5d3cc8.75a2db",
        "type": "link in",
        "z": "a770bbaf.de746",
        "name": "",
        "links": [
            "66d81421.4a3f14"
        ],
        "x": 153,
        "y": 190,
        "wires": [
            [
                "42f76b40.a6b3b4"
            ]
        ]
    },
    {
        "id": "aa6d4843.28e0a",
        "type": "function",
        "z": "a770bbaf.de746",
        "name": "Parse JSON and update global state",
        "func": "// Retrieve the ID of the prop used in this flow\nvar propid = flow.get(\"payload.id\");\n\n// Get the current stored value of this prop,\n// Or create a new entry if we didn't previously know about it\nvar prop = global.get(propid) || {};\n\n// Now loop over the incoming values and update the stored state\nvar count = 0;\nfor (var key in msg.payload) {\n  if (msg.payload.hasOwnProperty(key)) {\n    prop[key] = msg.payload[key];\n    count++;\n  }\n}\n\n// Save the global value again\nglobal.set(propid, prop);\n\n// Pass the updated status through the message flow\nmsg.payload = prop;\n\n// Update the dashboard editor\nnode.status({fill:\"green\", shape:\"dot\", text:count + \" values updated\"});\n\n// Pass the value along the flow\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 592,
        "y": 190,
        "wires": [
            [
                "b80f18c8.909a6"
            ]
        ]
    },
    {
        "id": "2e973496.5436e4",
        "type": "comment",
        "z": "a770bbaf.de746",
        "name": "Initial configuration",
        "info": "",
        "x": 285.5,
        "y": 149,
        "wires": []
    },
    {
        "id": "75b76963.acf718",
        "type": "comment",
        "z": "a770bbaf.de746",
        "name": "Updates received via MQTT as plain text",
        "info": "",
        "x": 492,
        "y": 288,
        "wires": []
    },
    {
        "id": "8fab3051.48cb4",
        "type": "comment",
        "z": "a770bbaf.de746",
        "name": "This flow demonstrates a device that sends and receives status updates as plain text delivered over MQTT",
        "info": "",
        "x": 727.5,
        "y": 66,
        "wires": []
    },
    {
        "id": "7b2f8a00.5ef1d",
        "type": "ui_group",
        "z": "",
        "name": "Cover Up",
        "tab": "31696413.9a5234",
        "order": 5,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "125f6c81.60151b",
        "type": "mqtt-broker",
        "z": "",
        "name": "MOSCA",
        "broker": "localhost",
        "port": "1883",
        "tls": "",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "31696413.9a5234",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]