Node-RED/flows.json
[{"id":"729e4378.2c89bc","type":"tab","label":"Global","disabled":false,"info":""},{"id":"7d3c0404.8a142c","type":"tab","label":"Prop Control","disabled":false,"info":""},{"id":"9e321b47.961c5","type":"tab","label":"Clue Delivery","disabled":false,"info":""},{"id":"8f685eae.e4184","type":"tab","label":"Audio","disabled":false,"info":""},{"id":"8ccf5ec1.fe5818","type":"tab","label":"Lighting","disabled":false,"info":""},{"id":"74b12084.0a8358","type":"subflow","name":"Iterate","in":[{"x":220,"y":219,"wires":[{"id":"626a4668.5aa3"}]}],"out":[{"x":454,"y":174,"wires":[{"id":"626a4668.5aa3","port":0}]},{"x":455,"y":259,"wires":[{"id":"626a4668.5aa3","port":1}]}]},{"id":"125f6c81.60151b","type":"mqtt-broker","z":"","name":"MOSCA","broker":"localhost","port":"1883","tls":"","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9b6e4743.cfa1a8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Prop Control","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b191b70b.e2896","type":"ui_tab","z":"","name":"Room One","icon":"dashboard","disabled":false,"hidden":false},{"id":"b0a7fccd.a7aad","type":"ui_group","z":"","name":"Game Status","tab":"b191b70b.e2896","order":1,"disp":true,"width":"6","collapse":false},{"id":"dc30a292.d77d98","type":"ui_group","z":"","name":"Custom Message","tab":"b191b70b.e2896","order":2,"disp":true,"width":"6","collapse":false},{"id":"325abcce.753554","type":"ui_group","z":"","name":"Log","tab":"b191b70b.e2896","order":7,"disp":true,"width":30,"collapse":false},{"id":"c832a8dc.9f8ee8","type":"ui_group","z":"","name":"Puzzles","tab":"b191b70b.e2896","order":3,"disp":true,"width":"12","collapse":false},{"id":"9aa0302e.bc4c28","type":"ui_group","z":"","name":"Hints","tab":"b191b70b.e2896","order":4,"disp":true,"width":"6","collapse":false},{"id":"747cfe9.0910c8","type":"ui_group","z":"","name":"Video","tab":"b191b70b.e2896","order":5,"disp":true,"width":"6","collapse":false},{"id":"15fe206a.4a0578","type":"ui_group","z":"","name":"Audio","tab":"b191b70b.e2896","order":6,"disp":true,"width":"6","collapse":false},{"id":"8c2aa418.f86c48","type":"ui_spacer","name":"spacer","group":"15fe206a.4a0578","order":3,"width":6,"height":1},{"id":"cbc47930.f7045","type":"ui_spacer","name":"spacer","group":"325abcce.753554","order":3,"width":22,"height":1},{"id":"5b356eb8.ff37d","type":"mqtt out","z":"7d3c0404.8a142c","name":"MQTT ToDevice","topic":"","qos":"","retain":"","broker":"125f6c81.60151b","x":1360,"y":256,"wires":[]},{"id":"ff45eae4.20fba","type":"mqtt in","z":"7d3c0404.8a142c","name":"MQTT FromDevice","topic":"/FromDevice/#","qos":"2","datatype":"auto","broker":"125f6c81.60151b","x":129,"y":247,"wires":[["d3ee1fca.f75338","53832eca.1b4178"]]},{"id":"136581b9.889396","type":"comment","z":"7d3c0404.8a142c","name":"Device 1","info":"","x":934,"y":132,"wires":[]},{"id":"79a5d2d9.0e1a8c","type":"comment","z":"7d3c0404.8a142c","name":"Receive Input from Device","info":"","x":138,"y":206,"wires":[]},{"id":"e7d9f132.af0958","type":"switch","z":"7d3c0404.8a142c","d":true,"name":"Route according to sender","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"FromDevice/1","vt":"str"},{"t":"eq","v":"FromDevice/2","vt":"str"},{"t":"eq","v":"FromDevice/3","vt":"str"},{"t":"eq","v":"FromDevice/4","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":581,"y":577,"wires":[["f30ce221.f88978"],["5bf76e8c.93fd68"],["41240faa.07f608"],["b625b48a.c81338"]]},{"id":"d3ee1fca.f75338","type":"debug","z":"7d3c0404.8a142c","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":188,"y":383,"wires":[]},{"id":"31062bc7.3c2304","type":"mosca in","z":"729e4378.2c89bc","mqtt_port":"1883","mqtt_ws_port":"8080","name":"MOSCA","username":"","password":"","dburl":"","x":91,"y":387,"wires":[[]]},{"id":"3145480b.418588","type":"ui_template","z":"729e4378.2c89bc","group":"","name":"CSS-style overrides","order":1,"width":0,"height":0,"format":"<style>\n\n/* These style overrides assume the \"Dark Theme\" is being used */\n\n/*\nUsed for dynamically amending menu/tab items\n:root {\n    --main-color: \"blue\";\n}\n[aria-label~=\"Your tab Name\"] {\n    background-color: var(--main-color,green);\n}\n\n[aria-label~=\"Home\"] + div > p::after {\n    content: 'woot' ;\n*/\n\nbody.nr-dashboard-theme {\n background-color: #333333;\n font-family: Calibri;\n}\nbutton, html, input, select, textarea {\n font-family: Calibri;\n}\nbody.nr-dashboard-theme md-content md-card {\n background-color: #33333300;\n color: #d0d0d0;\n}\n\nbody.nr-dashboard-theme md-toolbar {\n background-image: linear-gradient(to right, #404040, #737373);\n box-shadow: 0px 1px 20px #0000008a;\n}\n.nr-dashboard-theme ui-card-panel {\n background-image: linear-gradient(to bottom right, #404040, #737373);\n border: 1px solid #555555;\n box-shadow: 0 0 20px #00000066;\n}\n\n.nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n color: #2eb82e;\n text-shadow: 0 0 2px black;\n}\n\n.nr-dashboard-theme .nr-dashboard-form-button {\n background-image: linear-gradient(to bottom right, #8a8a8a6e, #00000070);\n background-color: #00ad03;\n color: #d0d0d0;\n text-shadow: 0 0 2px #525252;\n border-radius:6px;\n}\n\n.nr-dashboard-theme .nr-dashboard-button .md-button {\n background-image: linear-gradient(to bottom right, #8a8a8a6e, #00000070);\n background-color: #00ad03;\n color: #d0d0d0;\n text-shadow: 0 0 2px #525252;\n border-radius:6px;\n}\n.nr-dashboard-theme .nr-dashboard-button .md-button:hover {\n background-color: #00de00;\n}\n\n.nr-dashboard-theme .nr-dashboard-switch md-switch .md-thumb {\n background-image: linear-gradient(to bottom right, #48b349, #115009);\n}\n.nr-dashboard-button .md-button {\n box-shadow: 0 1px 3px 0 rgba(0,0,0,.26)!important;\n width: 100%!important;\n height: 100%!important;\n margin: 0!important;\n min-width: 0!important;\n min-height: 0!important;\n}\n.nr-dashboard-theme .nr-dashboard-slider .md-thumb:after {\n background-image: linear-gradient(to bottom right, #48b349, #115009);\n border-style: none;\n}\n.nr-dashboard-theme .nr-dashboard-numeric .value {\n background-color: #33333300;\n color:#d0d0d0;\n}\n\n.nr-dashboard-numeric .value {\n font-weight: 700;\n text-align: center;\n border: 0;\n}\n\n.nr-dashboard-form {\n display: inline-block;\n width: 100%;\n overflow-y: visible;\n}\n#SETTINGS_TEATED_cards {\n min-height: 260px;\n}\n\n</style>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"global","x":932,"y":118,"wires":[[]],"info":"CSS Style overrides to the Node-RED Dark theme.\n\nFrom the Dashboard node information panel (View->Dashboard), select\n - Site: Options -> Node-RED theme everywhere\n - Theme: Style -> Dark"},{"id":"33a5a48b.d9780c","type":"ui_text_input","z":"9e321b47.961c5","name":"","label":"","tooltip":"","group":"dc30a292.d77d98","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":266,"y":91,"wires":[["189c3b9e.32c51c"]]},{"id":"8451313b.6f825","type":"ui_button","z":"9e321b47.961c5","name":"","group":"dc30a292.d77d98","order":2,"width":0,"height":0,"passthru":false,"label":"Send Message","tooltip":"","color":"","bgcolor":"","icon":"fa-exclamation-circle","payload":"","payloadType":"str","topic":"ToDevice/Hint","x":286,"y":169,"wires":[["2dce877f.b2098"]]},{"id":"189c3b9e.32c51c","type":"change","z":"9e321b47.961c5","name":"","rules":[{"t":"set","p":"hint","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":275,"y":132,"wires":[[]]},{"id":"f3d90cc9.fe3da8","type":"comment","z":"9e321b47.961c5","name":"Custom Messages","info":"","x":295.5,"y":54,"wires":[]},{"id":"2dce877f.b2098","type":"change","z":"9e321b47.961c5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"hint","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":363,"y":223,"wires":[["e2f84272.f3b3d8"]]},{"id":"9dd1db29.8bb4c8","type":"ui_dropdown","z":"9e321b47.961c5","name":"","label":"","tooltip":"","place":"Select option","group":"9aa0302e.bc4c28","order":1,"width":0,"height":0,"passthru":true,"options":[],"payload":"","topic":"","x":659.5,"y":178,"wires":[["1953b0a2.cee737"]]},{"id":"2fdc0d9a.839022","type":"ui_button","z":"9e321b47.961c5","name":"","group":"9aa0302e.bc4c28","order":2,"width":0,"height":0,"passthru":false,"label":"Send Hint","tooltip":"","color":"","bgcolor":"","icon":"fa-question-circle","payload":"","payloadType":"str","topic":"ToDevice/Hint","x":660.5,"y":270,"wires":[["9aff64ce.6bfe88"]]},{"id":"1953b0a2.cee737","type":"change","z":"9e321b47.961c5","name":"","rules":[{"t":"set","p":"custommessage","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":225,"wires":[[]]},{"id":"19d59025.a2689","type":"inject","z":"9e321b47.961c5","name":"","topic":"","payload":"[{\"H1 Look lively, sunshine!\":\"Look lively, sunshine!\"},{\"H2 Look under the table\":\"Look under the table\"},{\"H3 Did you hear something?\":\"Did you hear something?\"}]","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":648.5,"y":88,"wires":[["e4387f2b.acb9a8"]]},{"id":"e4387f2b.acb9a8","type":"change","z":"9e321b47.961c5","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":679.5,"y":134,"wires":[["9dd1db29.8bb4c8"]]},{"id":"dc3394f4.a401a8","type":"comment","z":"9e321b47.961c5","name":"Predefined Hints","info":"","x":678.5,"y":52,"wires":[]},{"id":"9aff64ce.6bfe88","type":"change","z":"9e321b47.961c5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"custommessage","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":823,"y":270,"wires":[["a8a08a0d.44db4"]]},{"id":"342d90f6.2af578","type":"link in","z":"729e4378.2c89bc","name":"Publish MQTT","links":["a8a08a0d.44db4","e2f84272.f3b3d8"],"x":173.5,"y":362,"wires":[["230cf3a.853c60c"]]},{"id":"230cf3a.853c60c","type":"mqtt out","z":"729e4378.2c89bc","name":"To MQTT","topic":"","qos":"","retain":"","broker":"125f6c81.60151b","x":277,"y":362,"wires":[]},{"id":"e2f84272.f3b3d8","type":"link out","z":"9e321b47.961c5","name":"","links":["342d90f6.2af578"],"x":523.5,"y":169,"wires":[]},{"id":"a8a08a0d.44db4","type":"link out","z":"9e321b47.961c5","name":"","links":["342d90f6.2af578"],"x":944,"y":270,"wires":[]},{"id":"2e3fc93a.9cfc36","type":"mqtt in","z":"729e4378.2c89bc","name":"From MQTT","topic":"#","qos":"2","datatype":"auto","broker":"125f6c81.60151b","x":228,"y":410,"wires":[["1ede3513.c4b5c3"]]},{"id":"1ede3513.c4b5c3","type":"link out","z":"729e4378.2c89bc","name":"Incoming MQTT","links":["88d0a434.82e6e8"],"x":332.5,"y":410,"wires":[]},{"id":"7a6d939f.805c34","type":"ui_button","z":"729e4378.2c89bc","name":"","group":"b0a7fccd.a7aad","order":1,"width":2,"height":1,"passthru":false,"label":"Start","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"{     \"payload\": \"on\",     \"timeout\": 600,     \"warning\": 30 }","payloadType":"json","topic":"/game","x":109.5,"y":82,"wires":[["9ab9f4b6.0e945"]]},{"id":"9a0ca69a.32222","type":"ui_button","z":"729e4378.2c89bc","name":"","group":"b0a7fccd.a7aad","order":2,"width":2,"height":1,"passthru":false,"label":"Stop","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"{     \"payload\": \"cancel\" }","payloadType":"json","topic":"/game","x":109.5,"y":121,"wires":[["6b882ffb.45874"]]},{"id":"1738533.1f46cad","type":"ui_button","z":"729e4378.2c89bc","name":"","group":"b0a7fccd.a7aad","order":3,"width":2,"height":1,"passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"orange","icon":"","payload":"{\"timeout\": 600 }","payloadType":"json","topic":"/game","x":108.5,"y":159,"wires":[["7f5898e8.c91d98"]]},{"id":"34c94c11.8a402c","type":"inject","z":"729e4378.2c89bc","name":"Tick","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":117.5,"y":237,"wires":[["22096a50.1dd7ce"]]},{"id":"221434e7.cb35c4","type":"change","z":"729e4378.2c89bc","name":"","rules":[{"t":"set","p":"gameState","pt":"global","to":"playing","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":405.5,"y":82,"wires":[[]]},{"id":"9ae5049.2ffac78","type":"change","z":"729e4378.2c89bc","name":"","rules":[{"t":"set","p":"gameState","pt":"global","to":"stopped","tot":"str"},{"t":"set","p":"timeRemaining","pt":"msg","to":"timeRemaining","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":387,"y":121,"wires":[["9b18727e.3c98c8"]]},{"id":"9ab9f4b6.0e945","type":"switch","z":"729e4378.2c89bc","name":"","property":"gameState","propertyType":"global","rules":[{"t":"neq","v":"playing","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":231.5,"y":82,"wires":[["221434e7.cb35c4"]]},{"id":"6b882ffb.45874","type":"switch","z":"729e4378.2c89bc","name":"","property":"gameState","propertyType":"global","rules":[{"t":"neq","v":"stopped","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":231,"y":122,"wires":[["9ae5049.2ffac78"]]},{"id":"22096a50.1dd7ce","type":"function","z":"729e4378.2c89bc","name":"Update Game Timer","func":"// The current timestamp is injected at the start of the flow\nvar currentTime = msg.payload;\nvar lastTickTime = global.get(\"lastTickTime\")||currentTime;\nvar timeRemaining = global.get(\"timeRemaining\")||0;\nvar gameState = global.get(\"gameState\");\n\nif(gameState == \"playing\") {\n    // Reduce the time remaining based on the amount of time\n    // that has elapsed since the last tick count\n    timeRemaining -= (currentTime - lastTickTime);\n    \n    // Update the global variable\n    global.set(\"timeRemaining\", timeRemaining);\n\n    if(timeRemaining < 60000) {\n        msg.timeColour = \"red\";\n    }\n    else {\n        msg.timeColour = \"limegreen\";\n    }\n}\nelse {\n    msg.timeColour = \"white\";\n}\n\n\n    // Update the msg to carry formatted string        \n    msg.timeRemaining = timeRemaining;\n    \n    global.set(\"lastTickTime\", currentTime);\n    node.status({fill:\"green\",shape:\"dot\",text:timeRemaining});\n    // Only need to update UI is timeRemaining has changed\n    return msg;","outputs":1,"noerr":0,"x":300,"y":237,"wires":[["9b18727e.3c98c8"]]},{"id":"7f5898e8.c91d98","type":"change","z":"729e4378.2c89bc","name":"","rules":[{"t":"set","p":"timeRemaining","pt":"global","to":"3599999","tot":"num"},{"t":"set","p":"timeRemaining","pt":"msg","to":"3599999","tot":"num"},{"t":"set","p":"gameState","pt":"global","to":"stopped","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":259.5,"y":159,"wires":[["9b18727e.3c98c8"]]},{"id":"a950c39c.6d0b18","type":"ui_template","z":"729e4378.2c89bc","group":"b0a7fccd.a7aad","name":"","order":4,"width":0,"height":0,"format":"<div layout=\"row\" layout-align=\"space-between\">   <!-- Possible layout-aligns include \"start center\" -->\n    <span class=\"label\">\n        Time Remaining <i class=\"fa fa-clock-o fa-2x nr-dashboard-ok\"></i>\n    </span> \n    <span class=\"value\" style=\"color:{{msg.timeColour}}; font-size:xx-large;\">\n        {{msg.formattedTimeRemaining}}\n    </span>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":702,"y":171,"wires":[[]]},{"id":"9b18727e.3c98c8","type":"function","z":"729e4378.2c89bc","name":"Format Time","func":"// Message from preceeding node is in milliseconds\nvar t = msg.timeRemaining / 1000;\nvar h = Math.floor(t / 3600);\nvar m = Math.floor(t % 3600 / 60);\nvar s = Math.floor(t % 3600 % 60);\n\n// Format into hh:mm:ss\nmsg.formattedTimeRemaining = (\"0\" + h).slice(-2) + \":\" + (\"0\" + m).slice(-2) + \":\" + (\"0\" + s).slice(-2);\n\n\nnode.status({fill:\"green\", shape:\"dot\", text:msg.formattedTimeRemaining});\n    \nreturn msg;","outputs":1,"noerr":0,"x":554,"y":170,"wires":[["a950c39c.6d0b18"]]},{"id":"95998e.afb58e7","type":"file","z":"729e4378.2c89bc","name":"","filename":"c:\\PropControl\\log.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":639.5,"y":584,"wires":[[]]},{"id":"c5210cec.8024a8","type":"ui_switch","z":"729e4378.2c89bc","name":"","label":"Logging","tooltip":"","group":"325abcce.753554","order":1,"width":4,"height":1,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":421.5,"y":540,"wires":[["632260ac.cba5d"]]},{"id":"d8d216fe.240cd","type":"mqtt in","z":"729e4378.2c89bc","name":"","topic":"#","qos":"2","datatype":"auto","broker":"125f6c81.60151b","x":89.5,"y":584,"wires":[["42578061.beabd8"]]},{"id":"632260ac.cba5d","type":"change","z":"729e4378.2c89bc","name":"","rules":[{"t":"set","p":"logging","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":614.5,"y":540,"wires":[[]]},{"id":"42578061.beabd8","type":"switch","z":"729e4378.2c89bc","name":"","property":"logging","propertyType":"global","rules":[{"t":"eq","v":"true","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":232.5,"y":588,"wires":[["3a5bcd8f.59c502"]]},{"id":"a7a86e05.2d435","type":"change","z":"729e4378.2c89bc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":238.5,"y":540,"wires":[["c5210cec.8024a8"]]},{"id":"3a5bcd8f.59c502","type":"function","z":"729e4378.2c89bc","name":"Create Log Entry","func":"var d = new Date();\nvar t = d.getTime();\n\nvar filename = \"log.txt\";\n\nvar payload = {\"time\":t,\"payload\":msg.payload};\nmsg.payload = JSON.stringify(payload);\n\nmsg.filename = \"/PropControl/\" + filename;\n\nreturn msg;","outputs":1,"noerr":0,"x":413.5,"y":584,"wires":[["95998e.afb58e7","3f731613.dfb2ea"]]},{"id":"c1113e5d.d75cb8","type":"inject","z":"729e4378.2c89bc","name":"On Startup","topic":"Initialise","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":507.5,"y":352,"wires":[["66d81421.4a3f14"]]},{"id":"66d81421.4a3f14","type":"link out","z":"729e4378.2c89bc","name":"OnStartup","links":["a42117f2.e7b908","6d5a07f6.a08f18","b7f1aba0.0a9878"],"x":672.5,"y":352,"wires":[]},{"id":"a42117f2.e7b908","type":"link in","z":"729e4378.2c89bc","name":"","links":["66d81421.4a3f14"],"x":53.5,"y":541,"wires":[["a7a86e05.2d435"]]},{"id":"626a4668.5aa3","type":"function","z":"74b12084.0a8358","name":"Iterate","func":"//Node has 2 outputs - 1 for itteration and 1 for completion\nvar nextObj, out;\nvar itt = msg.iterationInfo;\n\n\n//If the iterating has not yet begun set up the iteration metadata in the msg\nif (typeof itt === 'undefined') {\n    //Make sure payload is an array\n    if( Object.prototype.toString.call(msg.payload) !== '[object Array]' ) {\n       msg.payload = [msg.payload];\n    }\n\n    msg.iterationInfo = itt = {};\n    itt.index = -1;\n    itt.inArray = msg.payload;\n    itt.outArray = [];\n\n//Otherwise just push the input to the output array\n} else {\n    itt.outArray.push(msg.payload)\n}\n\n//Goto next object\nitt.index ++;\n\n//If there are stil objects left to iterate goto the next one in the original array\nif (itt.index < itt.inArray.length) {\n    nextObj = msg;\n    msg.payload = itt.inArray[itt.index];\n\n//otherwise pass the out array as the payload\n} else {\n    out = msg;\n    msg.payload = itt.outArray;\n    delete msg.iterationInfo;\n}\n\nreturn [nextObj, out];","outputs":"2","noerr":0,"x":347,"y":220,"wires":[[],[]]},{"id":"55689a45.1f723c","type":"inject","z":"7d3c0404.8a142c","d":true,"name":"","topic":"","payload":"[{\"deviceID\":\"1\",\"description\":\"Hold Hands\",\"commands\":[\"SOLVE\",\"RESET\"]},{\"deviceID\":\"2\",\"description\":\"Haunted Mirror\",\"commands\":[\"SOLVE\",\"RESET\"]},{\"deviceID\":\"3\",\"description\":\"Connect the Wires\",\"commands\":[\"SOLVE\",\"RESET\"]}]","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":188.5,"y":746,"wires":[["82230ad8.c0597"]]},{"id":"d0827b4b.4ed62","type":"ui_template","z":"7d3c0404.8a142c","d":true,"group":"b0a7fccd.a7aad","name":"","order":5,"width":0,"height":0,"format":"<script>\n    // Lambda function to access the Angular Scope\n    ;(function(scope) {\n        /*\n        //Have to use $watch so we pick up new, incoming msg's\n        scope.$watch('msg.payload', function(newVal, oldVal) {\n            console.log('- Scope.msg -')\n            console.dir(scope.msg)\n\n            scope.myCalc = scope.msg.payload.b * 2\n        })\n*/\n        // Function triggered by clicking on a div\n        scope.click = function(b) {\n            if ( ! scope.myNum ) scope.myNum = 0\n            scope.myNum++\n        }\n    })(scope)\n</script>\n<p>yay</p>\n<div layout=\"row\" layout-align=\"start center\" ng-repeat=\"x in msg.deviceList\">\n  <span flex style=\"color: green\">{{x.deviceID}}</span>\n  <span flex style=\"color: red\">{{x.description}}</span>\n  <span flex style=\"color: black\" ng-repeat=\"c in x.commands\">\n      <md-button class=\"filled touched bigfont rounded vibrate\" style=\"background-color:#27ae60\" ng-click=\"send({command: c})\"> \n    {{c}}\n</md-button> \n      </span>\n      \n   \n</div>\n<p>Woo</p>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":565.5,"y":746,"wires":[["1e234d88.9425a2"]]},{"id":"1e234d88.9425a2","type":"debug","z":"7d3c0404.8a142c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":736.5,"y":746,"wires":[]},{"id":"82230ad8.c0597","type":"change","z":"7d3c0404.8a142c","name":"","rules":[{"t":"set","p":"deviceList","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370.5,"y":746,"wires":[["d0827b4b.4ed62"]]},{"id":"1cdba151.6e644f","type":"comment","z":"7d3c0404.8a142c","name":"Send Output to Device","info":"","x":1370,"y":216,"wires":[]},{"id":"b058c655.0f89e8","type":"comment","z":"7d3c0404.8a142c","name":"Log","info":"","x":190,"y":345,"wires":[]},{"id":"5f6e5edf.04df2","type":"comment","z":"729e4378.2c89bc","name":"MQTT Server Configuration","info":"","x":160.5,"y":320,"wires":[]},{"id":"d203750c.5334f8","type":"comment","z":"729e4378.2c89bc","name":"Event Triggers","info":"","x":493,"y":312,"wires":[]},{"id":"270c6d6c.777592","type":"link out","z":"729e4378.2c89bc","name":"MQTT Received From Device","links":[],"x":673.5,"y":397,"wires":[]},{"id":"e83be4cd.ec605","type":"mqtt in","z":"729e4378.2c89bc","name":"On MessageReceived","topic":"FromDevice/#","qos":"2","datatype":"auto","broker":"125f6c81.60151b","x":515,"y":398,"wires":[["270c6d6c.777592"]]},{"id":"46d39312.a254ac","type":"comment","z":"729e4378.2c89bc","name":"Logging","info":"","x":96,"y":495,"wires":[]},{"id":"80cc6d15.42daf","type":"comment","z":"729e4378.2c89bc","name":"Game Control","info":"","x":129,"y":43,"wires":[]},{"id":"347e8aea.205fb6","type":"comment","z":"729e4378.2c89bc","name":"Dashboard Styling","info":"","x":922,"y":79,"wires":[]},{"id":"bf8ff53e.56b93","type":"exec","z":"729e4378.2c89bc","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Activate relay","x":619.5,"y":842.5,"wires":[[],[],[]]},{"id":"76e68f0c.988278","type":"inject","z":"729e4378.2c89bc","name":"Regular trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":162.5,"y":843,"wires":[["576892a1.d28e94"]]},{"id":"576892a1.d28e94","type":"function","z":"729e4378.2c89bc","name":"Evaluate Math.random()","func":"\nreturn msg;","outputs":1,"noerr":0,"x":384.5,"y":843,"wires":[["bf8ff53e.56b93"]]},{"id":"3bb19587.9a5e3a","type":"ui_audio","z":"8f685eae.e4184","name":"","group":"b0a7fccd.a7aad","voice":"","always":true,"x":766,"y":127,"wires":[]},{"id":"9a6abecf.72e818","type":"file in","z":"8f685eae.e4184","name":"","filename":"C:\\Users\\alast\\Music\\Doctor-Who-Theme-song.mp3","format":"","chunk":false,"sendError":false,"encoding":"none","x":430,"y":102,"wires":[["3bb19587.9a5e3a"]]},{"id":"cf0716d6.f02148","type":"change","z":"8f685eae.e4184","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":551,"y":152,"wires":[["3bb19587.9a5e3a"]]},{"id":"a0512c87.5afc1","type":"ui_button","z":"8f685eae.e4184","name":"","group":"15fe206a.4a0578","order":2,"width":3,"height":1,"passthru":false,"label":"Play BGM","tooltip":"","color":"","bgcolor":"","icon":"fa-play","payload":"","payloadType":"str","topic":"","x":153.5,"y":102,"wires":[["9a6abecf.72e818"]]},{"id":"8e036047.eb2c6","type":"Mic","z":"8f685eae.e4184","d":true,"name":"","outputPayloadType":"stream","endian":"little","bitwidth":"16","encoding":"signed-integer","channels":"1","device":"plughw:1,0","rate":"22050","silenceTimeout":0,"exitOnSilence":false,"debug":false,"active":false,"x":1218.5,"y":293,"wires":[[]]},{"id":"433ce200.dd701c","type":"ui_button","z":"8f685eae.e4184","name":"","group":"15fe206a.4a0578","order":1,"width":3,"height":1,"passthru":false,"label":"Stop BGM","tooltip":"","color":"","bgcolor":"","icon":"fa-stop","payload":"","payloadType":"str","topic":"","x":143,"y":151,"wires":[["cf0716d6.f02148"]]},{"id":"ce1ef77a.c46fd8","type":"ui_media","z":"8f685eae.e4184","group":"747cfe9.0910c8","name":"","width":0,"height":0,"order":1,"category":"Room One","file":"2019-06-10 17-33-32.mp4","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":357,"y":612,"wires":[[]]},{"id":"b61cabf7.7fbf","type":"inject","z":"8f685eae.e4184","name":"","topic":"","payload":"https://ichef.bbci.co.uk/news/660/cpsprodpb/3861/production/_109133441_johnson2_getty.jpg","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":222,"y":611,"wires":[["ce1ef77a.c46fd8"]]},{"id":"3c1558f8.90d668","type":"inject","z":"7d3c0404.8a142c","name":"Simulate Device Update","topic":"FromDevice/1","payload":"{\"status\":\"error\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":141.5,"y":518,"wires":[["e7d9f132.af0958","53832eca.1b4178"]]},{"id":"f8b7ddfa.23f3b","type":"inject","z":"7d3c0404.8a142c","name":"Simulate Device Registration","topic":"FromDevice/1","payload":"{\"name\":\"test\",\"description\":\"test description\",\"status\":\"active\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":162,"y":482,"wires":[["e7d9f132.af0958","53832eca.1b4178"]]},{"id":"f30ce221.f88978","type":"ui_template","z":"7d3c0404.8a142c","group":"c832a8dc.9f8ee8","name":"Prop 1","order":1,"width":6,"height":4,"format":"<!-- See https://material.angularjs.org/latest/api/directive/mdCard -->\n<!--\n<md-card-header>\n    <md-card-header-text>Header</md-card-header-text>\n</md-card-header>\n-->\n\n<!-- See https://fontawesome.com/v4.7.0/icons/ for icons -->\n<md-card-title>\n    <md-card-title-text>\n        <p class=\"md-headline\">{{msg.payload.name}}</p>\n        <!-- <p class=\"md-subhead\">Room One</p> -->\n    </md-card-title-text>\n    <!--\n    <md-button\n        style=\"color: white !important\"\n        ng-class=\"msg.payload=='OFFLINE' ? 'md-accent md-raised md-hue-2 jk-boldwhite' : 'md-primary md-hue-3 jk-boldblack'\"\n        ng-click=\"msg.payload=(msg.payload=='ACTIVE' ? 'SOLVED' : 'ACTIVE'); send(msg);\"\n        ng-attr-title=\"Click to turn {{msg.payload=='ACTIVE' ? 'SOLVED' : 'ACTIVE'}}\"\n    >\n    -->\n    <span\n        style=\"color: white !important\"\n        ng-class=\"msg.payload=='OFFLINE' ? 'md-accent md-raised md-hue-2 jk-boldwhite' : 'md-primary md-hue-3 jk-boldblack'\"\n    >{{msg.payload.status?msg.payload.status:'Unknown'}}</span>\n    <!--\n    </md-button>\n    -->\n</md-card-title>\n<md-card-content>\n    <p>\n        {{msg.payload.description?msg.payload.description:'Unknown'}}\n    </p>\n</md-card-content>\n<md-card-actions layout=\"row\" layout-align=\"start end\">\n    <md-button ng-click=\"msg.topic='ToDevice/1'; msg.payload.command='RESET'; send(msg);\" ng-style=\"{'background-color':'blue', 'color':'white'}\">\n        <ui-icon icon=\"fa-lock\"></ui-icon>RESET\n    </md-button>\n    <md-button ng-click=\"msg.topic='ToDevice/1'; msg.payload.command='SOLVE'; send(msg);\" ng-style=\"{'background-color':'green', 'color':'white'}\">\n        <ui-icon icon=\"fa-unlock\"></ui-icon>SOLVE\n    </md-button>\n    <!--\n    <md-card-icon-actions>\n        <md-button class=\"md-icon-button\" aria-label=\"icon\">\n            <md-icon md-svg-icon=\"icon\"></md-icon>\n        </md-button>\n    </md-card-icon-actions>\n    -->\n</md-card-actions>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":933,"y":192,"wires":[["d690bf34.dce618"]]},{"id":"160463f7.6ffec4","type":"ola","z":"8ccf5ec1.fe5818","name":"","host":"192.168.1.33","port":9090,"universe":1,"size":512,"x":385,"y":191,"wires":[]},{"id":"db16f239.e42a","type":"inject","z":"8ccf5ec1.fe5818","name":"","topic":"","payload":"{\"channels\":[{\"channel\":1,\"value\":64},{\"channel\":2,\"value\":101},{\"channel\":3,\"value\":92}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":186,"y":168,"wires":[["160463f7.6ffec4"]]},{"id":"b7d3071f.d29978","type":"comment","z":"8ccf5ec1.fe5818","name":"References","info":"https://wiki.openlighting.org/index.php/ArtNet\n\nhttps://flows.nodered.org/node/node-red-contrib-ola","x":208.5,"y":119,"wires":[]},{"id":"6f09f526.02da14","type":"inject","z":"8ccf5ec1.fe5818","name":"Fade To Black","topic":"","payload":"{\"transition\":\"fade\",\"time\":5000,\"channels\":[{\"channel\":1,\"value\":0},{\"channel\":2,\"value\":0},{\"channel\":3,\"value\":0}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":204,"y":214,"wires":[["160463f7.6ffec4"]]},{"id":"db6532.7ec902d","type":"function","z":"729e4378.2c89bc","name":"Initialise Global Vars","func":"global.set(\"timeRemaining\", 3600000);\nglobal.set(\"currentTime\", Date.now());","outputs":1,"noerr":0,"x":941.5,"y":352,"wires":[[]]},{"id":"6d5a07f6.a08f18","type":"link in","z":"729e4378.2c89bc","name":"","links":["66d81421.4a3f14"],"x":781.5,"y":352,"wires":[["db6532.7ec902d"]]},{"id":"25a6f681.08178a","type":"ui_dropdown","z":"8f685eae.e4184","name":"","label":"","tooltip":"","place":"Select option","group":"15fe206a.4a0578","order":4,"width":4,"height":1,"passthru":false,"options":[{"label":"Heavy Footsteps","value":"C:\\Users\\alast\\Music\\sfx\\heavy_footsteps.wav","type":"str"},{"label":"Door Creak","value":"C:\\Users\\alast\\Music\\sfx\\gate_creak.mp3","type":"str"},{"label":"Music Box","value":"C:\\Users\\alast\\Music\\sfx\\musicbox.mp3","type":"str"},{"label":"Floorboard creak","value":"C:\\Users\\alast\\Music\\sfx\\floorboard_creak.wav","type":"str"}],"payload":"","topic":"","x":154.5,"y":288,"wires":[["39dd601f.30ef1"]]},{"id":"9012ea18.f9e668","type":"ui_button","z":"8f685eae.e4184","name":"","group":"15fe206a.4a0578","order":5,"width":2,"height":1,"passthru":false,"label":"Play SFX","tooltip":"","color":"","bgcolor":"","icon":"fa-volume-up","payload":"","payloadType":"str","topic":"","x":153,"y":349,"wires":[["a1959f52.d3a478"]]},{"id":"848a56ea.2f36b","type":"file in","z":"8f685eae.e4184","name":"","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":518,"y":320,"wires":[["bc98c4f7.031da8"]]},{"id":"bc98c4f7.031da8","type":"ui_audio","z":"8f685eae.e4184","name":"","group":"b0a7fccd.a7aad","voice":"","always":true,"x":675,"y":319,"wires":[]},{"id":"a1959f52.d3a478","type":"change","z":"8f685eae.e4184","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"filename","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":329.5,"y":350,"wires":[["848a56ea.2f36b"]]},{"id":"43a53b44.83d814","type":"catch","z":"729e4378.2c89bc","name":"","scope":null,"uncaught":false,"x":901.5,"y":563,"wires":[["2b1acabb.38c4ce"]]},{"id":"2b1acabb.38c4ce","type":"debug","z":"729e4378.2c89bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1062.5,"y":591,"wires":[]},{"id":"a7bb3c90.6205d","type":"complete","z":"729e4378.2c89bc","name":"","scope":[],"uncaught":false,"x":892.5,"y":603,"wires":[["2b1acabb.38c4ce"]]},{"id":"39dd601f.30ef1","type":"change","z":"8f685eae.e4184","name":"","rules":[{"t":"set","p":"filename","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320.5,"y":278,"wires":[[]]},{"id":"fdecb556.dbdfb","type":"comment","z":"729e4378.2c89bc","name":"Exception Handling","info":"","x":930,"y":519,"wires":[]},{"id":"5bf76e8c.93fd68","type":"ui_template","z":"7d3c0404.8a142c","group":"c832a8dc.9f8ee8","name":"Prop 2","order":2,"width":6,"height":4,"format":"<!-- See https://material.angularjs.org/latest/api/directive/mdCard -->\n<!--\n<md-card-header>\n    <md-card-header-text>Header</md-card-header-text>\n</md-card-header>\n-->\n\n<!-- See https://fontawesome.com/v4.7.0/icons/ for icons -->\n<md-card-title>\n    <md-card-title-text>\n        <p class=\"md-headline\">Fountain</p>\n        <!-- <p class=\"md-subhead\">Room One</p> -->\n    </md-card-title-text>\n    <md-button\n        style=\"color: white !important\"\n        ng-class=\"msg.payload=='OFFLINE' ? 'md-accent md-raised md-hue-2 jk-boldwhite' : 'md-primary md-hue-3 jk-boldblack'\"\n        ng-click=\"msg.payload=(msg.payload=='ACTIVE' ? 'SOLVED' : 'ACTIVE'); send(msg);\"\n        ng-attr-title=\"Click to turn {{msg.payload=='ACTIVE' ? 'SOLVED' : 'ACTIVE'}}\"\n    >\n        {{msg.payload?msg.payload:'Unknown'}}\n    </md-button>\n</md-card-title>\n<md-card-content>\n    <p>\n        Fountain tap must be turned on\n    </p>\n</md-card-content>\n<md-card-actions layout=\"row\" layout-align=\"start end\">\n    <md-button ng-click=\"msg.topic='ToDevice/2'; msg.payload='RESET'; send(msg);\" ng-style=\"{'background-color':'blue', 'color':'white'}\">\n        <ui-icon icon=\"fa-lock\"></ui-icon>RESET\n    </md-button>\n    <md-button ng-click=\"msg.topic='ToDevice/2'; msg.payload='SOLVE'; send(msg);\" ng-style=\"{'background-color':'green', 'color':'white'}\">\n        <ui-icon icon=\"fa-unlock\"></ui-icon>SOLVE\n    </md-button>\n    <!--\n    <md-card-icon-actions>\n        <md-button class=\"md-icon-button\" aria-label=\"icon\">\n            <md-icon md-svg-icon=\"icon\"></md-icon>\n        </md-button>\n    </md-card-icon-actions>\n    -->\n</md-card-actions>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":930,"y":230,"wires":[["d690bf34.dce618"]]},{"id":"41240faa.07f608","type":"ui_template","z":"7d3c0404.8a142c","group":"c832a8dc.9f8ee8","name":"Prop 3","order":3,"width":6,"height":4,"format":"<!-- See https://material.angularjs.org/latest/api/directive/mdCard -->\n<!--\n<md-card-header>\n    <md-card-header-text>Header</md-card-header-text>\n</md-card-header>\n-->\n\n<!-- See https://fontawesome.com/v4.7.0/icons/ for icons -->\n<md-card-title>\n    <md-card-title-text>\n        <p class=\"md-headline\">Retrieve Coin</p>\n        <!-- <p class=\"md-subhead\">Room One</p> -->\n    </md-card-title-text>\n    <md-button\n        style=\"color: white !important\"\n        ng-class=\"msg.payload=='OFFLINE' ? 'md-accent md-raised md-hue-2 jk-boldwhite' : 'md-primary md-hue-3 jk-boldblack'\"\n        ng-click=\"msg.payload=(msg.payload=='ACTIVE' ? 'SOLVED' : 'ACTIVE'); send(msg);\"\n        ng-attr-title=\"Click to turn {{msg.payload=='ACTIVE' ? 'SOLVED' : 'ACTIVE'}}\"\n    >\n        {{msg.payload?msg.payload:'Unknown'}}\n    </md-button>\n</md-card-title>\n<md-card-content>\n    <p>\n        Coin must be retrieved from the well\n    </p>\n</md-card-content>\n<md-card-actions layout=\"row\" layout-align=\"start end\">\n    <md-button ng-click=\"msg.topic='ToDevice/3'; msg.payload='RESET'; send(msg);\" ng-style=\"{'background-color':'blue', 'color':'white'}\">\n        <ui-icon icon=\"fa-lock\"></ui-icon>RESET\n    </md-button>\n    <md-button ng-click=\"msg.topic='ToDevice/3'; msg.payload='SOLVE'; send(msg);\" ng-style=\"{'background-color':'green', 'color':'white'}\">\n        <ui-icon icon=\"fa-unlock\"></ui-icon>SOLVE\n    </md-button>\n    <!--\n    <md-card-icon-actions>\n        <md-button class=\"md-icon-button\" aria-label=\"icon\">\n            <md-icon md-svg-icon=\"icon\"></md-icon>\n        </md-button>\n    </md-card-icon-actions>\n    -->\n</md-card-actions>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":929,"y":271,"wires":[["d690bf34.dce618"]]},{"id":"b625b48a.c81338","type":"ui_template","z":"7d3c0404.8a142c","group":"c832a8dc.9f8ee8","name":"Prop 4","order":4,"width":6,"height":4,"format":"<!-- See https://material.angularjs.org/latest/api/directive/mdCard -->\n<!--\n<md-card-header>\n    <md-card-header-text>Header</md-card-header-text>\n</md-card-header>\n-->\n\n<!-- See https://fontawesome.com/v4.7.0/icons/ for icons -->\n<md-card-title>\n    <md-card-title-text>\n        <p class=\"md-headline\">Offering to Gods</p>\n        <!-- <p class=\"md-subhead\">Room One</p> -->\n    </md-card-title-text>\n    <md-button\n        style=\"color: white !important\"\n        ng-class=\"msg.payload=='OFFLINE' ? 'md-accent md-raised md-hue-2 jk-boldwhite' : 'md-primary md-hue-3 jk-boldblack'\"\n        ng-click=\"msg.payload=(msg.payload=='ACTIVE' ? 'SOLVED' : 'ACTIVE'); send(msg);\"\n        ng-attr-title=\"Click to turn {{msg.payload=='ACTIVE' ? 'SOLVED' : 'ACTIVE'}}\"\n    >\n        {{msg.payload?msg.payload:'Unknown'}}\n    </md-button>\n</md-card-title>\n<md-card-content>\n    <p>\n        Coin must be given as offering to the gods\n    </p>\n</md-card-content>\n<md-card-actions layout=\"row\" layout-align=\"start end\">\n    <md-button ng-click=\"msg.topic='ToDevice/4'; msg.payload='RESET'; send(msg);\" ng-style=\"{'background-color':'blue', 'color':'white'}\">\n        <ui-icon icon=\"fa-lock\"></ui-icon>RESET\n    </md-button>\n    <md-button ng-click=\"msg.topic='ToDevice/4'; msg.payload='SOLVE'; send(msg);\" ng-style=\"{'background-color':'green', 'color':'white'}\">\n        <ui-icon icon=\"fa-unlock\"></ui-icon>SOLVE\n    </md-button>\n    <!--\n    <md-card-icon-actions>\n        <md-button class=\"md-icon-button\" aria-label=\"icon\">\n            <md-icon md-svg-icon=\"icon\"></md-icon>\n        </md-button>\n    </md-card-icon-actions>\n    -->\n</md-card-actions>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":931,"y":309,"wires":[["d690bf34.dce618"]]},{"id":"8811065a.99d7e8","type":"ui_template","z":"729e4378.2c89bc","group":"325abcce.753554","name":"Log Display","order":4,"width":"30","height":2,"format":"<div ng-repeat=\"line in msg.payload track by $index\">\n  <div ng-style=\"{'margin-bottom':'1em'}\">{{line}}</div>\n</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":740,"y":673,"wires":[[]]},{"id":"3f731613.dfb2ea","type":"function","z":"729e4378.2c89bc","name":"Accumulate","func":"// Use a fn context variable to track\n// the output lines\nif ( msg.payload === false ) {\n    // This lets us reset the log list\n    // if we want to, just inject a false payload\n    var lines = [];\n} else {\n    var lines = flow.get('logLines')|| [];\n\n    // Add the new output TO THE START\n    // so that the latest output is at the top\n    // of the displayed page\n    lines.unshift(msg.payload);\n\n    // # lines could get VERY large so cause memory\n    // issues, limit to 200\n    if ( lines.length > 200 ) {\n        // too big so drop the last element\n        lines.pop();\n    }\n}\n\n// save the total output in the context var\nflow.set('logLines',lines);\n\n// output all the lines to the UI template\nmsg.payload = lines;\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":673,"wires":[["8811065a.99d7e8"]]},{"id":"43491051.d77728","type":"inject","z":"729e4378.2c89bc","name":"Clear Log Display","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":363,"y":748,"wires":[["3f731613.dfb2ea"]]},{"id":"44c87764.84d628","type":"comment","z":"729e4378.2c89bc","name":"Output Node-Red log to Dashboard (UI)","info":"See http://flows.nodered.org/flow/6dc1a137075ad93cd7c00224681afeda","x":293,"y":638,"wires":[]},{"id":"9e9de4ba.61c238","type":"ui_button","z":"729e4378.2c89bc","name":"","group":"325abcce.753554","order":2,"width":4,"height":1,"passthru":false,"label":"Clear Log","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":317.5,"y":698,"wires":[["3f731613.dfb2ea"]]},{"id":"16780697.ea9211","type":"comment","z":"8f685eae.e4184","name":"Video","info":"","x":208.5,"y":563,"wires":[]},{"id":"96a48c66.8a2b7","type":"comment","z":"729e4378.2c89bc","name":"Random Event Triggers","info":"","x":143,"y":801,"wires":[]},{"id":"b7f1aba0.0a9878","type":"link in","z":"7d3c0404.8a142c","name":"","links":["66d81421.4a3f14"],"x":851.5,"y":585,"wires":[["17cd9d5a.5066cb"]]},{"id":"17cd9d5a.5066cb","type":"function","z":"7d3c0404.8a142c","name":"","func":"var msg = {\n    \"PropList\" : [\n        {\n            \"Name\" : \"Prop 1\",\n            \"Descirpiton\" : \"Description of prop 1\",\n            \"Topic\" : \"ToDevice/1\"\n        },\n        {\n            \"Name\" : \"Prop 2\",\n            \"Descirpiton\" : \"Description of prop 2\",\n            \"Topic\" : \"ToDevice/2\"\n        },\n        {\n            \"Name\" : \"Prop 3\",\n            \"Descirpiton\" : \"Description of prop 3\",\n            \"Topic\" : \"ToDevice/3\"\n        }\n    ]\n};\n\n// global.set(\"Props\", \n\nreturn msg;","outputs":1,"noerr":0,"x":964.5,"y":604,"wires":[["2d986c03.dd82cc","26cf3302.769384"]]},{"id":"2d986c03.dd82cc","type":"debug","z":"7d3c0404.8a142c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":949.5,"y":451,"wires":[]},{"id":"26cf3302.769384","type":"ui_template","z":"7d3c0404.8a142c","group":"b0a7fccd.a7aad","name":"","order":7,"width":0,"height":0,"format":"<div ng-bind-html=\"msg\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1138.5,"y":576,"wires":[[]]},{"id":"95c3d432.25e008","type":"inject","z":"7d3c0404.8a142c","name":"","topic":"","payload":"{\"prop\":{\"name\":\"test\",\"description\":\"test description\",\"status\":\"active\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":772.5,"y":41,"wires":[["f30ce221.f88978","7cecb272.ca6434"]]},{"id":"7cecb272.ca6434","type":"debug","z":"7d3c0404.8a142c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1040.5,"y":39,"wires":[]},{"id":"5d026761.c91cf8","type":"inject","z":"7d3c0404.8a142c","name":"","topic":"","payload":"{\"prop\":{\"status\":\"solved\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":555,"y":139,"wires":[["f30ce221.f88978"]]},{"id":"53832eca.1b4178","type":"function","z":"7d3c0404.8a142c","name":"Parse JSON and update global values","func":"// Identify which prop sent the update\nvar topicparts = msg.topic.split('/');\nvar deviceID = topicparts[1];\n\n// Create a new object to represent the current prop state\nvar prop = {};\n\n// Get the current stored value of this prop,\n// Or create a new entry if we didn't previously know about it\nvar propList = global.get(\"propList\") || {};\nif(propList[deviceID]){\n    prop = propList[deviceID];\n}\n\n// Now loop over the incoming values and update the stored state\nfor (var key in msg.payload) {\n  if (msg.payload.hasOwnProperty(key)) {\n    prop[key] = msg.payload[key];\n  }\n}\n\n// Update the entry for this prop in the global array\npropList[deviceID] = prop;\nglobal.set(\"propList\", propList);\n\n// Pass the updated status through the message flow\nmsg.payload = prop;\n\n// Trigger the appropriate output\nswitch(deviceID){\n    case \"1\":\n        return [ msg, null, null, null ];\n        break;\n    case \"2\" :\n        return [ null, msg, null, null ];\n        break;\n}","outputs":4,"noerr":0,"x":568.5,"y":423,"wires":[["f30ce221.f88978","2d986c03.dd82cc"],["5bf76e8c.93fd68"],["41240faa.07f608"],["b625b48a.c81338"]]},{"id":"45f710da.795738","type":"json","z":"7d3c0404.8a142c","name":"","property":"payload","action":"","pretty":false,"x":508.5,"y":80,"wires":[[]]},{"id":"9e87a38c.d299f","type":"function","z":"7d3c0404.8a142c","name":"","func":"global.set(\"propList\", {});\nreturn msg;","outputs":0,"noerr":0,"x":247.5,"y":80,"wires":[]},{"id":"e6389e54.5ea598","type":"inject","z":"7d3c0404.8a142c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":112.5,"y":80,"wires":[["9e87a38c.d299f"]]},{"id":"b1c36bd5.3042e8","type":"comment","z":"7d3c0404.8a142c","name":"Reset global vars","info":"","x":122.5,"y":43,"wires":[]},{"id":"2a8a898e.4d2636","type":"ui_ui_control","z":"729e4378.2c89bc","name":"","events":"all","x":888.5,"y":196,"wires":[["e7526ea4.257e58"]]},{"id":"a44105c0.bf499","type":"function","z":"7d3c0404.8a142c","name":"Get latest state","func":"var propList = global.get(\"propList\") || {};\n\nvar msg1 = propList[0];\nvar msg2 = propList[2];\n\nreturn [msg1, msg2];","outputs":2,"noerr":0,"x":639.5,"y":243,"wires":[["f30ce221.f88978","2d986c03.dd82cc"],[]]},{"id":"e7526ea4.257e58","type":"link out","z":"729e4378.2c89bc","name":"UI Update","links":["91bbad40.53273"],"x":992.5,"y":196,"wires":[]},{"id":"91bbad40.53273","type":"link in","z":"7d3c0404.8a142c","name":"","links":["e7526ea4.257e58"],"x":462.5,"y":244,"wires":[["a44105c0.bf499"]]},{"id":"d690bf34.dce618","type":"change","z":"7d3c0404.8a142c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.command","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1137.5,"y":244,"wires":[["5b356eb8.ff37d","2d986c03.dd82cc"]]},{"id":"c3decead.3a806","type":"comment","z":"729e4378.2c89bc","name":"On browser refresh","info":"https://discourse.nodered.org/t/data-not-retained-with-a-browser-refresh/976/6","x":909.5,"y":159,"wires":[]}]