Node-RED/flows.json
[{"id":"729e4378.2c89bc","type":"tab","label":"Global","disabled":false,"info":""},{"id":"7d3c0404.8a142c","type":"tab","label":"Prop Control","disabled":false,"info":""},{"id":"9e321b47.961c5","type":"tab","label":"Clue Delivery","disabled":false,"info":""},{"id":"61f79e51.a3ed4","type":"tab","label":"Logging","disabled":false,"info":""},{"id":"74b12084.0a8358","type":"subflow","name":"Iterate","in":[{"x":220,"y":219,"wires":[{"id":"626a4668.5aa3"}]}],"out":[{"x":454,"y":174,"wires":[{"id":"626a4668.5aa3","port":0}]},{"x":455,"y":259,"wires":[{"id":"626a4668.5aa3","port":1}]}]},{"id":"125f6c81.60151b","type":"mqtt-broker","z":"","name":"MOSCA","broker":"localhost","port":"1883","tls":"","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9b6e4743.cfa1a8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Prop Control","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b191b70b.e2896","type":"ui_tab","z":"","name":"Room One","icon":"dashboard","disabled":false,"hidden":false},{"id":"b0a7fccd.a7aad","type":"ui_group","z":"","name":"Game Status","tab":"b191b70b.e2896","order":1,"disp":true,"width":"6","collapse":false},{"id":"ce17d70a.6327f8","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.158","port":"1883","clientid":"test-client","usetls":false,"compatmode":true,"keepalive":"120","cleansession":true,"birthTopic":"sensors/connected/test-client","birthQos":"0","birthRetain":"true","birthPayload":"1","closeTopic":"","closePayload":"","willTopic":"sensors/connected/test-client","willQos":"0","willRetain":"true","willPayload":"0"},{"id":"d94622f0.9dca68","type":"ui_group","z":"","name":"Control","tab":"3c207b36.108b44","disp":true,"width":"4","collapse":false},{"id":"90441f6f.d895e","type":"ui_group","z":"","name":"Status","tab":"3c207b36.108b44","order":1,"disp":true,"width":"6","collapse":false},{"id":"3c207b36.108b44","type":"ui_tab","z":"","name":"Logger","icon":"dashboard"},{"id":"dc30a292.d77d98","type":"ui_group","z":"","name":"Custom Message","tab":"b191b70b.e2896","order":2,"disp":true,"width":"6","collapse":false},{"id":"325abcce.753554","type":"ui_group","z":"","name":"Log","tab":"b191b70b.e2896","order":3,"disp":true,"width":"6","collapse":false},{"id":"c832a8dc.9f8ee8","type":"ui_group","z":"","name":"Puzzles","tab":"b191b70b.e2896","order":4,"disp":true,"width":"6","collapse":false},{"id":"9aa0302e.bc4c28","type":"ui_group","z":"","name":"Hints","tab":"b191b70b.e2896","order":6,"disp":true,"width":"6","collapse":false},{"id":"9e6e0a6e.966608","type":"ui_spacer","name":"spacer","group":"c832a8dc.9f8ee8","order":5,"width":"6","height":1},{"id":"2f081395.ca4cec","type":"ui_spacer","name":"spacer","group":"c832a8dc.9f8ee8","order":10,"width":"6","height":1},{"id":"ce5edb00.c61788","type":"ui_spacer","name":"spacer","group":"c832a8dc.9f8ee8","order":15,"width":"6","height":1},{"id":"5b356eb8.ff37d","type":"mqtt out","z":"7d3c0404.8a142c","name":"MQTT ToDevice","topic":"","qos":"","retain":"","broker":"125f6c81.60151b","x":1034,"y":255,"wires":[]},{"id":"ff45eae4.20fba","type":"mqtt in","z":"7d3c0404.8a142c","name":"MQTT FromDevice","topic":"/FromDevice/#","qos":"2","datatype":"auto","broker":"125f6c81.60151b","x":129,"y":247,"wires":[["d3ee1fca.f75338","e7d9f132.af0958"]]},{"id":"136581b9.889396","type":"comment","z":"7d3c0404.8a142c","name":"Device 1","info":"","x":661,"y":58,"wires":[]},{"id":"79a5d2d9.0e1a8c","type":"comment","z":"7d3c0404.8a142c","name":"Receive Input from Device","info":"","x":138,"y":206,"wires":[]},{"id":"e7d9f132.af0958","type":"switch","z":"7d3c0404.8a142c","name":"Switch Sender","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"FromDevice/1","vt":"str"},{"t":"eq","v":"FromDevice/2","vt":"str"},{"t":"eq","v":"FromDevice/3","vt":"str"},{"t":"eq","v":"FromDevice/4","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":352,"y":261,"wires":[["6593c928.5fff08"],["5fc30b94.87e244"],["961cfcd2.7095a"],["bda1d902.174f2"]]},{"id":"d3ee1fca.f75338","type":"debug","z":"7d3c0404.8a142c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":321,"y":398,"wires":[]},{"id":"50d82938.722708","type":"function","z":"61f79e51.a3ed4","name":"Store Data","func":"var local=flow.get('local') || {};\nvar topic=msg.topic;\nvar payload=msg.payload;\nvar last_payload=\"\";\nvar msg2={};\nvar by_topic=local.by_topic || false; // log by topic\nvar all_data=local.all_data || true; // log all data or only changed data\nvar store_time=local[\"store_time\"] ||false;\nvar store_topic=local[\"store_topic\"] ||false;\nvar start_logger=local[\"start_logger\"] || false;\nvar ignore_switches=local['ignore-switches'] || false;\nvar max_size =5000000; //maximum log file size\n\n//node.log(\" topic =\"+topic +\"message \"+msg.payload);\n//node.log(\" store topic =\"+ store_topic +start_logger);\n//\nfunction get_filename(topic,payload)\n{\n\n if (!(topic in local))\n\tlocal[topic]={}; //create\n\nvar filename=local[topic][\"cf_name\"] || \"log000.txt\";\n\n//node.log(filename);\nvar cf_counter=local[topic].cf_counter || 0;\nvar cf_size=local[topic].cf_size || 0;\n//node.log(\"file size=\"+cf_size +\" counter  \"+cf_counter);\ncf_size = cf_size +payload.length;\n\nif (cf_size>max_size)\n{\n//node.log(\"size limit reached\")\ncf_counter+=1\nvar count=cf_counter.toString();\nif (count.length==1)\ncount=\"00\"+count;\nif (count.length==2)\ncount=\"0\"+count;\n//\nfilename=\"log\"+count+\".txt\";\ncf_size=0;\n}\n//node.log(\"file size=\"+cf_size +\" counter  \"+cf_counter);\n//\nlocal[topic][\"cf_name\"]=filename;\nlocal[topic][\"cf_counter\"]= cf_counter;\nlocal[topic][\"cf_size\"]= cf_size;\nflow.set(\"local\",local);\nmsg2.payload=cf_counter;\n\n//\nreturn filename;\n\n\n}\nfunction message_changed(payload,topic)\n{\n  \tif (!local.all_data) //not logging all data\n\t {  \n\t\tif (!(local[topic]===undefined)) //test exists\n\t\t{\n\t\n\t\tlast_payload=local[topic][\"last_payload\"];\n\n\t\t//node.log(\"last payload \"+ last_payload);\n\t\t//node.log(\"This payload \"+ payload);\n\t\t}\n\t\telse\n\t\t\t\tlocal[\"topic\"]={}; //initialise\n\n\t\t//\n\t\tif (payload===last_payload)\n\t\t{\n\t\t//node.log(\"same data \"+topic +\"not logging\");\n\t\treturn false;\n\t\t}\n\t}  \n\treturn true;\n}\n\n//node.log(\"start_logger is \"+start_logger);\n\n\nif (start_logger)\n{\n//node.log(\"logging all data \"+local.all_data+ \"by topic\"+local.by_topic);\n\n\n\n\n//\nvar d = new Date();\nvar t = d.getTime();\ntry {\nnew_payload=JSON.parse(payload); //convert to javascript\n//node.log(\"data is already Json\");\npayload=new_payload;\n}\ncatch (e){\n\t//node.log(\"data is not Json\");\n}\n\nif (store_time && store_topic)\t\n\tpayload={\"time\":t,\"payload\":payload,\"topic\":topic};\nif (store_time && !store_topic)\n\tpayload={\"time\":t,\"payload\":payload};\nif (!store_time && store_topic)\n\tpayload={\"payload\":payload,\"topic\":topic};\nif (!store_time && !store_topic)\n\tpayload={\"payload\":payload};\t\npayload=JSON.stringify(payload);\n//node.log(\"payload is \",payload);\nif (local.by_topic==true)\n    var topic=msg.topic;\nelse\n    var topic=\"default\";\n\nvar filename=get_filename(topic,payload);\nl=topic.length;\nif (topic[l-1] !=\"/\")\nmsg.filename = \"/home/pi/logs/\"+ topic +\"/\"+filename;\nelse\nmsg.filename = \"/home/pi/logs/\"+ topic +filename;\n//node.log(\"filename= \"+msg.filename);\nmsg.payload=payload;\nif(message_changed(payload,topic))\n{\nlocal[topic][\"last_payload\"]=payload;\nflow.set('local',local);\n\nreturn [msg,msg2];\n}\nelse\nreturn [null,msg2];\n}\n\nreturn [null,null];","outputs":2,"noerr":0,"x":636,"y":164,"wires":[["f2c9223e.4d90e8"],[]]},{"id":"a7acc29e.dd1488","type":"mqtt in","z":"61f79e51.a3ed4","name":"","topic":"test/#","qos":"0","broker":"ce17d70a.6327f8","x":276,"y":164,"wires":[["50d82938.722708"]]},{"id":"f2c9223e.4d90e8","type":"file","z":"61f79e51.a3ed4","name":"log sensor data","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","x":866,"y":144,"wires":[[]]},{"id":"a0c5abb3.314dd","type":"debug","z":"61f79e51.a3ed4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":756,"y":524,"wires":[]},{"id":"d251d63c.6f2d58","type":"ui_switch","z":"61f79e51.a3ed4","name":"","label":"All Data","group":"d94622f0.9dca68","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"ALL-DATA","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":466,"y":244,"wires":[["20703a52.97ef1e"]]},{"id":"a57d603.7a9f8a","type":"ui_switch","z":"61f79e51.a3ed4","name":"","label":"Log By Topic","group":"d94622f0.9dca68","order":3,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"BY-TOPIC","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":496,"y":304,"wires":[["20703a52.97ef1e"]]},{"id":"545fffd9.54124","type":"ui_switch","z":"61f79e51.a3ed4","name":"","label":"Start Logging","group":"d94622f0.9dca68","order":1,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"START","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":506,"y":484,"wires":[["20703a52.97ef1e"]]},{"id":"47b9de6a.d90ba8","type":"inject","z":"61f79e51.a3ed4","name":"Set Initial switch states","topic":"init","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":406,"y":624,"wires":[["82febf7d.c5f4c8"]]},{"id":"d6cef5ed.af8568","type":"ui_text","z":"61f79e51.a3ed4","group":"90441f6f.d895e","order":0,"width":0,"height":0,"name":"","label":"Stop/Start","format":"{{msg.payload}}","layout":"row-spread","x":906,"y":304,"wires":[]},{"id":"dac505dd.066608","type":"ui_switch","z":"61f79e51.a3ed4","name":"","label":"Store Date-Time","group":"d94622f0.9dca68","order":4,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"STORE-TIME","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":506,"y":424,"wires":[["20703a52.97ef1e"]]},{"id":"9941ca9.fca6838","type":"ui_switch","z":"61f79e51.a3ed4","name":"","label":"Store Topic","tooltip":"","group":"d94622f0.9dca68","order":4,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"STORE-TOPIC","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":496,"y":364,"wires":[["20703a52.97ef1e"]]},{"id":"20703a52.97ef1e","type":"function","z":"61f79e51.a3ed4","name":"Set Switches","func":"var local=flow.get('local') || {};\nvar topic=msg.topic;\nvar msg1={};\nvar msg2={};\nmsg2.payload=\"\";\nvar by_topic=local[\"by_topic\"]|| false; // log by topic\nvar all_data=local[\"all_data\"] || true; // log all data or only changed data\nvar store_time=local[\"store_time\"] ||false;\nvar store_topic=local[\"store_topic\"] ||false;\nvar start_logger=local[\"start_logger\"] || false;\nvar ignore_switches=local['ignore-switches'] || false;\npayload=msg.payload;\nnode.log(\"in switch status\");\n\nfunction reset()\n{\nlocal={};\nlocal[\"all_data\"]=true\n local[\"by_topic\"]=false;   \n local[\"store_topic\"]=false; \n local[\"all_data\"]=true;\n local[\"store_time\"]=false;  \n local['ignore-switches']=false;\n local[\"start_logger\"]=false;\n \n}\n\tif (topic==\"RESET\")\n\t{\n\t    reset(); //reset stored data to default\n\t    flow.set('local',local);\n\t    msg2.payload=\"Manual Reset\";\n\t    node.log(\"start_logger is \"+local[\"start_logger\"]);\n\t    msg1.payload=\"Logging Stopped\";\n\t    return[msg1,msg2];\n\t    \n\t}\n\n\tif (topic==\"START\")\n\t{\n\t\tif (payload){\n\t\t\tnode.log(\"start_logger \");\n\t\t\tlocal[\"start_logger\"]=payload;\n\t\t\tlocal['ignore-switches']=true;\n\t\t\tflow.set('local',local);\n\t\t\tnode.log(\"start_logger \"+local.start_logger)\n\t\t\tmsg1.payload=\"Logging started\";\n\t\t\t\n\t\t\treturn [msg1,msg2];\n\t\t}\n\telse\n\t{\n\t\t\tmsg1.payload=\"Logging Stopped\";\n\t\t\tlocal[\"start_logger\"]=false;\n\t\t\treset(); //reset stored data to default\n\t\t\tflow.set('local',local);\n\t\t\tmsg2.payload=false //reset switches\n\t\t\treturn [msg1,msg2];\n\t}\n\t}\n\t\t\n\tif (topic==\"BY-TOPIC\" && !ignore_switches)\n\t{\n\t\tif (payload)\n\t\t{\n\t\t  local[\"by_topic\"]=true;\n\t\t  flow.set('local',local);\n\t\t  return [null,msg2];\n\t\t}\n\t\telse\n\t\t{\n\t\t  local[\"by_topic\"]=false;\n\t\t  flow.set('local',local);\n\t\t  return [null,msg2];\n\t\t}\t\n\t}\n\tif (topic==\"ALL-DATA\" && !ignore_switches)\n\t{\n\t\tif (payload)\n\t\t{\n\n\t\t  local[\"all_data\"]=true;\n\t\t  flow.set('local',local);\n\t\t  return [null,msg2];\n\t\t}\n\t\telse\n\t\t{\n\n\t\t  local[\"all_data\"]=false;\n\t\t  flow.set('local',local);\n\t\t  return [null,msg2];\n\t\t}\n\t}\n\tif (topic==\"STORE-TOPIC\" && !ignore_switches)\n\t{\n\t\tif (payload)\n\t\t{\n\t\t  local[\"store_topic\"]=true;\n\t\t  flow.set('local',local);\n\t\t return [null,msg2];\n\t\t}\n\telse\n\t\t{\n\t\t  local[\"store_topic\"]=false;\n\t\t  flow.set('local',local);\n\t\t  return [null,msg2];\n\t\t}\n\t}\n\t\n\tif (topic==\"STORE-TIME\" && !ignore_switches)\n\t{\n\t\tif (payload)\n\t\t{\n\t\t  local[\"store_time\"]=true;\n\t\t  flow.set('local',local);\n\t\t return [null,msg2];\n\t\t}\n\telse\n\t\t{\n\t\t  local[\"store_time\"]=false;\n\t\t  flow.set('local',local);\n\t\t return [null,msg2];\n\t\t}\n\t}\t\t\n\n\n\n\n","outputs":3,"noerr":0,"x":716,"y":364,"wires":[["d6cef5ed.af8568"],["769ba6e1.5fed48"],[]]},{"id":"82febf7d.c5f4c8","type":"ui_button","z":"61f79e51.a3ed4","name":"","group":"d94622f0.9dca68","order":0,"width":0,"height":0,"passthru":true,"label":"RESET","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"RESET","x":306,"y":504,"wires":[["20703a52.97ef1e","a0c5abb3.314dd","545fffd9.54124","dac505dd.066608","9941ca9.fca6838","a57d603.7a9f8a","374bb4aa.17f5c4"]]},{"id":"374bb4aa.17f5c4","type":"change","z":"61f79e51.a3ed4","name":"reset true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":306,"y":264,"wires":[["d251d63c.6f2d58"]]},{"id":"769ba6e1.5fed48","type":"ui_text","z":"61f79e51.a3ed4","group":"90441f6f.d895e","order":0,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":916,"y":364,"wires":[]},{"id":"31062bc7.3c2304","type":"mosca in","z":"729e4378.2c89bc","mqtt_port":"1883","mqtt_ws_port":"8080","name":"MOSCA","username":"","password":"","dburl":"","x":88,"y":401,"wires":[[]]},{"id":"3145480b.418588","type":"ui_template","z":"729e4378.2c89bc","d":true,"group":"","name":"CSS-style overrides","order":1,"width":0,"height":0,"format":"<style>\n\n/* These style overrides assume the \"Dark Theme\" is being used */\n\n/*\nUsed for dynamically amending menu/tab items\n:root {\n    --main-color: \"blue\";\n}\n[aria-label~=\"Your tab Name\"] {\n    background-color: var(--main-color,green);\n}\n\n[aria-label~=\"Home\"] + div > p::after {\n    content: 'woot' ;\n*/\n\nbody.nr-dashboard-theme {\n background-color: #333333;\n font-family: Calibri;\n}\nbutton, html, input, select, textarea {\n font-family: Calibri;\n}\nbody.nr-dashboard-theme md-content md-card {\n background-color: #33333300;\n color: #d0d0d0;\n}\n\nbody.nr-dashboard-theme md-toolbar {\n background-image: linear-gradient(to right, #404040, #737373);\n box-shadow: 0px 1px 20px #0000008a;\n}\n.nr-dashboard-theme ui-card-panel {\n background-image: linear-gradient(to bottom right, #404040, #737373);\n border: 1px solid #555555;\n box-shadow: 0 0 20px #00000066;\n}\n\n.nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n color: #2eb82e;\n text-shadow: 0 0 2px black;\n}\n\n.nr-dashboard-theme .nr-dashboard-form-button {\n background-image: linear-gradient(to bottom right, #8a8a8a6e, #00000070);\n background-color: #00ad03;\n color: #d0d0d0;\n text-shadow: 0 0 2px #525252;\n border-radius:6px;\n}\n\n.nr-dashboard-theme .nr-dashboard-button .md-button {\n background-image: linear-gradient(to bottom right, #8a8a8a6e, #00000070);\n background-color: #00ad03;\n color: #d0d0d0;\n text-shadow: 0 0 2px #525252;\n border-radius:6px;\n}\n.nr-dashboard-theme .nr-dashboard-button .md-button:hover {\n background-color: #00de00;\n}\n\n.nr-dashboard-theme .nr-dashboard-switch md-switch .md-thumb {\n background-image: linear-gradient(to bottom right, #48b349, #115009);\n}\n.nr-dashboard-button .md-button {\n box-shadow: 0 1px 3px 0 rgba(0,0,0,.26)!important;\n width: 100%!important;\n height: 100%!important;\n margin: 0!important;\n min-width: 0!important;\n min-height: 0!important;\n}\n.nr-dashboard-theme .nr-dashboard-slider .md-thumb:after {\n background-image: linear-gradient(to bottom right, #48b349, #115009);\n border-style: none;\n}\n.nr-dashboard-theme .nr-dashboard-numeric .value {\n background-color: #33333300;\n color:#d0d0d0;\n}\n\n.nr-dashboard-numeric .value {\n font-weight: 700;\n text-align: center;\n border: 0;\n}\n\n.nr-dashboard-form {\n display: inline-block;\n width: 100%;\n overflow-y: visible;\n}\n#SETTINGS_TEATED_cards {\n min-height: 260px;\n}\n\n</style>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"global","x":932,"y":118,"wires":[[]],"info":"CSS Style overrides to the Node-RED Dark theme.\n\nFrom the Dashboard node information panel (View->Dashboard), select\n - Site: Options -> Node-RED theme everywhere\n - Theme: Style -> Dark"},{"id":"33a5a48b.d9780c","type":"ui_text_input","z":"9e321b47.961c5","name":"","label":"","tooltip":"","group":"dc30a292.d77d98","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":266,"y":91,"wires":[["189c3b9e.32c51c"]]},{"id":"8451313b.6f825","type":"ui_button","z":"9e321b47.961c5","name":"","group":"dc30a292.d77d98","order":2,"width":0,"height":0,"passthru":false,"label":"Send","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"/ToDevice/Hint","x":256,"y":169,"wires":[["2dce877f.b2098"]]},{"id":"189c3b9e.32c51c","type":"change","z":"9e321b47.961c5","name":"","rules":[{"t":"set","p":"hint","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":275,"y":132,"wires":[[]]},{"id":"f3d90cc9.fe3da8","type":"comment","z":"9e321b47.961c5","name":"Custom Messages","info":"","x":295.5,"y":54,"wires":[]},{"id":"2dce877f.b2098","type":"change","z":"9e321b47.961c5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"hint","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":407,"y":169,"wires":[["e2f84272.f3b3d8"]]},{"id":"9dd1db29.8bb4c8","type":"ui_dropdown","z":"9e321b47.961c5","name":"","label":"","tooltip":"","place":"Select option","group":"9aa0302e.bc4c28","order":1,"width":0,"height":0,"passthru":true,"options":[],"payload":"","topic":"","x":659.5,"y":178,"wires":[["1953b0a2.cee737"]]},{"id":"2fdc0d9a.839022","type":"ui_button","z":"9e321b47.961c5","name":"","group":"9aa0302e.bc4c28","order":2,"width":0,"height":0,"passthru":false,"label":"Send Hint","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"/ToDevice/Hint","x":660.5,"y":270,"wires":[["9aff64ce.6bfe88"]]},{"id":"1953b0a2.cee737","type":"change","z":"9e321b47.961c5","name":"","rules":[{"t":"set","p":"custommessage","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":225,"wires":[[]]},{"id":"19d59025.a2689","type":"inject","z":"9e321b47.961c5","name":"","topic":"","payload":"[{\"H1 Look lively, sunshine!\":\"Look lively, sunshine!\"},{\"H2 Look under the table\":\"Look under the table\"},{\"H3 Did you hear something?\":\"Did you hear something?\"}]","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":648.5,"y":88,"wires":[["e4387f2b.acb9a8"]]},{"id":"e4387f2b.acb9a8","type":"change","z":"9e321b47.961c5","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":679.5,"y":134,"wires":[["9dd1db29.8bb4c8"]]},{"id":"dc3394f4.a401a8","type":"comment","z":"9e321b47.961c5","name":"Predefined Hints","info":"","x":678.5,"y":52,"wires":[]},{"id":"9aff64ce.6bfe88","type":"change","z":"9e321b47.961c5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"custommessage","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":823,"y":270,"wires":[["a8a08a0d.44db4"]]},{"id":"342d90f6.2af578","type":"link in","z":"729e4378.2c89bc","name":"Publish MQTT","links":["a8a08a0d.44db4","e2f84272.f3b3d8"],"x":170.5,"y":376,"wires":[["230cf3a.853c60c"]]},{"id":"230cf3a.853c60c","type":"mqtt out","z":"729e4378.2c89bc","name":"To MQTT","topic":"","qos":"","retain":"","broker":"125f6c81.60151b","x":274,"y":376,"wires":[]},{"id":"e2f84272.f3b3d8","type":"link out","z":"9e321b47.961c5","name":"","links":["342d90f6.2af578"],"x":523.5,"y":169,"wires":[]},{"id":"a8a08a0d.44db4","type":"link out","z":"9e321b47.961c5","name":"","links":["342d90f6.2af578"],"x":944,"y":270,"wires":[]},{"id":"2e3fc93a.9cfc36","type":"mqtt in","z":"729e4378.2c89bc","name":"From MQTT","topic":"/#","qos":"2","datatype":"auto","broker":"125f6c81.60151b","x":225,"y":424,"wires":[["1ede3513.c4b5c3"]]},{"id":"1ede3513.c4b5c3","type":"link out","z":"729e4378.2c89bc","name":"Incoming MQTT","links":["88d0a434.82e6e8"],"x":329.5,"y":424,"wires":[]},{"id":"65c6791c.527b08","type":"ui_text","z":"61f79e51.a3ed4","group":"325abcce.753554","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":560,"y":84,"wires":[]},{"id":"88d0a434.82e6e8","type":"link in","z":"61f79e51.a3ed4","name":"","links":["1ede3513.c4b5c3"],"x":441,"y":83,"wires":[["65c6791c.527b08"]]},{"id":"7a6d939f.805c34","type":"ui_button","z":"729e4378.2c89bc","name":"","group":"b0a7fccd.a7aad","order":1,"width":"2","height":"1","passthru":false,"label":"Start","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"{     \"payload\": \"on\",     \"timeout\": 600,     \"warning\": 30 }","payloadType":"json","topic":"/game","x":109.5,"y":82,"wires":[["9ab9f4b6.0e945"]]},{"id":"9a0ca69a.32222","type":"ui_button","z":"729e4378.2c89bc","name":"","group":"b0a7fccd.a7aad","order":2,"width":"2","height":"1","passthru":false,"label":"Stop","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"{     \"payload\": \"cancel\" }","payloadType":"json","topic":"/game","x":109.5,"y":121,"wires":[["6b882ffb.45874"]]},{"id":"1738533.1f46cad","type":"ui_button","z":"729e4378.2c89bc","name":"","group":"b0a7fccd.a7aad","order":3,"width":"2","height":"1","passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"orange","icon":"","payload":"{\"timeout\": 600 }","payloadType":"json","topic":"/game","x":108.5,"y":159,"wires":[["7f5898e8.c91d98"]]},{"id":"34c94c11.8a402c","type":"inject","z":"729e4378.2c89bc","name":"Tick","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":117.5,"y":237,"wires":[["22096a50.1dd7ce"]]},{"id":"221434e7.cb35c4","type":"change","z":"729e4378.2c89bc","name":"","rules":[{"t":"set","p":"gameState","pt":"global","to":"playing","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":405.5,"y":82,"wires":[[]]},{"id":"9ae5049.2ffac78","type":"change","z":"729e4378.2c89bc","name":"","rules":[{"t":"set","p":"gameState","pt":"global","to":"stopped","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":407,"y":121,"wires":[[]]},{"id":"9ab9f4b6.0e945","type":"switch","z":"729e4378.2c89bc","name":"","property":"gameState","propertyType":"global","rules":[{"t":"neq","v":"playing","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":231.5,"y":82,"wires":[["221434e7.cb35c4"]]},{"id":"6b882ffb.45874","type":"switch","z":"729e4378.2c89bc","name":"","property":"gameState","propertyType":"global","rules":[{"t":"neq","v":"stopped","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":231,"y":122,"wires":[["9ae5049.2ffac78"]]},{"id":"22096a50.1dd7ce","type":"function","z":"729e4378.2c89bc","name":"Update Game Timer","func":"// The current timestamp is injected at the start of the flow\nvar currentTime = msg.payload;\nvar lastTickTime = global.get(\"lastTickTime\")||currentTime;\nvar timeRemaining = global.get(\"timeRemaining\")||0;\nvar gameState = global.get(\"gameState\");\n\nif(gameState == \"playing\") {\n    // Reduce the time remaining based on the amount of time\n    // that has elapsed since the last tick count\n    timeRemaining -= (currentTime - lastTickTime);\n        \n    // Update the global variable\n    global.set(\"timeRemaining\", timeRemaining);\n\n    // Update the msg to carry formatted string        \n    msg.timeRemaining = timeRemaining;//(new Date(timeRemaining)).toUTCString().match(/(\\d\\d:\\d\\d:\\d\\d)/)[0];\n\n    if(timeRemaining < 60000) {\n        msg.timeColour = \"red\";\n    }\n    else {\n        msg.timeColour = \"limegreen\";\n    }\n    \n    global.set(\"lastTickTime\", currentTime);\n    \n    // Only need to update UI is timeRemaining has changed\n    return msg;\n}\n\nglobal.set(\"lastTickTime\", currentTime);\nnode.status({fill:\"green\",shape:\"dot\",text:timeRemaining});","outputs":1,"noerr":0,"x":300,"y":237,"wires":[["9b18727e.3c98c8"]]},{"id":"7f5898e8.c91d98","type":"change","z":"729e4378.2c89bc","name":"","rules":[{"t":"set","p":"timeRemaining","pt":"global","to":"3599999","tot":"num"},{"t":"set","p":"timeRemaining","pt":"msg","to":"3599999","tot":"num"},{"t":"set","p":"gameState","pt":"global","to":"stopped","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":259.5,"y":159,"wires":[["9b18727e.3c98c8"]]},{"id":"a950c39c.6d0b18","type":"ui_template","z":"729e4378.2c89bc","group":"b0a7fccd.a7aad","name":"","order":2,"width":0,"height":0,"format":"<div layout=\"row\" layout-align=\"space-between\">   <!-- Possible layout-aligns include \"start center\" -->\n<span class=\"label\">\n    Time Remaining <i class=\"fa fa-clock-o fa-2x nr-dashboard-ok\"></i>\n</span> \n    <span class=\"value\" style=\"color:{{msg.timeColour}}; font-size:xx-large;\">\n        {{msg.formattedTimeRemaining}}\n    </span>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":630,"y":219,"wires":[[]]},{"id":"e90406e0.edc23","type":"ui_text","z":"729e4378.2c89bc","d":true,"group":"b0a7fccd.a7aad","order":3,"width":0,"height":0,"name":"Time Remaining","label":"Time Remaining <i class=\"fa fa-clock-o fa-2x nr-dashboard-ok\"></i>","format":"<span style=\"font-size:xx-large; color:{{msg.timeColour}};\">{{msg.formattedTimeRemaining}}</span>","layout":"row-left","x":646.5,"y":139,"wires":[]},{"id":"9b18727e.3c98c8","type":"function","z":"729e4378.2c89bc","name":"Format Time","func":"// Message from preceeding node is in seconds - should be less than 24 hours (86400 seconds).\nvar time = (new Date(msg.timeRemaining)).toUTCString().match(/(\\d\\d:\\d\\d:\\d\\d)/)[0];\n// Pass on the string to the next node, what ever that may be. (groov Data Store for example).\nmsg.formattedTimeRemaining = time;\nreturn msg;","outputs":1,"noerr":0,"x":462,"y":177,"wires":[["e90406e0.edc23","a950c39c.6d0b18"]]},{"id":"95998e.afb58e7","type":"file","z":"729e4378.2c89bc","name":"","filename":"c:\\PropControl\\log.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":648.5,"y":611,"wires":[[]]},{"id":"c5210cec.8024a8","type":"ui_switch","z":"729e4378.2c89bc","name":"","label":"Logging","tooltip":"","group":"325abcce.753554","order":1,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":430.5,"y":567,"wires":[["632260ac.cba5d"]]},{"id":"d8d216fe.240cd","type":"mqtt in","z":"729e4378.2c89bc","name":"","topic":"/#","qos":"2","datatype":"auto","broker":"125f6c81.60151b","x":98.5,"y":611,"wires":[["42578061.beabd8"]]},{"id":"632260ac.cba5d","type":"change","z":"729e4378.2c89bc","name":"","rules":[{"t":"set","p":"logging","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":623.5,"y":567,"wires":[[]]},{"id":"42578061.beabd8","type":"switch","z":"729e4378.2c89bc","name":"","property":"logging","propertyType":"global","rules":[{"t":"eq","v":"true","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":249.5,"y":611,"wires":[["3a5bcd8f.59c502"]]},{"id":"a7a86e05.2d435","type":"change","z":"729e4378.2c89bc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":247.5,"y":567,"wires":[["c5210cec.8024a8"]]},{"id":"3a5bcd8f.59c502","type":"function","z":"729e4378.2c89bc","name":"Create Log Entry","func":"var d = new Date();\nvar t = d.getTime();\n\nvar filename = \"log.txt\";\n\nvar payload = {\"time\":t,\"payload\":msg.payload};\nmsg.payload = JSON.stringify(payload);\n\nmsg.filename = \"/PropControl/\" + filename;\n\nreturn msg;","outputs":1,"noerr":0,"x":422.5,"y":611,"wires":[["95998e.afb58e7"]]},{"id":"c1113e5d.d75cb8","type":"inject","z":"729e4378.2c89bc","name":"On Startup","topic":"Initialise","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":562.5,"y":369,"wires":[["66d81421.4a3f14"]]},{"id":"66d81421.4a3f14","type":"link out","z":"729e4378.2c89bc","name":"OnStartup","links":["a42117f2.e7b908"],"x":727.5,"y":369,"wires":[]},{"id":"a42117f2.e7b908","type":"link in","z":"729e4378.2c89bc","name":"","links":["66d81421.4a3f14"],"x":62.5,"y":568,"wires":[["a7a86e05.2d435"]]},{"id":"626a4668.5aa3","type":"function","z":"74b12084.0a8358","name":"Iterate","func":"//Node has 2 outputs - 1 for itteration and 1 for completion\nvar nextObj, out;\nvar itt = msg.iterationInfo;\n\n\n//If the iterating has not yet begun set up the iteration metadata in the msg\nif (typeof itt === 'undefined') {\n    //Make sure payload is an array\n    if( Object.prototype.toString.call(msg.payload) !== '[object Array]' ) {\n       msg.payload = [msg.payload];\n    }\n\n    msg.iterationInfo = itt = {};\n    itt.index = -1;\n    itt.inArray = msg.payload;\n    itt.outArray = [];\n\n//Otherwise just push the input to the output array\n} else {\n    itt.outArray.push(msg.payload)\n}\n\n//Goto next object\nitt.index ++;\n\n//If there are stil objects left to iterate goto the next one in the original array\nif (itt.index < itt.inArray.length) {\n    nextObj = msg;\n    msg.payload = itt.inArray[itt.index];\n\n//otherwise pass the out array as the payload\n} else {\n    out = msg;\n    msg.payload = itt.outArray;\n    delete msg.iterationInfo;\n}\n\nreturn [nextObj, out];","outputs":"2","noerr":0,"x":347,"y":220,"wires":[[],[]]},{"id":"4b763c65.7df844","type":"ui_button","z":"7d3c0404.8a142c","name":"","group":"c832a8dc.9f8ee8","order":3,"width":"2","height":"1","passthru":false,"label":"Solve","tooltip":"","color":"","bgcolor":"","icon":"","payload":"SOLVE","payloadType":"str","topic":"ToDevice/1","x":723,"y":94,"wires":[["5b356eb8.ff37d"]]},{"id":"a2ceca1c.c28d9","type":"ui_button","z":"7d3c0404.8a142c","name":"","group":"c832a8dc.9f8ee8","order":4,"width":"2","height":"1","passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"RESET","payloadType":"str","topic":"ToDevice/1","x":722.5,"y":131,"wires":[["5b356eb8.ff37d"]]},{"id":"55689a45.1f723c","type":"inject","z":"7d3c0404.8a142c","name":"","topic":"","payload":"[{\"deviceID\":\"1\",\"description\":\"Hold Hands\",\"commands\":[\"SOLVE\",\"RESET\"]},{\"deviceID\":\"2\",\"description\":\"Haunted Mirror\",\"commands\":[\"SOLVE\",\"RESET\"]},{\"deviceID\":\"3\",\"description\":\"Connect the Wires\",\"commands\":[\"SOLVE\",\"RESET\"]}]","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":163.5,"y":670,"wires":[["82230ad8.c0597"]]},{"id":"d0827b4b.4ed62","type":"ui_template","z":"7d3c0404.8a142c","group":"d94622f0.9dca68","name":"","order":17,"width":0,"height":0,"format":"<script>\n    // Lambda function to access the Angular Scope\n    ;(function(scope) {\n        /*\n        //Have to use $watch so we pick up new, incoming msg's\n        scope.$watch('msg.payload', function(newVal, oldVal) {\n            console.log('- Scope.msg -')\n            console.dir(scope.msg)\n\n            scope.myCalc = scope.msg.payload.b * 2\n        })\n*/\n        // Function triggered by clicking on a div\n        scope.click = function(b) {\n            if ( ! scope.myNum ) scope.myNum = 0\n            scope.myNum++\n        }\n    })(scope)\n</script>\n<p>yay</p>\n<div layout=\"row\" layout-align=\"start center\" ng-repeat=\"x in msg.deviceList\">\n  <span flex style=\"color: green\">{{x.deviceID}}</span>\n  <span flex style=\"color: red\">{{x.description}}</span>\n  <span flex style=\"color: black\" ng-repeat=\"c in x.commands\">\n      <md-button class=\"filled touched bigfont rounded vibrate\" style=\"background-color:#27ae60\" ng-click=\"send({command: c})\"> \n    {{c}}\n</md-button> \n      </span>\n      \n   \n</div>\n<p>Woo</p>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":540.5,"y":670,"wires":[["1e234d88.9425a2"]]},{"id":"1e234d88.9425a2","type":"debug","z":"7d3c0404.8a142c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":711.5,"y":670,"wires":[]},{"id":"82230ad8.c0597","type":"change","z":"7d3c0404.8a142c","name":"","rules":[{"t":"set","p":"deviceList","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":345.5,"y":670,"wires":[["d0827b4b.4ed62"]]},{"id":"5e0a6165.25b42","type":"ui_template","z":"7d3c0404.8a142c","d":true,"group":"c832a8dc.9f8ee8","name":"","order":20,"width":0,"height":0,"format":"<h1>Msg Topic: {{msg.topic}}</h1>\n<h2>msg.payload.a</h2>\n<div ng-bind-html=\"msg.payload.a\"></div>\n<h2>Calculated after receiving a msg</h2>\n<div>{{myCalc}}</div>\n<h2>Call a function on click</h2>\n<div ng-click=\"click(b)\">Click me to change the number</div>\n<div>{{myNum}}</div>\n\n<script>\n    // Lambda function to access the Angular Scope\n    ;(function(scope) {\n        //Have to use $watch so we pick up new, incoming msg's\n        scope.$watch('msg.payload', function(newVal, oldVal) {\n            console.log('- Scope.msg -')\n            console.dir(scope.msg)\n\n            scope.myCalc = scope.msg.payload.b * 2\n        })\n\n        // Function triggered by clicking on a div\n        scope.click = function(b) {\n            if ( ! scope.myNum ) scope.myNum = 0\n            scope.myNum++\n        }\n    })(scope)\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":698.5,"y":722,"wires":[[]]},{"id":"a082cbae.4786b","type":"ui_button","z":"7d3c0404.8a142c","name":"","group":"c832a8dc.9f8ee8","order":8,"width":"2","height":"1","passthru":false,"label":"Solve","tooltip":"","color":"","bgcolor":"","icon":"","payload":"SOLVE","payloadType":"str","topic":"ToDevice/2","x":720,"y":223,"wires":[["5b356eb8.ff37d"]]},{"id":"74fdc5cf.4735f4","type":"ui_button","z":"7d3c0404.8a142c","name":"","group":"c832a8dc.9f8ee8","order":9,"width":"2","height":"1","passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"RESET","payloadType":"str","topic":"ToDevice/2","x":719.5,"y":259,"wires":[["5b356eb8.ff37d"]]},{"id":"8acbb1e6.d6964","type":"comment","z":"7d3c0404.8a142c","name":"Device 2","info":"","x":665,"y":185,"wires":[]},{"id":"7fd7bce3.97df4c","type":"ui_button","z":"7d3c0404.8a142c","name":"","group":"c832a8dc.9f8ee8","order":13,"width":"2","height":"1","passthru":false,"label":"Solve","tooltip":"","color":"","bgcolor":"","icon":"","payload":"SOLVE","payloadType":"str","topic":"ToDevice/3","x":718,"y":355,"wires":[["5b356eb8.ff37d"]]},{"id":"84e9958e.1960f8","type":"ui_button","z":"7d3c0404.8a142c","name":"","group":"c832a8dc.9f8ee8","order":14,"width":"2","height":"1","passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"RESET","payloadType":"str","topic":"ToDevice/3","x":717.5,"y":391,"wires":[["5b356eb8.ff37d"]]},{"id":"76c66b34.38edbc","type":"comment","z":"7d3c0404.8a142c","name":"Device 3","info":"","x":673,"y":317,"wires":[]},{"id":"acf59236.3835b8","type":"ui_button","z":"7d3c0404.8a142c","name":"","group":"c832a8dc.9f8ee8","order":18,"width":"2","height":"1","passthru":false,"label":"Solve","tooltip":"","color":"","bgcolor":"","icon":"","payload":"SOLVE","payloadType":"str","topic":"ToDevice/4","x":716.5,"y":487,"wires":[["5b356eb8.ff37d"]]},{"id":"2b7133ec.74e1c4","type":"ui_button","z":"7d3c0404.8a142c","name":"","group":"c832a8dc.9f8ee8","order":19,"width":"2","height":"1","passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"RESET","payloadType":"str","topic":"ToDevice/4","x":716,"y":523,"wires":[["5b356eb8.ff37d"]]},{"id":"ddcb01a8.ccba7","type":"comment","z":"7d3c0404.8a142c","name":"Device 4","info":"","x":671.5,"y":448,"wires":[]},{"id":"6593c928.5fff08","type":"ui_switch","z":"7d3c0404.8a142c","name":"","label":"Status","tooltip":"","group":"c832a8dc.9f8ee8","order":2,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":606.5,"y":95,"wires":[[]]},{"id":"5fc30b94.87e244","type":"ui_switch","z":"7d3c0404.8a142c","name":"","label":"Status","tooltip":"","group":"c832a8dc.9f8ee8","order":7,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":604,"y":223,"wires":[[]]},{"id":"961cfcd2.7095a","type":"ui_switch","z":"7d3c0404.8a142c","name":"","label":"Status","tooltip":"","group":"c832a8dc.9f8ee8","order":12,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":603,"y":357,"wires":[[]]},{"id":"bda1d902.174f2","type":"ui_switch","z":"7d3c0404.8a142c","name":"","label":"Status","tooltip":"","group":"c832a8dc.9f8ee8","order":17,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":601,"y":490,"wires":[[]]},{"id":"1cdba151.6e644f","type":"comment","z":"7d3c0404.8a142c","name":"Send Output to Device","info":"","x":1044,"y":215,"wires":[]},{"id":"b058c655.0f89e8","type":"comment","z":"7d3c0404.8a142c","name":"Log","info":"","x":323,"y":360,"wires":[]},{"id":"692ea0f7.65b878","type":"ui_text","z":"7d3c0404.8a142c","group":"c832a8dc.9f8ee8","order":1,"width":0,"height":0,"name":"","label":"Name","format":"Place the Statues","layout":"row-spread","x":606.5,"y":132,"wires":[]},{"id":"5bdb3004.d6ea9","type":"ui_text","z":"7d3c0404.8a142c","group":"c832a8dc.9f8ee8","order":6,"width":0,"height":0,"name":"","label":"Name","format":"Open the Chest","layout":"row-spread","x":603,"y":261,"wires":[]},{"id":"b1ab4e78.9ed8c","type":"ui_text","z":"7d3c0404.8a142c","group":"c832a8dc.9f8ee8","order":11,"width":0,"height":0,"name":"","label":"Name","format":"Gears and Cogs","layout":"row-spread","x":603,"y":393,"wires":[]},{"id":"34e7de14.5cb582","type":"ui_text","z":"7d3c0404.8a142c","group":"c832a8dc.9f8ee8","order":16,"width":0,"height":0,"name":"","label":"Name","format":"Arrange the Potions","layout":"row-spread","x":602,"y":527,"wires":[]},{"id":"5f6e5edf.04df2","type":"comment","z":"729e4378.2c89bc","name":"MQTT Server Configuration","info":"","x":157.5,"y":334,"wires":[]},{"id":"d203750c.5334f8","type":"comment","z":"729e4378.2c89bc","name":"Event Triggers","info":"","x":548,"y":329,"wires":[]},{"id":"270c6d6c.777592","type":"link out","z":"729e4378.2c89bc","name":"MQTT Received From Device","links":[],"x":728.5,"y":414,"wires":[]},{"id":"e83be4cd.ec605","type":"mqtt in","z":"729e4378.2c89bc","name":"On MessageReceived","topic":"/FromDevice/#","qos":"2","datatype":"auto","broker":"125f6c81.60151b","x":570,"y":415,"wires":[["270c6d6c.777592"]]},{"id":"46d39312.a254ac","type":"comment","z":"729e4378.2c89bc","name":"Logging","info":"","x":105,"y":522,"wires":[]},{"id":"80cc6d15.42daf","type":"comment","z":"729e4378.2c89bc","name":"Game Control","info":"","x":129,"y":43,"wires":[]},{"id":"347e8aea.205fb6","type":"comment","z":"729e4378.2c89bc","name":"Styling","info":"","x":882,"y":79,"wires":[]},{"id":"bf8ff53e.56b93","type":"exec","z":"729e4378.2c89bc","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Activate relay","x":618.5,"y":691.5,"wires":[[],[],[]]},{"id":"76e68f0c.988278","type":"inject","z":"729e4378.2c89bc","name":"Regular trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":161.5,"y":692,"wires":[["576892a1.d28e94"]]},{"id":"576892a1.d28e94","type":"function","z":"729e4378.2c89bc","name":"Evaluate Math.random()","func":"\nreturn msg;","outputs":1,"noerr":0,"x":383.5,"y":692,"wires":[["bf8ff53e.56b93"]]}]