Node-RED/NodeREDscape_Extras_Timeline.json
[
    {
        "id": "f9901afc13518ca5",
        "type": "tab",
        "label": "Timeline",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b5d29fbec194c009",
        "type": "group",
        "z": "f9901afc13518ca5",
        "name": "Game Chapters",
        "style": {
            "label": true
        },
        "nodes": [
            "efea48f4c82a08bc",
            "99441b78b3cc7f44",
            "16c342fed5cafdfa",
            "5ad2f6c30799befc",
            "26ffe12265e17ee9",
            "acc52f9754dd2518",
            "9a71e1f702623cf1",
            "50c0df47516c4307",
            "0f769ae7519574c7",
            "a837a4950bd94834",
            "9d6539d52f9e7107",
            "4bf177b22e02c3bf",
            "aa463ea5bf70fcf7",
            "468e603f51252e2e",
            "7a8b5ffdf9a73a4a"
        ],
        "x": 114,
        "y": 199,
        "w": 1622,
        "h": 322
    },
    {
        "id": "efea48f4c82a08bc",
        "type": "link in",
        "z": "f9901afc13518ca5",
        "g": "b5d29fbec194c009",
        "name": "On Tick",
        "links": [
            "37eab63bc5230576"
        ],
        "x": 155,
        "y": 380,
        "wires": [
            [
                "16c342fed5cafdfa"
            ]
        ]
    },
    {
        "id": "99441b78b3cc7f44",
        "type": "rbe",
        "z": "f9901afc13518ca5",
        "g": "b5d29fbec194c009",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "chapterNum",
        "topi": "topic",
        "x": 650,
        "y": 380,
        "wires": [
            [
                "5ad2f6c30799befc"
            ]
        ]
    },
    {
        "id": "16c342fed5cafdfa",
        "type": "function",
        "z": "f9901afc13518ca5",
        "g": "b5d29fbec194c009",
        "name": "Assign Chapter Number",
        "func": "var timeRemaining = global.get(\"timeRemaining\") || 0;\n\n// Less than 10 minutes remaining\nif(timeRemaining < 10 * 1000 * 60){\n    msg.chapterNum = 4;\n}\n// Less than 20 minutes remaining\nelse if (timeRemaining < 20 * 1000 * 60) {\n    msg.chapterNum = 3;\n}\n// Less than 30 minutes remaining\nelse if (timeRemaining < 30 * 1000 * 60) {\n    msg.chapterNum = 2;\n}\n// Less than 40 minutes remaining\nelse if (timeRemaining < 40 * 1000 * 60) {\n    msg.chapterNum = 1;\n}\n// More than 40 minutes remaining\nelse {\n    msg.chapterNum = 0;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 380,
        "wires": [
            [
                "99441b78b3cc7f44"
            ]
        ]
    },
    {
        "id": "5ad2f6c30799befc",
        "type": "switch",
        "z": "f9901afc13518ca5",
        "g": "b5d29fbec194c009",
        "name": "",
        "property": "chapterNum",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 810,
        "y": 380,
        "wires": [
            [
                "4bf177b22e02c3bf"
            ],
            [
                "aa463ea5bf70fcf7"
            ],
            [
                "468e603f51252e2e"
            ],
            [
                "7a8b5ffdf9a73a4a"
            ]
        ]
    },
    {
        "id": "26ffe12265e17ee9",
        "type": "link out",
        "z": "f9901afc13518ca5",
        "g": "b5d29fbec194c009",
        "name": "In-Game Display Out",
        "mode": "link",
        "links": [
            "a4a9969470c26952"
        ],
        "x": 1695,
        "y": 380,
        "wires": []
    },
    {
        "id": "acc52f9754dd2518",
        "type": "trigger",
        "z": "f9901afc13518ca5",
        "g": "b5d29fbec194c009",
        "name": "",
        "op1": "./media/Pexels Videos 3853.mp4",
        "op2": " ",
        "op1type": "str",
        "op2type": "str",
        "duration": "5",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1320,
        "y": 380,
        "wires": [
            [
                "9d6539d52f9e7107"
            ]
        ]
    },
    {
        "id": "9a71e1f702623cf1",
        "type": "comment",
        "z": "f9901afc13518ca5",
        "g": "b5d29fbec194c009",
        "name": "Switch when chapter number changes",
        "info": "",
        "x": 720,
        "y": 320,
        "wires": []
    },
    {
        "id": "50c0df47516c4307",
        "type": "comment",
        "z": "f9901afc13518ca5",
        "g": "b5d29fbec194c009",
        "name": "Trigger video overlay on game display, then clear again",
        "info": "",
        "x": 1470,
        "y": 340,
        "wires": []
    },
    {
        "id": "0f769ae7519574c7",
        "type": "comment",
        "z": "f9901afc13518ca5",
        "g": "b5d29fbec194c009",
        "name": "Calculate chapter from time remaining",
        "info": "",
        "x": 360,
        "y": 340,
        "wires": []
    },
    {
        "id": "a837a4950bd94834",
        "type": "comment",
        "z": "f9901afc13518ca5",
        "g": "b5d29fbec194c009",
        "name": "Assign appropriate action based on new chapter entered",
        "info": "",
        "x": 1180,
        "y": 240,
        "wires": []
    },
    {
        "id": "9d6539d52f9e7107",
        "type": "uib-update",
        "z": "f9901afc13518ca5",
        "g": "b5d29fbec194c009",
        "name": "",
        "topic": "",
        "mode": "update",
        "modeSourceType": "update",
        "cssSelector": "#overlayVideo",
        "cssSelectorType": "str",
        "slotSourceProp": "",
        "slotSourcePropType": "str",
        "attribsSource": "{ \"src\": payload }",
        "attribsSourceType": "jsonata",
        "slotPropMarkdown": false,
        "x": 1540,
        "y": 380,
        "wires": [
            [
                "26ffe12265e17ee9"
            ]
        ]
    },
    {
        "id": "4bf177b22e02c3bf",
        "type": "change",
        "z": "f9901afc13518ca5",
        "g": "b5d29fbec194c009",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "./media/Pexels Videos 3853.mp4",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 300,
        "wires": [
            [
                "acc52f9754dd2518"
            ]
        ]
    },
    {
        "id": "aa463ea5bf70fcf7",
        "type": "change",
        "z": "f9901afc13518ca5",
        "g": "b5d29fbec194c009",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "./media/Black - 13495.mp4",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 360,
        "wires": [
            [
                "acc52f9754dd2518"
            ]
        ]
    },
    {
        "id": "468e603f51252e2e",
        "type": "change",
        "z": "f9901afc13518ca5",
        "g": "b5d29fbec194c009",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "./media/Lava - 47031.mp4",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 420,
        "wires": [
            [
                "acc52f9754dd2518"
            ]
        ]
    },
    {
        "id": "7a8b5ffdf9a73a4a",
        "type": "change",
        "z": "f9901afc13518ca5",
        "g": "b5d29fbec194c009",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "./media/Bible - 105673.mp4",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 480,
        "wires": [
            [
                "acc52f9754dd2518"
            ]
        ]
    },
    {
        "id": "98cdd73586e17b4a",
        "type": "comment",
        "z": "f9901afc13518ca5",
        "name": "Timeline",
        "info": "",
        "x": 200,
        "y": 40,
        "wires": []
    },
    {
        "id": "6a99df99babb8c47",
        "type": "comment",
        "z": "f9901afc13518ca5",
        "name": "This flow illustrates how to create events triggered at certain points in a game timeline",
        "info": "",
        "x": 460,
        "y": 80,
        "wires": []
    },
    {
        "id": "d0335e2ede689eb4",
        "type": "comment",
        "z": "f9901afc13518ca5",
        "name": "This example subdivides time into four chapters, based on the game timer",
        "info": "",
        "x": 420,
        "y": 120,
        "wires": []
    },
    {
        "id": "1f515fe16e75070b",
        "type": "comment",
        "z": "f9901afc13518ca5",
        "name": "A different video is triggered on the in-game display as the game enters each chapter",
        "info": "",
        "x": 460,
        "y": 160,
        "wires": []
    }
]