Node-RED/NodeREDscape_Core_GameControl_flow.json
[
    {
        "id": "f5a6f1b2.e1c8b8",
        "type": "tab",
        "label": "Game Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f489b4f.77216c8",
        "type": "ui_button",
        "z": "f5a6f1b2.e1c8b8",
        "name": "",
        "group": "d4775169.bf997",
        "order": 2,
        "width": 2,
        "height": 1,
        "passthru": true,
        "label": "Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "icon": "fa-play",
        "payload": "{\"msg\":{\"payload\":\"gamestart\",\"timeout\":600,\"warning\":30}}",
        "payloadType": "json",
        "topic": "/game",
        "x": 233.5,
        "y": 119,
        "wires": [
            [
                "bf8f4db6.72037"
            ]
        ]
    },
    {
        "id": "e513edce.c7954",
        "type": "ui_button",
        "z": "f5a6f1b2.e1c8b8",
        "name": "",
        "group": "d4775169.bf997",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": true,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "icon": "fa-stop",
        "payload": "{     \"payload\": \"cancel\" }",
        "payloadType": "json",
        "topic": "/game",
        "x": 233.5,
        "y": 169,
        "wires": [
            [
                "33f3733e.3c5734"
            ]
        ]
    },
    {
        "id": "7a7d5c99.79b90c",
        "type": "ui_button",
        "z": "f5a6f1b2.e1c8b8",
        "name": "",
        "group": "d4775169.bf997",
        "order": 4,
        "width": 2,
        "height": 1,
        "passthru": true,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "orange",
        "icon": "fa-fast-backward",
        "payload": "{\"timeout\": 600 }",
        "payloadType": "json",
        "topic": "/game",
        "x": 232.5,
        "y": 222,
        "wires": [
            [
                "f95def24.f8cbd",
                "c9289f5e.1fb3b8"
            ]
        ]
    },
    {
        "id": "70e0bd06.9b2fbc",
        "type": "inject",
        "z": "f5a6f1b2.e1c8b8",
        "name": "Tick",
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 89.5,
        "y": 72,
        "wires": [
            [
                "938c3e12.54529"
            ]
        ]
    },
    {
        "id": "4b7f5b26.530a54",
        "type": "change",
        "z": "f5a6f1b2.e1c8b8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gameState",
                "pt": "global",
                "to": "playing",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 529.5,
        "y": 119,
        "wires": [
            [
                "b32763f3.44a74"
            ]
        ]
    },
    {
        "id": "5e3ddd53.b75afc",
        "type": "change",
        "z": "f5a6f1b2.e1c8b8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gameState",
                "pt": "global",
                "to": "stopped",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "timeRemaining",
                "pt": "msg",
                "to": "timeRemaining",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 511,
        "y": 169,
        "wires": [
            [
                "77ad8e3.0d3aaf",
                "171ea618.d8a322"
            ]
        ]
    },
    {
        "id": "bf8f4db6.72037",
        "type": "switch",
        "z": "f5a6f1b2.e1c8b8",
        "name": "",
        "property": "gameState",
        "propertyType": "global",
        "rules": [
            {
                "t": "neq",
                "v": "playing",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 355.5,
        "y": 119,
        "wires": [
            [
                "4b7f5b26.530a54"
            ]
        ]
    },
    {
        "id": "33f3733e.3c5734",
        "type": "switch",
        "z": "f5a6f1b2.e1c8b8",
        "name": "",
        "property": "gameState",
        "propertyType": "global",
        "rules": [
            {
                "t": "neq",
                "v": "stopped",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 354,
        "y": 169,
        "wires": [
            [
                "5e3ddd53.b75afc"
            ]
        ]
    },
    {
        "id": "4d7e1089.00cba",
        "type": "function",
        "z": "f5a6f1b2.e1c8b8",
        "name": "Update Game Timer",
        "func": "// The current timestamp is injected at the start of the flow\nvar currentTime = msg.payload;\nvar lastTickTime = global.get(\"lastTickTime\")||currentTime;\nvar timeRemaining = global.get(\"timeRemaining\")||0;\nvar gameState = global.get(\"gameState\");\n\nif(gameState == \"playing\") {\n    // Reduce the time remaining based on the amount of time\n    // that has elapsed since the last tick count\n    timeRemaining -= (currentTime - lastTickTime);\n    \n    // Update the global variable\n    global.set(\"timeRemaining\", timeRemaining);\n\n    if(timeRemaining < 60000) {\n        msg.timeColour = \"red\";\n    }\n    else {\n        msg.timeColour = \"limegreen\";\n    }\n}\nelse {\n    msg.timeColour = \"white\";\n}\n\n    // Update the msg to carry formatted string        \n    msg.timeRemaining = timeRemaining;\n    \n    global.set(\"lastTickTime\", currentTime);\n    node.status({fill:\"green\",shape:\"dot\",text:timeRemaining});\n    // Only need to update UI is timeRemaining has changed\n    return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 516,
        "y": 285,
        "wires": [
            [
                "77ad8e3.0d3aaf"
            ]
        ]
    },
    {
        "id": "f95def24.f8cbd",
        "type": "change",
        "z": "f5a6f1b2.e1c8b8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "timeRemaining",
                "pt": "global",
                "to": "3599999",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "timeRemaining",
                "pt": "msg",
                "to": "3599999",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "gameState",
                "pt": "global",
                "to": "stopped",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 383.5,
        "y": 222,
        "wires": [
            [
                "77ad8e3.0d3aaf"
            ]
        ]
    },
    {
        "id": "708ca4ee.e8572c",
        "type": "ui_template",
        "z": "f5a6f1b2.e1c8b8",
        "group": "d4775169.bf997",
        "name": "",
        "order": 1,
        "width": "6",
        "height": "4",
        "format": "<md-card-title>\n    <md-card-title-text>\n        <p class=\"md-headline\">Time Remaining</p>\n    </md-card-title-text>\n    <span ng-class=\"'fa fa-clock-o fa-2x'\"></span>\n</md-card-title>\n<md-card-content>\n    <div style=\"text-align:center\">\n        <span class=\"value\" style=\"color:{{msg.timeColour}}; font-size:3em;\">\n            {{msg.formattedTimeRemaining}}\n        </span>\n    </div>\n</md-card-content>\n\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1008,
        "y": 221,
        "wires": [
            []
        ]
    },
    {
        "id": "77ad8e3.0d3aaf",
        "type": "function",
        "z": "f5a6f1b2.e1c8b8",
        "name": "Format Time As HH:MM:SS",
        "func": "// msg.timeRemaining is in milliseconds\nvar t = msg.timeRemaining / 1000;\nvar h = Math.floor(t / 3600);\nvar m = Math.floor(t % 3600 / 60);\nvar s = Math.floor(t % 3600 % 60);\n\n// Format into hh:mm:ss\nmsg.formattedTimeRemaining = (\"0\" + h).slice(-2) + \":\" + (\"0\" + m).slice(-2) + \":\" + (\"0\" + s).slice(-2);\n\n// Update the editor node\nnode.status({fill:\"green\", shape:\"dot\", text:msg.formattedTimeRemaining});\n\n// Forward the message along the flow\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 800,
        "y": 221,
        "wires": [
            [
                "708ca4ee.e8572c"
            ]
        ]
    },
    {
        "id": "c7ef37c.a770748",
        "type": "inject",
        "z": "f5a6f1b2.e1c8b8",
        "name": "On Initialisation",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "Initialise",
        "payload": "",
        "payloadType": "date",
        "x": 118.5,
        "y": 26,
        "wires": [
            [
                "8a4dffa5.a7935"
            ]
        ]
    },
    {
        "id": "8a4dffa5.a7935",
        "type": "link out",
        "z": "f5a6f1b2.e1c8b8",
        "name": "On System Start",
        "links": [
            "ce5e1241.adb708",
            "891fa554.e2eb",
            "48e2b7d3.9ebd3",
            "a42117f2.e7b908",
            "b382fdf1.42dfd",
            "753e49af.e1fbf8",
            "ab728aab.10a15",
            "7a212126.b73c78",
            "bca49e2.3ae506",
            "fec95a4b.bb6bf",
            "84bae66b.0b1488"
        ],
        "x": 260.5,
        "y": 26,
        "wires": []
    },
    {
        "id": "be6cd9b7.de26a8",
        "type": "comment",
        "z": "f5a6f1b2.e1c8b8",
        "name": "Other Event Triggers",
        "info": "",
        "x": 140,
        "y": 360,
        "wires": []
    },
    {
        "id": "dd31298f.6fb86",
        "type": "link out",
        "z": "f5a6f1b2.e1c8b8",
        "name": "MQTT Received From Device",
        "links": [
            "6a1a5ffa.b196"
        ],
        "x": 285.5,
        "y": 400,
        "wires": []
    },
    {
        "id": "8459e9c9.81c4d",
        "type": "mqtt in",
        "z": "f5a6f1b2.e1c8b8",
        "name": "On MessageReceived",
        "topic": "#",
        "qos": "2",
        "datatype": "auto",
        "broker": "125f6c81.60151b",
        "x": 140,
        "y": 400,
        "wires": [
            [
                "dd31298f.6fb86"
            ]
        ]
    },
    {
        "id": "4d5e8308.a1c22c",
        "type": "function",
        "z": "f5a6f1b2.e1c8b8",
        "name": "Initialise Global Vars",
        "func": "global.set(\"gameState\", \"stopped\");\nglobal.set(\"timeRemaining\", 3600000);\nglobal.set(\"currentTime\", Date.now());\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510.5,
        "y": 26,
        "wires": [
            []
        ]
    },
    {
        "id": "48e2b7d3.9ebd3",
        "type": "link in",
        "z": "f5a6f1b2.e1c8b8",
        "name": "",
        "links": [
            "8a4dffa5.a7935"
        ],
        "x": 350.5,
        "y": 26,
        "wires": [
            [
                "4d5e8308.a1c22c"
            ]
        ]
    },
    {
        "id": "17d2550c.fbe88b",
        "type": "ui_ui_control",
        "z": "f5a6f1b2.e1c8b8",
        "name": "",
        "events": "all",
        "x": 106.5,
        "y": 491,
        "wires": [
            [
                "1fb5ba48.258b4e"
            ]
        ]
    },
    {
        "id": "1fb5ba48.258b4e",
        "type": "link out",
        "z": "f5a6f1b2.e1c8b8",
        "name": "On Browser Refresh",
        "links": [
            "91bbad40.53273"
        ],
        "x": 210.5,
        "y": 491,
        "wires": []
    },
    {
        "id": "8243f269.7db488",
        "type": "comment",
        "z": "f5a6f1b2.e1c8b8",
        "name": "On browser refresh",
        "info": "https://discourse.nodered.org/t/data-not-retained-with-a-browser-refresh/976/6",
        "x": 127.5,
        "y": 454,
        "wires": []
    },
    {
        "id": "938c3e12.54529",
        "type": "link out",
        "z": "f5a6f1b2.e1c8b8",
        "name": "On Tick",
        "links": [
            "81cfa1d4.86b898",
            "300cc64d.abaf1a",
            "d9928e8d.c5c588",
            "c0f514cb.a0e9c8",
            "e1535ac3.a19198",
            "e4a697a8.359b38",
            "f64afdb2.ae6738",
            "8bdfc662.b74d28"
        ],
        "x": 186.5,
        "y": 72,
        "wires": []
    },
    {
        "id": "b32763f3.44a74",
        "type": "link out",
        "z": "f5a6f1b2.e1c8b8",
        "name": "On Game Start",
        "links": [
            "65781ff6.32997"
        ],
        "x": 706.5,
        "y": 119,
        "wires": []
    },
    {
        "id": "12704866.f27d88",
        "type": "comment",
        "z": "f5a6f1b2.e1c8b8",
        "name": "On Game Start",
        "info": "",
        "x": 806.5,
        "y": 119,
        "wires": []
    },
    {
        "id": "171ea618.d8a322",
        "type": "link out",
        "z": "f5a6f1b2.e1c8b8",
        "name": "On Game Stop",
        "links": [
            "b6c64fbb.744e7"
        ],
        "x": 789.5,
        "y": 169,
        "wires": []
    },
    {
        "id": "73be7381.9ca13c",
        "type": "inject",
        "z": "f5a6f1b2.e1c8b8",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 98.5,
        "y": 118,
        "wires": [
            [
                "f489b4f.77216c8"
            ]
        ]
    },
    {
        "id": "d7dfb6a1.285b8",
        "type": "inject",
        "z": "f5a6f1b2.e1c8b8",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100.5,
        "y": 170,
        "wires": [
            [
                "e513edce.c7954"
            ]
        ]
    },
    {
        "id": "a25045d6.97529",
        "type": "inject",
        "z": "f5a6f1b2.e1c8b8",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 98.5,
        "y": 223,
        "wires": [
            [
                "7a7d5c99.79b90c"
            ]
        ]
    },
    {
        "id": "48cfc2e9.f9e0f4",
        "type": "comment",
        "z": "f5a6f1b2.e1c8b8",
        "name": "On Game Stop",
        "info": "",
        "x": 890,
        "y": 169,
        "wires": []
    },
    {
        "id": "300cc64d.abaf1a",
        "type": "link in",
        "z": "f5a6f1b2.e1c8b8",
        "name": "",
        "links": [
            "938c3e12.54529"
        ],
        "x": 367.5,
        "y": 285,
        "wires": [
            [
                "4d7e1089.00cba"
            ]
        ]
    },
    {
        "id": "c9289f5e.1fb3b8",
        "type": "link out",
        "z": "f5a6f1b2.e1c8b8",
        "name": "On Game Reset",
        "links": [
            "b72df54c.54dbc8",
            "f476429e.39f778"
        ],
        "x": 322.5,
        "y": 344,
        "wires": []
    },
    {
        "id": "d4775169.bf997",
        "type": "ui_group",
        "name": "Main",
        "tab": "",
        "order": 5,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "125f6c81.60151b",
        "type": "mqtt-broker",
        "name": "MQTT Server",
        "broker": "localhost",
        "port": "1883",
        "tls": "",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]