Node-RED/NodeREDscape_Extras_Timeline.json
[
    {
        "id": "f9901afc13518ca5",
        "type": "tab",
        "label": "Timeline",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "efea48f4c82a08bc",
        "type": "link in",
        "z": "f9901afc13518ca5",
        "name": "link in 56",
        "links": [
            "c7c4685c94a69e6f"
        ],
        "x": 155,
        "y": 280,
        "wires": [
            [
                "16c342fed5cafdfa"
            ]
        ]
    },
    {
        "id": "99441b78b3cc7f44",
        "type": "rbe",
        "z": "f9901afc13518ca5",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "chapterNum",
        "topi": "topic",
        "x": 520,
        "y": 280,
        "wires": [
            [
                "5ad2f6c30799befc"
            ]
        ]
    },
    {
        "id": "16c342fed5cafdfa",
        "type": "function",
        "z": "f9901afc13518ca5",
        "name": "Assign Chapter Number",
        "func": "var timeRemaining = global.get(\"timeRemaining\") || 0;\n\nif(timeRemaining < 10 * 1000 * 60){\n    msg.chapterNum = 4;\n}\nelse if (timeRemaining < 20 * 1000 * 60) {\n    msg.chapterNum = 3;\n}\nelse if (timeRemaining < 30 * 1000 * 60) {\n    msg.chapterNum = 2;\n}\nelse if (timeRemaining < 40 * 1000 * 60) {\n    msg.chapterNum = 1;\n}\nelse {\n    msg.chapterNum = 0;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 280,
        "wires": [
            [
                "99441b78b3cc7f44"
            ]
        ]
    },
    {
        "id": "5ad2f6c30799befc",
        "type": "switch",
        "z": "f9901afc13518ca5",
        "name": "",
        "property": "chapterNum",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 660,
        "y": 280,
        "wires": [
            [
                "acc52f9754dd2518"
            ],
            [
                "8b9c7ac2fb4b0bc8"
            ],
            [
                "9d9b2e72d317bf5c"
            ],
            [
                "f449a1d605935665"
            ]
        ]
    },
    {
        "id": "26ffe12265e17ee9",
        "type": "link out",
        "z": "f9901afc13518ca5",
        "name": "In-Game Display Out",
        "mode": "link",
        "links": [
            "a4a9969470c26952"
        ],
        "x": 1275,
        "y": 280,
        "wires": []
    },
    {
        "id": "ba8a63609e91e9b5",
        "type": "change",
        "z": "f9901afc13518ca5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "videoOverlaySrc",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 220,
        "wires": [
            [
                "26ffe12265e17ee9"
            ]
        ]
    },
    {
        "id": "acc52f9754dd2518",
        "type": "trigger",
        "z": "f9901afc13518ca5",
        "name": "",
        "op1": "/Pexels Videos 3853.mp4",
        "op2": " ",
        "op1type": "str",
        "op2type": "str",
        "duration": "5",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 860,
        "y": 220,
        "wires": [
            [
                "ba8a63609e91e9b5"
            ]
        ]
    },
    {
        "id": "2f20e90185a773a9",
        "type": "change",
        "z": "f9901afc13518ca5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "videoOverlaySrc",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 260,
        "wires": [
            [
                "26ffe12265e17ee9"
            ]
        ]
    },
    {
        "id": "8b9c7ac2fb4b0bc8",
        "type": "trigger",
        "z": "f9901afc13518ca5",
        "name": "",
        "op1": "/Black - 13495.mp4",
        "op2": " ",
        "op1type": "str",
        "op2type": "str",
        "duration": "5",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 860,
        "y": 260,
        "wires": [
            [
                "2f20e90185a773a9"
            ]
        ]
    },
    {
        "id": "4790c760e54ef947",
        "type": "change",
        "z": "f9901afc13518ca5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "videoOverlaySrc",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 300,
        "wires": [
            [
                "26ffe12265e17ee9"
            ]
        ]
    },
    {
        "id": "9d9b2e72d317bf5c",
        "type": "trigger",
        "z": "f9901afc13518ca5",
        "name": "",
        "op1": "/Lava - 47031.mp4",
        "op2": " ",
        "op1type": "str",
        "op2type": "str",
        "duration": "5",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 860,
        "y": 300,
        "wires": [
            [
                "4790c760e54ef947"
            ]
        ]
    },
    {
        "id": "31c4dd0942cf0246",
        "type": "change",
        "z": "f9901afc13518ca5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "videoOverlaySrc",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 340,
        "wires": [
            [
                "26ffe12265e17ee9"
            ]
        ]
    },
    {
        "id": "f449a1d605935665",
        "type": "trigger",
        "z": "f9901afc13518ca5",
        "name": "",
        "op1": "/Bible - 105673.mp4",
        "op2": " ",
        "op1type": "str",
        "op2type": "str",
        "duration": "5",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 860,
        "y": 340,
        "wires": [
            [
                "31c4dd0942cf0246"
            ]
        ]
    },
    {
        "id": "9a71e1f702623cf1",
        "type": "comment",
        "z": "f9901afc13518ca5",
        "name": "Continue only when chapter number changes",
        "info": "",
        "x": 570,
        "y": 200,
        "wires": []
    },
    {
        "id": "50c0df47516c4307",
        "type": "comment",
        "z": "f9901afc13518ca5",
        "name": "Assign appropriate video overlay, then clear again",
        "info": "",
        "x": 990,
        "y": 180,
        "wires": []
    }
]