Node-RED/NodeREDscape_Prop_RFID_flow.json
[
    {
        "id": "a1538f107b6f4fdc",
        "type": "tab",
        "label": "RFID",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f6cd596f08218abf",
        "type": "group",
        "z": "a1538f107b6f4fdc",
        "name": "Initial state set on system startup / reset",
        "style": {
            "label": true
        },
        "nodes": [
            "fe525b913c466898",
            "91f5a57b8686c80a",
            "fad501df9730e3cd",
            "5f8ee5e00e91f276",
            "de4fe69d187abf2f"
        ],
        "x": 94,
        "y": 79,
        "w": 462,
        "h": 122
    },
    {
        "id": "83ec599797030eba",
        "type": "group",
        "z": "a1538f107b6f4fdc",
        "name": "Receive updates from device",
        "style": {
            "label": true
        },
        "nodes": [
            "eae1ab410ce116f7",
            "e515b2cbd3fd607a",
            "1c527c4b5a4abf42",
            "9db6f797af565f6d",
            "74647cf8af72f5f2",
            "c1ae3a0b21703c42",
            "01a1a7c17f18ab07",
            "e5e353a6553e1faa",
            "d244cacd33b48c04",
            "b0bbeb33dee663d4",
            "3cb93ab39a48537e"
        ],
        "x": 84,
        "y": 239,
        "w": 972,
        "h": 282
    },
    {
        "id": "287cddd6953c1cbd",
        "type": "group",
        "z": "a1538f107b6f4fdc",
        "name": "Send updates to device",
        "style": {
            "label": true
        },
        "nodes": [
            "9b390b713b48f7f6",
            "aab1e2292b20982c",
            "e7783caa4d468f89",
            "3ee03b513fbbadf7",
            "8033bc0ae52a4c01",
            "3420a7e0ad035902",
            "4365ef5bec7a3903",
            "cc71ea4ed2e4c080",
            "6c35a9477115b5aa",
            "bb4ebba85fdd4601",
            "a90458d48e7c2815",
            "32e73d5c4a486c53",
            "37c1a8d31de5fbb2",
            "9fc231e6df2382ba",
            "3f91f7ba74150349",
            "68cad1500c99a097",
            "37b74efcb7be79f6",
            "e324bf88c28b9632",
            "7b161ea468c88e5f"
        ],
        "x": 1084,
        "y": 259,
        "w": 422,
        "h": 502
    },
    {
        "id": "217067ffa17d7c85",
        "type": "group",
        "z": "a1538f107b6f4fdc",
        "name": "Dashboard controls",
        "style": {
            "label": true
        },
        "nodes": [
            "717ad61c6b53591d",
            "8a055186d1dd9b0f",
            "d32f3cda43abd08a",
            "33d5db47a22c7468",
            "7b830cddb6dc1176",
            "46fe3fba38d8ec55",
            "5cf9f3f76f7e865f",
            "a2cf83622d7edd2d"
        ],
        "x": 94,
        "y": 559,
        "w": 542,
        "h": 202
    },
    {
        "id": "d2b09579688e10ae",
        "type": "group",
        "z": "a1538f107b6f4fdc",
        "name": "Game Events",
        "style": {
            "label": true
        },
        "nodes": [
            "936acb30e1aa36d2",
            "00a7ef4e7793a8ae",
            "bf18e4a24416a052",
            "5391d11b8ac651f5"
        ],
        "x": 584,
        "y": 79,
        "w": 432,
        "h": 82
    },
    {
        "id": "d244cacd33b48c04",
        "type": "json",
        "z": "a1538f107b6f4fdc",
        "g": "83ec599797030eba",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 610,
        "y": 360,
        "wires": [
            [
                "b0bbeb33dee663d4"
            ]
        ]
    },
    {
        "id": "b0bbeb33dee663d4",
        "type": "function",
        "z": "a1538f107b6f4fdc",
        "g": "83ec599797030eba",
        "name": "Parse JSON and update stored state",
        "func": "// Retrieve the ID of the prop used in this flow\nvar propid = flow.get(\"payload.id\");\n\n// Get the current stored value of this prop,\n// Or create a new entry if we didn't previously know about it\nvar prop = global.get(propid) || {};\n\n// Now loop over the incoming values and update the stored state\nvar count = 0;\nfor (var key in msg.payload) {\n  if (msg.payload.hasOwnProperty(key)) {\n    prop[key] = msg.payload[key];\n    count++;\n  }\n}\n\n// Save the global value again\nglobal.set(propid, prop);\n\n// Pass the updated status through the message flow\nmsg.payload = prop;\n\n// Update the dashboard editor\nnode.status({fill:\"green\", shape:\"dot\", text:count + \" values updated\"});\n\n// Pass the value along the flow\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 360,
        "wires": [
            [
                "3cb93ab39a48537e"
            ]
        ]
    },
    {
        "id": "717ad61c6b53591d",
        "type": "ui_button",
        "z": "a1538f107b6f4fdc",
        "g": "217067ffa17d7c85",
        "name": "RESET",
        "group": "8f886ae1479c4797",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-lock",
        "payload": "{\"command\":\"RESET\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 180,
        "y": 720,
        "wires": [
            [
                "33d5db47a22c7468"
            ]
        ]
    },
    {
        "id": "8a055186d1dd9b0f",
        "type": "ui_button",
        "z": "a1538f107b6f4fdc",
        "g": "217067ffa17d7c85",
        "name": "SOLVE",
        "group": "8f886ae1479c4797",
        "order": 3,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Solve",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-unlock",
        "payload": "{\"command\":\"SOLVE\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 190,
        "y": 660,
        "wires": [
            [
                "d32f3cda43abd08a"
            ]
        ]
    },
    {
        "id": "fe525b913c466898",
        "type": "change",
        "z": "a1538f107b6f4fdc",
        "g": "f6cd596f08218abf",
        "name": "Configuration",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "flow",
                "to": "{\"id\":\"RFID-1\",\"name\":\"RFID\",\"description\":\"Players must scan the correct RFID tag\",\"state\":\"UNSOLVED\",\"ip\":\"0.0.0.0\",\"port\":\"23\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 140,
        "wires": [
            [
                "de4fe69d187abf2f"
            ]
        ]
    },
    {
        "id": "91f5a57b8686c80a",
        "type": "link in",
        "z": "a1538f107b6f4fdc",
        "g": "f6cd596f08218abf",
        "name": "On Initialisation",
        "links": [
            "758310f9eb5818de"
        ],
        "x": 135,
        "y": 120,
        "wires": [
            [
                "fe525b913c466898"
            ]
        ]
    },
    {
        "id": "eae1ab410ce116f7",
        "type": "mqtt in",
        "z": "a1538f107b6f4fdc",
        "g": "83ec599797030eba",
        "name": "MQTT FromDevice",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "125f6c81.60151b",
        "nl": false,
        "rap": false,
        "inputs": 1,
        "x": 390,
        "y": 280,
        "wires": [
            [
                "d244cacd33b48c04"
            ]
        ]
    },
    {
        "id": "e515b2cbd3fd607a",
        "type": "udp in",
        "z": "a1538f107b6f4fdc",
        "d": true,
        "g": "83ec599797030eba",
        "name": "",
        "iface": "",
        "port": "161",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "utf8",
        "x": 420,
        "y": 320,
        "wires": [
            [
                "d244cacd33b48c04"
            ]
        ]
    },
    {
        "id": "1c527c4b5a4abf42",
        "type": "tcp in",
        "z": "a1538f107b6f4fdc",
        "d": true,
        "g": "83ec599797030eba",
        "name": "",
        "server": "server",
        "host": "",
        "port": "80",
        "datamode": "stream",
        "datatype": "buffer",
        "newline": "",
        "topic": "",
        "trim": false,
        "base64": false,
        "tls": "",
        "x": 430,
        "y": 400,
        "wires": [
            [
                "d244cacd33b48c04"
            ]
        ]
    },
    {
        "id": "9db6f797af565f6d",
        "type": "serial in",
        "z": "a1538f107b6f4fdc",
        "d": true,
        "g": "83ec599797030eba",
        "name": "",
        "serial": "5487261c.78129",
        "x": 430,
        "y": 360,
        "wires": [
            [
                "d244cacd33b48c04"
            ]
        ]
    },
    {
        "id": "74647cf8af72f5f2",
        "type": "websocket in",
        "z": "a1538f107b6f4fdc",
        "d": true,
        "g": "83ec599797030eba",
        "name": "",
        "server": "4e976676.9e1538",
        "client": "",
        "x": 410,
        "y": 440,
        "wires": [
            [
                "d244cacd33b48c04"
            ]
        ]
    },
    {
        "id": "c1ae3a0b21703c42",
        "type": "http in",
        "z": "a1538f107b6f4fdc",
        "d": true,
        "g": "83ec599797030eba",
        "name": "",
        "url": "/FromDevice",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 390,
        "y": 480,
        "wires": [
            [
                "d244cacd33b48c04"
            ]
        ]
    },
    {
        "id": "9b390b713b48f7f6",
        "type": "mqtt out",
        "z": "a1538f107b6f4fdc",
        "g": "287cddd6953c1cbd",
        "name": "MQTT ToDevice",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "125f6c81.60151b",
        "x": 1400,
        "y": 300,
        "wires": []
    },
    {
        "id": "aab1e2292b20982c",
        "type": "tcp out",
        "z": "a1538f107b6f4fdc",
        "d": true,
        "g": "287cddd6953c1cbd",
        "name": "",
        "host": "",
        "port": "",
        "beserver": "client",
        "base64": false,
        "end": false,
        "tls": "",
        "x": 1430,
        "y": 540,
        "wires": []
    },
    {
        "id": "e7783caa4d468f89",
        "type": "serial out",
        "z": "a1538f107b6f4fdc",
        "d": true,
        "g": "287cddd6953c1cbd",
        "name": "",
        "serial": "",
        "x": 1430,
        "y": 380,
        "wires": []
    },
    {
        "id": "3ee03b513fbbadf7",
        "type": "udp out",
        "z": "a1538f107b6f4fdc",
        "g": "287cddd6953c1cbd",
        "name": "",
        "addr": "",
        "iface": "",
        "port": "",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 1430,
        "y": 460,
        "wires": []
    },
    {
        "id": "8033bc0ae52a4c01",
        "type": "websocket out",
        "z": "a1538f107b6f4fdc",
        "d": true,
        "g": "287cddd6953c1cbd",
        "name": "",
        "server": "4e976676.9e1538",
        "client": "",
        "x": 1400,
        "y": 620,
        "wires": []
    },
    {
        "id": "3420a7e0ad035902",
        "type": "http request",
        "z": "a1538f107b6f4fdc",
        "d": true,
        "g": "287cddd6953c1cbd",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1410,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "fad501df9730e3cd",
        "type": "link in",
        "z": "a1538f107b6f4fdc",
        "g": "f6cd596f08218abf",
        "name": "On Reset",
        "links": [
            "c9289f5e.1fb3b8",
            "4f97d4b38ed5c552"
        ],
        "x": 135,
        "y": 160,
        "wires": [
            [
                "fe525b913c466898"
            ]
        ]
    },
    {
        "id": "936acb30e1aa36d2",
        "type": "change",
        "z": "a1538f107b6f4fdc",
        "g": "d2b09579688e10ae",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "payload.command",
                "pt": "msg",
                "to": "RESET",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 120,
        "wires": [
            [
                "bf18e4a24416a052"
            ]
        ]
    },
    {
        "id": "4365ef5bec7a3903",
        "type": "change",
        "z": "a1538f107b6f4fdc",
        "g": "287cddd6953c1cbd",
        "name": "Set Target IP and Port",
        "rules": [
            {
                "t": "set",
                "p": "ip",
                "pt": "msg",
                "to": "payload.ip",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "port",
                "pt": "msg",
                "to": "payload.port",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 440,
        "wires": [
            [
                "3ee03b513fbbadf7"
            ]
        ]
    },
    {
        "id": "46fe3fba38d8ec55",
        "type": "link out",
        "z": "a1538f107b6f4fdc",
        "g": "217067ffa17d7c85",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "18404cad9ee52512",
            "9fc231e6df2382ba",
            "3f91f7ba74150349",
            "68cad1500c99a097",
            "37b74efcb7be79f6",
            "e324bf88c28b9632",
            "7b161ea468c88e5f"
        ],
        "x": 595,
        "y": 680,
        "wires": []
    },
    {
        "id": "01a1a7c17f18ab07",
        "type": "change",
        "z": "a1538f107b6f4fdc",
        "g": "83ec599797030eba",
        "name": "Subscribe",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "subscribe",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "'FromDevice/' & $$.payload.id",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 280,
        "wires": [
            [
                "eae1ab410ce116f7"
            ]
        ]
    },
    {
        "id": "cc71ea4ed2e4c080",
        "type": "change",
        "z": "a1538f107b6f4fdc",
        "g": "287cddd6953c1cbd",
        "name": "Set URL",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "'ToDevice/' & $flowContext('id')",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 680,
        "wires": [
            [
                "3420a7e0ad035902"
            ]
        ]
    },
    {
        "id": "6c35a9477115b5aa",
        "type": "change",
        "z": "a1538f107b6f4fdc",
        "g": "287cddd6953c1cbd",
        "name": "Set Host and Port",
        "rules": [
            {
                "t": "set",
                "p": "host",
                "pt": "msg",
                "to": "payload.ip",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "port",
                "pt": "msg",
                "to": "payload.port",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1270,
        "y": 520,
        "wires": [
            [
                "aab1e2292b20982c"
            ]
        ]
    },
    {
        "id": "d32f3cda43abd08a",
        "type": "change",
        "z": "a1538f107b6f4fdc",
        "g": "217067ffa17d7c85",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.id",
                "pt": "msg",
                "to": "payload.id",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "payload.command",
                "pt": "msg",
                "to": "SOLVE",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 660,
        "wires": [
            [
                "7b830cddb6dc1176"
            ]
        ]
    },
    {
        "id": "33d5db47a22c7468",
        "type": "change",
        "z": "a1538f107b6f4fdc",
        "g": "217067ffa17d7c85",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.id",
                "pt": "msg",
                "to": "payload.id",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "payload.command",
                "pt": "msg",
                "to": "RESET",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 720,
        "wires": [
            [
                "7b830cddb6dc1176"
            ]
        ]
    },
    {
        "id": "5f8ee5e00e91f276",
        "type": "link out",
        "z": "a1538f107b6f4fdc",
        "g": "f6cd596f08218abf",
        "name": "On Config Set",
        "mode": "link",
        "links": [
            "e5e353a6553e1faa",
            "80df62030689a0b8",
            "a0c1bac628768a7b",
            "bb4ebba85fdd4601",
            "a90458d48e7c2815",
            "32e73d5c4a486c53",
            "0e6a7ea34ed569b3",
            "a2cf83622d7edd2d"
        ],
        "x": 515,
        "y": 140,
        "wires": []
    },
    {
        "id": "e5e353a6553e1faa",
        "type": "link in",
        "z": "a1538f107b6f4fdc",
        "g": "83ec599797030eba",
        "name": "link in 2",
        "links": [
            "5f8ee5e00e91f276"
        ],
        "x": 125,
        "y": 280,
        "wires": [
            [
                "01a1a7c17f18ab07"
            ]
        ]
    },
    {
        "id": "bb4ebba85fdd4601",
        "type": "link in",
        "z": "a1538f107b6f4fdc",
        "g": "287cddd6953c1cbd",
        "name": "link in 6",
        "links": [
            "5f8ee5e00e91f276"
        ],
        "x": 1125,
        "y": 440,
        "wires": [
            [
                "4365ef5bec7a3903"
            ]
        ]
    },
    {
        "id": "a90458d48e7c2815",
        "type": "link in",
        "z": "a1538f107b6f4fdc",
        "g": "287cddd6953c1cbd",
        "name": "link in 7",
        "links": [
            "5f8ee5e00e91f276"
        ],
        "x": 1145,
        "y": 520,
        "wires": [
            [
                "6c35a9477115b5aa"
            ]
        ]
    },
    {
        "id": "32e73d5c4a486c53",
        "type": "link in",
        "z": "a1538f107b6f4fdc",
        "g": "287cddd6953c1cbd",
        "name": "link in 8",
        "links": [
            "5f8ee5e00e91f276"
        ],
        "x": 1165,
        "y": 680,
        "wires": [
            [
                "cc71ea4ed2e4c080"
            ]
        ]
    },
    {
        "id": "de4fe69d187abf2f",
        "type": "function",
        "z": "a1538f107b6f4fdc",
        "g": "f6cd596f08218abf",
        "name": "Store",
        "func": "// Retrieve the ID of the prop used in this flow\nvar propid = flow.get(\"payload.id\");\n\n// Get the current stored value of this prop,\n// Or create a new entry if we didn't previously know about it\nvar prop = global.get(propid) || {};\n\n// Now loop over the incoming values and update the stored state\nvar count = 0;\nfor (var key in msg.payload) {\n  if (msg.payload.hasOwnProperty(key)) {\n    prop[key] = msg.payload[key];\n    count++;\n  }\n}\n\n// Save the global value again\nglobal.set(propid, prop);\n\n// Pass the updated status through the message flow\nmsg.payload = prop;\n\n// Update the dashboard editor\nnode.status({fill:\"green\", shape:\"dot\", text:count + \" values updated\"});\n\n// Pass the value along the flow\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 140,
        "wires": [
            [
                "5f8ee5e00e91f276"
            ]
        ]
    },
    {
        "id": "37c1a8d31de5fbb2",
        "type": "change",
        "z": "a1538f107b6f4fdc",
        "g": "287cddd6953c1cbd",
        "name": "Set Topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "'ToDevice/' & $flowContext('payload.id')",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 300,
        "wires": [
            [
                "9b390b713b48f7f6"
            ]
        ]
    },
    {
        "id": "7b830cddb6dc1176",
        "type": "json",
        "z": "a1538f107b6f4fdc",
        "g": "217067ffa17d7c85",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 510,
        "y": 680,
        "wires": [
            [
                "46fe3fba38d8ec55"
            ]
        ]
    },
    {
        "id": "9fc231e6df2382ba",
        "type": "link in",
        "z": "a1538f107b6f4fdc",
        "g": "287cddd6953c1cbd",
        "name": "link in 9",
        "links": [
            "46fe3fba38d8ec55",
            "5391d11b8ac651f5"
        ],
        "x": 1145,
        "y": 300,
        "wires": [
            [
                "37c1a8d31de5fbb2"
            ]
        ]
    },
    {
        "id": "3f91f7ba74150349",
        "type": "link in",
        "z": "a1538f107b6f4fdc",
        "g": "287cddd6953c1cbd",
        "name": "link in 10",
        "links": [
            "46fe3fba38d8ec55",
            "5391d11b8ac651f5"
        ],
        "x": 1345,
        "y": 380,
        "wires": [
            [
                "e7783caa4d468f89"
            ]
        ]
    },
    {
        "id": "68cad1500c99a097",
        "type": "link in",
        "z": "a1538f107b6f4fdc",
        "g": "287cddd6953c1cbd",
        "name": "link in 11",
        "links": [
            "46fe3fba38d8ec55",
            "5391d11b8ac651f5"
        ],
        "x": 1345,
        "y": 480,
        "wires": [
            [
                "3ee03b513fbbadf7"
            ]
        ]
    },
    {
        "id": "37b74efcb7be79f6",
        "type": "link in",
        "z": "a1538f107b6f4fdc",
        "g": "287cddd6953c1cbd",
        "name": "link in 12",
        "links": [
            "46fe3fba38d8ec55",
            "5391d11b8ac651f5"
        ],
        "x": 1345,
        "y": 560,
        "wires": [
            [
                "aab1e2292b20982c"
            ]
        ]
    },
    {
        "id": "e324bf88c28b9632",
        "type": "link in",
        "z": "a1538f107b6f4fdc",
        "g": "287cddd6953c1cbd",
        "name": "link in 13",
        "links": [
            "46fe3fba38d8ec55",
            "5391d11b8ac651f5"
        ],
        "x": 1305,
        "y": 720,
        "wires": [
            [
                "3420a7e0ad035902"
            ]
        ]
    },
    {
        "id": "7b161ea468c88e5f",
        "type": "link in",
        "z": "a1538f107b6f4fdc",
        "g": "287cddd6953c1cbd",
        "name": "link in 14",
        "links": [
            "46fe3fba38d8ec55",
            "5391d11b8ac651f5"
        ],
        "x": 1285,
        "y": 620,
        "wires": [
            [
                "8033bc0ae52a4c01"
            ]
        ]
    },
    {
        "id": "00a7ef4e7793a8ae",
        "type": "link in",
        "z": "a1538f107b6f4fdc",
        "g": "d2b09579688e10ae",
        "name": "link in 15",
        "links": [],
        "x": 625,
        "y": 120,
        "wires": [
            [
                "936acb30e1aa36d2"
            ]
        ]
    },
    {
        "id": "5391d11b8ac651f5",
        "type": "link out",
        "z": "a1538f107b6f4fdc",
        "g": "d2b09579688e10ae",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "18404cad9ee52512",
            "9fc231e6df2382ba",
            "3f91f7ba74150349",
            "68cad1500c99a097",
            "37b74efcb7be79f6",
            "e324bf88c28b9632",
            "7b161ea468c88e5f"
        ],
        "x": 975,
        "y": 120,
        "wires": []
    },
    {
        "id": "bf18e4a24416a052",
        "type": "json",
        "z": "a1538f107b6f4fdc",
        "g": "d2b09579688e10ae",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 890,
        "y": 120,
        "wires": [
            [
                "5391d11b8ac651f5"
            ]
        ]
    },
    {
        "id": "5cf9f3f76f7e865f",
        "type": "ui_template",
        "z": "a1538f107b6f4fdc",
        "g": "217067ffa17d7c85",
        "group": "8f886ae1479c4797",
        "name": "Dashboard Panel",
        "order": 1,
        "width": "6",
        "height": "6",
        "format": "<md-card-title>\n    <md-card-title-text>\n        <p class=\"md-headline\">{{msg.payload.name}}</p>\n    </md-card-title-text>\n    <span ng-class=\"msg.payload.state=='SOLVED' ? 'fa fa-unlock fa-2x' : 'fa fa-lock fa-2x'\"></span>\n</md-card-title>\n<md-card-content>\n    <div ng-style=\"{width:'100%',height:'8px','background-color':msg.payload.state=='SOLVED' ? 'green' : 'red'}\" ></div>\n    <p>\n        {{msg.payload.description?msg.payload.description:'Unknown'}}\n    </p>\n    <div style=\"text-align:center\">\n        <span style=\"font-size: 2em;\">{{msg.payload.input == '000000000000000' ? 'No Tag' : msg.payload.input}}&nbsp;</span>\n    </div>\n    <div style=\"height:60px;\">&nbsp;</div>\n</md-card-content>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 390,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "3cb93ab39a48537e",
        "type": "link out",
        "z": "a1538f107b6f4fdc",
        "g": "83ec599797030eba",
        "name": "link out 8",
        "mode": "link",
        "links": [
            "a2cf83622d7edd2d"
        ],
        "x": 1015,
        "y": 360,
        "wires": []
    },
    {
        "id": "a2cf83622d7edd2d",
        "type": "link in",
        "z": "a1538f107b6f4fdc",
        "g": "217067ffa17d7c85",
        "name": "link in 29",
        "links": [
            "5f8ee5e00e91f276",
            "3cb93ab39a48537e"
        ],
        "x": 265,
        "y": 600,
        "wires": [
            [
                "5cf9f3f76f7e865f"
            ]
        ]
    },
    {
        "id": "8f886ae1479c4797",
        "type": "ui_group",
        "name": "RFID",
        "tab": "a38c3d325d960343",
        "order": 3,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "125f6c81.60151b",
        "type": "mqtt-broker",
        "name": "MQTT Server",
        "broker": "localhost",
        "port": "1883",
        "tls": "",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "5487261c.78129",
        "type": "serial-port",
        "serialport": "COM4",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "4e976676.9e1538",
        "type": "websocket-listener",
        "path": "/ws/input",
        "wholemsg": "false"
    },
    {
        "id": "a38c3d325d960343",
        "type": "ui_tab",
        "name": "Main",
        "icon": "dashboard",
        "order": 0,
        "disabled": false,
        "hidden": false
    }
]