Node-RED/NodeREDscape_Core_In-GameDisplay_flow.json
[
    {
        "id": "7daa0e0f.94fa2",
        "type": "tab",
        "label": "In-Game Display",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8e9d4fc868cd9abc",
        "type": "group",
        "z": "7daa0e0f.94fa2",
        "name": "Game Time",
        "style": {
            "label": true
        },
        "nodes": [
            "4582c4d0.5f7514",
            "ad0ff882.98e9e8",
            "b87de174.0904f",
            "cdf5f82c.df5a6",
            "0a6a3a37e5124120",
            "e5a16602705051b4",
            "0c49790606029a9a"
        ],
        "x": 54,
        "y": 259,
        "w": 782,
        "h": 122
    },
    {
        "id": "b6e8e1a1e254255d",
        "type": "group",
        "z": "7daa0e0f.94fa2",
        "name": "Dashboard-Triggered Content",
        "style": {
            "label": true
        },
        "nodes": [
            "b782529.f84303",
            "be0ceb5e.052c2",
            "60685308.193364",
            "e010597f183d18d3",
            "5b5594959cae269d",
            "e8e7614b0f0b087d",
            "248e8aa4daf653fd",
            "2317359a0cc526c7",
            "08dc603866e4fa96",
            "6d7436b072e2e30c",
            "3882bd533d90d4d9",
            "feba8bf0fef2fc29",
            "b63c11c1d8ab89d0",
            "071e4004aa5720c6",
            "79e70de3055f1be7",
            "a968fe8160c21c32",
            "984ba29d19a7117f",
            "b0dcaa5b50a76803",
            "e7719e3bb7ad01d4",
            "c05cf02d0d3d308d",
            "a710abaab60de1be",
            "5badc7e7b71741ef",
            "fc19babf24737e50",
            "e9745b55be8f18d0",
            "34f0a3980ec4d988",
            "7e5a8c9268e85380",
            "767b857301c493d4",
            "f95bedd089a91366",
            "63262430131e5e73",
            "8256b1896007606c",
            "d41b547f7eeaba29"
        ],
        "x": 54,
        "y": 399,
        "w": 1172,
        "h": 622
    },
    {
        "id": "e17fac2177b869a8",
        "type": "group",
        "z": "7daa0e0f.94fa2",
        "name": "Send to display",
        "style": {
            "label": true
        },
        "nodes": [
            "b92a0984.a479c",
            "924ff0db.9eedf",
            "f4c671fc.65fa3",
            "be92a823.2ccd2",
            "a4a9969470c26952"
        ],
        "x": 514,
        "y": 119,
        "w": 532,
        "h": 122
    },
    {
        "id": "798c58adc45d859b",
        "type": "group",
        "z": "7daa0e0f.94fa2",
        "name": "Initialisation",
        "style": {
            "label": true
        },
        "nodes": [
            "108f0f2638f4f9fe",
            "2c02fd78688aef48",
            "6e030344ddef1ee5"
        ],
        "x": 54,
        "y": 119,
        "w": 412,
        "h": 82
    },
    {
        "id": "4582c4d0.5f7514",
        "type": "comment",
        "z": "7daa0e0f.94fa2",
        "g": "8e9d4fc868cd9abc",
        "name": "Retrieve and format global game time",
        "info": "",
        "x": 410,
        "y": 300,
        "wires": [],
        "icon": "node-red/parser-html.svg"
    },
    {
        "id": "ad0ff882.98e9e8",
        "type": "inject",
        "z": "7daa0e0f.94fa2",
        "g": "8e9d4fc868cd9abc",
        "name": "Every 1 sec",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 340,
        "wires": [
            [
                "cdf5f82c.df5a6"
            ]
        ]
    },
    {
        "id": "b87de174.0904f",
        "type": "comment",
        "z": "7daa0e0f.94fa2",
        "g": "8e9d4fc868cd9abc",
        "name": "Timer",
        "info": "",
        "x": 150,
        "y": 300,
        "wires": [],
        "icon": "node-red/parser-html.svg"
    },
    {
        "id": "cdf5f82c.df5a6",
        "type": "function",
        "z": "7daa0e0f.94fa2",
        "g": "8e9d4fc868cd9abc",
        "name": "Get Global Time Remaining",
        "func": "// Retrieve the global time remaining counter\nmsg.timeRemaining = global.get(\"timeRemaining\") || 0;\n\n// msg.timeRemaining is in milliseconds\nvar t = msg.timeRemaining / 1000;\nvar h = Math.floor(t / 3600);\nvar m = Math.floor(t % 3600 / 60);\nvar s = Math.floor(t % 3600 % 60);\n\n// Format into hh:mm:ss\nmsg.timerText = (\"0\" + h).slice(-2) + \":\" + (\"0\" + m).slice(-2) + \":\" + (\"0\" + s).slice(-2);\n\n// Update the editor node\nnode.status({fill:\"green\", shape:\"dot\", text:msg.timerText});\n\n// Forward the message along the flow\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 340,
        "wires": [
            [
                "e5a16602705051b4"
            ]
        ]
    },
    {
        "id": "b782529.f84303",
        "type": "trigger",
        "z": "7daa0e0f.94fa2",
        "g": "b6e8e1a1e254255d",
        "name": "",
        "op1": "",
        "op2": " ",
        "op1type": "nul",
        "op2type": "str",
        "duration": "5",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 480,
        "y": 480,
        "wires": [
            [
                "5badc7e7b71741ef"
            ]
        ]
    },
    {
        "id": "b92a0984.a479c",
        "type": "join",
        "z": "7daa0e0f.94fa2",
        "g": "e17fac2177b869a8",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "",
        "propertyType": "full",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": true,
        "timeout": "",
        "count": "1",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 650,
        "y": 200,
        "wires": [
            [
                "f4c671fc.65fa3"
            ]
        ]
    },
    {
        "id": "be0ceb5e.052c2",
        "type": "comment",
        "z": "7daa0e0f.94fa2",
        "g": "b6e8e1a1e254255d",
        "name": "Duration before clearing",
        "info": "",
        "x": 480,
        "y": 440,
        "wires": []
    },
    {
        "id": "924ff0db.9eedf",
        "type": "comment",
        "z": "7daa0e0f.94fa2",
        "g": "e17fac2177b869a8",
        "name": "Combine elements",
        "info": "",
        "x": 633,
        "y": 160,
        "wires": []
    },
    {
        "id": "60685308.193364",
        "type": "comment",
        "z": "7daa0e0f.94fa2",
        "g": "b6e8e1a1e254255d",
        "name": "Update UI Builder element",
        "info": "",
        "x": 720,
        "y": 480,
        "wires": []
    },
    {
        "id": "f4c671fc.65fa3",
        "type": "uibuilder",
        "z": "7daa0e0f.94fa2",
        "g": "e17fac2177b869a8",
        "name": "",
        "topic": "",
        "url": "display",
        "okToGo": true,
        "fwdInMessages": false,
        "allowScripts": true,
        "allowStyles": false,
        "copyIndex": true,
        "templateFolder": "iife-blank-client",
        "extTemplate": "",
        "showfolder": false,
        "reload": true,
        "sourceFolder": "src",
        "deployedVersion": "6.8.2",
        "showMsgUib": false,
        "title": "",
        "descr": "",
        "editurl": "vscode://vscode-remote/ssh-remote+192.168.1.56/home/pi/.node-red/uibuilder/display/?windowId=_blank",
        "x": 820,
        "y": 200,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "be92a823.2ccd2",
        "type": "comment",
        "z": "7daa0e0f.94fa2",
        "g": "e17fac2177b869a8",
        "name": "Send to display at specified URL",
        "info": "",
        "x": 890,
        "y": 160,
        "wires": []
    },
    {
        "id": "e010597f183d18d3",
        "type": "trigger",
        "z": "7daa0e0f.94fa2",
        "g": "b6e8e1a1e254255d",
        "name": "",
        "op1": "",
        "op2": " ",
        "op1type": "nul",
        "op2type": "str",
        "duration": "5",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 620,
        "y": 900,
        "wires": [
            [
                "e8e7614b0f0b087d",
                "fc19babf24737e50"
            ]
        ]
    },
    {
        "id": "5b5594959cae269d",
        "type": "change",
        "z": "7daa0e0f.94fa2",
        "g": "b6e8e1a1e254255d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gameState",
                "pt": "global",
                "to": "stopped",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 900,
        "wires": [
            [
                "e010597f183d18d3"
            ]
        ]
    },
    {
        "id": "e8e7614b0f0b087d",
        "type": "change",
        "z": "7daa0e0f.94fa2",
        "g": "b6e8e1a1e254255d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gameState",
                "pt": "global",
                "to": "playing",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "a4a9969470c26952",
        "type": "link in",
        "z": "7daa0e0f.94fa2",
        "g": "e17fac2177b869a8",
        "name": "In-Game Display",
        "links": [
            "0a6a3a37e5124120",
            "248e8aa4daf653fd",
            "6e030344ddef1ee5",
            "984ba29d19a7117f",
            "f95bedd089a91366"
        ],
        "x": 555,
        "y": 200,
        "wires": [
            [
                "b92a0984.a479c"
            ]
        ]
    },
    {
        "id": "248e8aa4daf653fd",
        "type": "link out",
        "z": "7daa0e0f.94fa2",
        "g": "b6e8e1a1e254255d",
        "name": "In-Game Display Out",
        "mode": "link",
        "links": [
            "a4a9969470c26952"
        ],
        "x": 815,
        "y": 520,
        "wires": []
    },
    {
        "id": "2317359a0cc526c7",
        "type": "ui_dropdown",
        "z": "7daa0e0f.94fa2",
        "g": "b6e8e1a1e254255d",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "fb11b34b7ab1c984",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "Look Under the Table",
                "type": "str"
            },
            {
                "label": "",
                "value": "Did you Hear a Noise?",
                "type": "str"
            },
            {
                "label": "",
                "value": "Check your coat pockets",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 140,
        "y": 480,
        "wires": [
            [
                "8256b1896007606c"
            ]
        ]
    },
    {
        "id": "08dc603866e4fa96",
        "type": "comment",
        "z": "7daa0e0f.94fa2",
        "g": "b6e8e1a1e254255d",
        "name": "Predefined Text Messages",
        "info": "",
        "x": 190,
        "y": 440,
        "wires": []
    },
    {
        "id": "6d7436b072e2e30c",
        "type": "ui_text_input",
        "z": "7daa0e0f.94fa2",
        "g": "b6e8e1a1e254255d",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "fb11b34b7ab1c984",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "",
        "sendOnBlur": false,
        "className": "",
        "topicType": "str",
        "x": 140,
        "y": 580,
        "wires": [
            [
                "d41b547f7eeaba29"
            ]
        ]
    },
    {
        "id": "3882bd533d90d4d9",
        "type": "ui_audio",
        "z": "7daa0e0f.94fa2",
        "g": "b6e8e1a1e254255d",
        "name": "",
        "group": "fb11b34b7ab1c984",
        "voice": "",
        "always": true,
        "x": 1140,
        "y": 600,
        "wires": []
    },
    {
        "id": "feba8bf0fef2fc29",
        "type": "file in",
        "z": "7daa0e0f.94fa2",
        "g": "b6e8e1a1e254255d",
        "name": "",
        "filename": "D:\\GitHub\\node-redscape\\extras\\Notification Sounds\\out-of-nowhere-message-tone.mp3",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 730,
        "y": 600,
        "wires": [
            [
                "3882bd533d90d4d9"
            ]
        ]
    },
    {
        "id": "b63c11c1d8ab89d0",
        "type": "comment",
        "z": "7daa0e0f.94fa2",
        "g": "b6e8e1a1e254255d",
        "name": "Free Text",
        "info": "",
        "x": 140,
        "y": 540,
        "wires": []
    },
    {
        "id": "071e4004aa5720c6",
        "type": "ui_button",
        "z": "7daa0e0f.94fa2",
        "g": "b6e8e1a1e254255d",
        "name": "",
        "group": "fb11b34b7ab1c984",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Play video",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 800,
        "wires": [
            [
                "5b5594959cae269d",
                "7e5a8c9268e85380"
            ]
        ]
    },
    {
        "id": "79e70de3055f1be7",
        "type": "comment",
        "z": "7daa0e0f.94fa2",
        "g": "b6e8e1a1e254255d",
        "name": "Play video overlay",
        "info": "",
        "x": 170,
        "y": 760,
        "wires": []
    },
    {
        "id": "a968fe8160c21c32",
        "type": "comment",
        "z": "7daa0e0f.94fa2",
        "g": "b6e8e1a1e254255d",
        "name": "Play audible alert",
        "info": "",
        "x": 1120,
        "y": 560,
        "wires": []
    },
    {
        "id": "0a6a3a37e5124120",
        "type": "link out",
        "z": "7daa0e0f.94fa2",
        "g": "8e9d4fc868cd9abc",
        "name": "In-Game Text Display Out",
        "mode": "link",
        "links": [
            "a4a9969470c26952"
        ],
        "x": 795,
        "y": 340,
        "wires": []
    },
    {
        "id": "984ba29d19a7117f",
        "type": "link out",
        "z": "7daa0e0f.94fa2",
        "g": "b6e8e1a1e254255d",
        "name": "In-Game Display Out",
        "mode": "link",
        "links": [
            "a4a9969470c26952"
        ],
        "x": 995,
        "y": 880,
        "wires": []
    },
    {
        "id": "b0dcaa5b50a76803",
        "type": "comment",
        "z": "7daa0e0f.94fa2",
        "g": "b6e8e1a1e254255d",
        "name": "Assign video file (should be placed in the /.node-red/uibuilder/sitename/src folder)",
        "info": "",
        "x": 600,
        "y": 760,
        "wires": []
    },
    {
        "id": "e7719e3bb7ad01d4",
        "type": "comment",
        "z": "7daa0e0f.94fa2",
        "g": "b6e8e1a1e254255d",
        "name": "Pause game while video plays",
        "info": "",
        "x": 460,
        "y": 860,
        "wires": []
    },
    {
        "id": "c05cf02d0d3d308d",
        "type": "comment",
        "z": "7daa0e0f.94fa2",
        "g": "b6e8e1a1e254255d",
        "name": "Clear video overlay",
        "info": "",
        "x": 830,
        "y": 840,
        "wires": []
    },
    {
        "id": "a710abaab60de1be",
        "type": "comment",
        "z": "7daa0e0f.94fa2",
        "g": "b6e8e1a1e254255d",
        "name": "Resume game",
        "info": "",
        "x": 820,
        "y": 940,
        "wires": []
    },
    {
        "id": "669dbbe342335aa2",
        "type": "comment",
        "z": "7daa0e0f.94fa2",
        "name": "In-Game Display - displays time remaining, a background video/image, any messages sent from the dashboard",
        "info": "",
        "x": 440,
        "y": 40,
        "wires": []
    },
    {
        "id": "91c75419fe50602e",
        "type": "comment",
        "z": "7daa0e0f.94fa2",
        "name": "Requires the node-red-contrib-uibuilder node, which can be installed from the Palette Manager",
        "info": "",
        "x": 390,
        "y": 80,
        "wires": []
    },
    {
        "id": "5badc7e7b71741ef",
        "type": "uib-update",
        "z": "7daa0e0f.94fa2",
        "g": "b6e8e1a1e254255d",
        "name": "",
        "topic": "",
        "mode": "update",
        "modeSourceType": "update",
        "cssSelector": ".displayText",
        "cssSelectorType": "str",
        "slotSourceProp": "payload",
        "slotSourcePropType": "msg",
        "attribsSource": "",
        "attribsSourceType": "msg",
        "slotPropMarkdown": false,
        "x": 690,
        "y": 520,
        "wires": [
            [
                "248e8aa4daf653fd"
            ]
        ]
    },
    {
        "id": "e5a16602705051b4",
        "type": "uib-update",
        "z": "7daa0e0f.94fa2",
        "g": "8e9d4fc868cd9abc",
        "name": "",
        "topic": "",
        "mode": "update",
        "modeSourceType": "update",
        "cssSelector": ".timerText",
        "cssSelectorType": "str",
        "slotSourceProp": "timerText",
        "slotSourcePropType": "msg",
        "attribsSource": "",
        "attribsSourceType": "msg",
        "slotPropMarkdown": false,
        "x": 670,
        "y": 340,
        "wires": [
            [
                "0a6a3a37e5124120"
            ]
        ]
    },
    {
        "id": "0c49790606029a9a",
        "type": "comment",
        "z": "7daa0e0f.94fa2",
        "g": "8e9d4fc868cd9abc",
        "name": "Update UI Builder element",
        "info": "",
        "x": 690,
        "y": 300,
        "wires": []
    },
    {
        "id": "108f0f2638f4f9fe",
        "type": "uib-update",
        "z": "7daa0e0f.94fa2",
        "g": "798c58adc45d859b",
        "name": "",
        "topic": "",
        "mode": "update",
        "modeSourceType": "update",
        "cssSelector": "#backgroundVideo",
        "cssSelectorType": "str",
        "slotSourceProp": "",
        "slotSourcePropType": "msg",
        "attribsSource": "{\"src\":\"./media/roomdisplay_bg.mp4\"}",
        "attribsSourceType": "json",
        "slotPropMarkdown": false,
        "x": 260,
        "y": 160,
        "wires": [
            [
                "6e030344ddef1ee5"
            ]
        ]
    },
    {
        "id": "2c02fd78688aef48",
        "type": "link in",
        "z": "7daa0e0f.94fa2",
        "g": "798c58adc45d859b",
        "name": "link in 8",
        "links": [
            "e0138284e2c09884"
        ],
        "x": 95,
        "y": 160,
        "wires": [
            [
                "108f0f2638f4f9fe"
            ]
        ]
    },
    {
        "id": "6e030344ddef1ee5",
        "type": "link out",
        "z": "7daa0e0f.94fa2",
        "g": "798c58adc45d859b",
        "name": "In-Game Display Out",
        "mode": "link",
        "links": [
            "a4a9969470c26952"
        ],
        "x": 425,
        "y": 160,
        "wires": []
    },
    {
        "id": "fc19babf24737e50",
        "type": "uib-update",
        "z": "7daa0e0f.94fa2",
        "g": "b6e8e1a1e254255d",
        "name": "",
        "topic": "",
        "mode": "update",
        "modeSourceType": "update",
        "cssSelector": "#overlayVideo",
        "cssSelectorType": "str",
        "slotSourceProp": "",
        "slotSourcePropType": "str",
        "attribsSource": "{\"src\":\"\"}",
        "attribsSourceType": "json",
        "slotPropMarkdown": false,
        "x": 840,
        "y": 880,
        "wires": [
            [
                "984ba29d19a7117f"
            ]
        ]
    },
    {
        "id": "e9745b55be8f18d0",
        "type": "comment",
        "z": "7daa0e0f.94fa2",
        "g": "b6e8e1a1e254255d",
        "name": "Media files that are dynamically inserted into the page (e.g. triggered videos or images) should be placed in the /.node-red/uibuilder/sitename/src folder",
        "info": "",
        "x": 590,
        "y": 720,
        "wires": []
    },
    {
        "id": "34f0a3980ec4d988",
        "type": "comment",
        "z": "7daa0e0f.94fa2",
        "g": "b6e8e1a1e254255d",
        "name": "Assign alert SFX",
        "info": "",
        "x": 500,
        "y": 560,
        "wires": []
    },
    {
        "id": "ebb4565dfcd5cf24",
        "type": "comment",
        "z": "7daa0e0f.94fa2",
        "name": "CONFIGURATION\\n Edit the ui-builder node <display> to specify a URL at which the display will be published\\n Then, click the Files tab and paste content as follows:",
        "info": "",
        "x": 1370,
        "y": 160,
        "wires": []
    },
    {
        "id": "3d4f32336e5b31ac",
        "type": "comment",
        "z": "7daa0e0f.94fa2",
        "name": "index.html (double-click to view)",
        "info": "<!doctype html>\n<html lang=\"en\"><head>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link rel=\"icon\" href=\"../uibuilder/images/node-blue.ico\">\n    <title>Node-REDscape In-Game Display</title>\n    <meta name=\"description\" content=\"Node-REDscape In-Game Display\">\n\n    <!-- Your own CSS (defaults to loading uibuilders css)-->\n    <link type=\"text/css\" rel=\"stylesheet\" href=\"./index.css\" media=\"all\">\n    <!-- Include Webfont to style text in custom font -->\n    <link href=\"https://fonts.googleapis.com/css?family=Staatliches&display=swap\" rel=\"stylesheet\">\n    <!-- #region Supporting Scripts. These MUST be in the right order. Note no leading / -->\n    <script defer src=\"../uibuilder/uibuilder.iife.min.js\"></script>\n    <script defer src=\"./index.js\">/* OPTIONAL: Put your custom code in that */</script>\n    <!-- #endregion -->\n\n</head>\n<body class=\"uib\">\n    <div id=\"app\">\n        <video autoplay muted loop class=\"background\" id=\"backgroundVideo\" src=\"./media/roomdisplay_bg.mp4\" type=\"video/mp4\"></video>\n        <video autoplay muted loop class=\"overlay\" id=\"overlayVideo\" src=\"\" type=\"video/mp4\"></video>\n        <div class=\"timerText\">Time Remaining</div>\n        <div class=\"displayText\"> - </div>\n    </div>\n</body>\n</html>",
        "x": 1190,
        "y": 220,
        "wires": []
    },
    {
        "id": "3980b60b4b85fff2",
        "type": "comment",
        "z": "7daa0e0f.94fa2",
        "name": "index.css(double-click to view)",
        "info": "body {\n    padding: 0;\n    margin: 0;\n    overflow: hidden;\n/* Don't display any scroll bars */\n}\n\n.background,\n.backgroundVideo {\n    position: fixed;\n    right: 0;\n    bottom: 0;\n    min-width: 100%;\n    min-height: 100%;\n    z-index: -10;\n}\n\n.overlay,\n.overlayVideo {\n    position: fixed;\n    left: 200px;\n    top: 100px;\n    width: 1080px;\n    height: 480px;\n    z-index: 10;\n}\n\n#app {\n    position: fixed;\n    text-align: center;\n    margin: auto;\n    font-family: 'Staatliches', cursive;\n    color: #999;\n    right: 0;\n    bottom: 0;\n    min-width: 100%;\n    min-height: 100%;\n}\n\n.timerText {\n    position: fixed;\n    top: 100px;\n    left: 400px;\n    font-size: 100px;\n}\n\n.displayText {\n    position: fixed;\n    top: 200px;\n    left: 400px;\n    font-size: 100px;\n}",
        "x": 1180,
        "y": 260,
        "wires": []
    },
    {
        "id": "767b857301c493d4",
        "type": "uib-update",
        "z": "7daa0e0f.94fa2",
        "g": "b6e8e1a1e254255d",
        "name": "",
        "topic": "",
        "mode": "update",
        "modeSourceType": "update",
        "cssSelector": "#overlayVideo",
        "cssSelectorType": "str",
        "slotSourceProp": "",
        "slotSourcePropType": "str",
        "attribsSource": "{ \"src\": payload }",
        "attribsSourceType": "jsonata",
        "slotPropMarkdown": false,
        "x": 670,
        "y": 800,
        "wires": [
            [
                "f95bedd089a91366"
            ]
        ]
    },
    {
        "id": "7e5a8c9268e85380",
        "type": "change",
        "z": "7daa0e0f.94fa2",
        "g": "b6e8e1a1e254255d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "./media/Pexels Videos 3853.mp4",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 800,
        "wires": [
            [
                "767b857301c493d4"
            ]
        ]
    },
    {
        "id": "f95bedd089a91366",
        "type": "link out",
        "z": "7daa0e0f.94fa2",
        "g": "b6e8e1a1e254255d",
        "name": "In-Game Display Out",
        "mode": "link",
        "links": [
            "a4a9969470c26952"
        ],
        "x": 825,
        "y": 800,
        "wires": []
    },
    {
        "id": "63262430131e5e73",
        "type": "link in",
        "z": "7daa0e0f.94fa2",
        "g": "b6e8e1a1e254255d",
        "name": "link in 56",
        "links": [
            "8256b1896007606c",
            "d41b547f7eeaba29"
        ],
        "x": 345,
        "y": 520,
        "wires": [
            [
                "b782529.f84303",
                "5badc7e7b71741ef",
                "feba8bf0fef2fc29"
            ]
        ]
    },
    {
        "id": "8256b1896007606c",
        "type": "link out",
        "z": "7daa0e0f.94fa2",
        "g": "b6e8e1a1e254255d",
        "name": "link out 15",
        "mode": "link",
        "links": [
            "63262430131e5e73"
        ],
        "x": 245,
        "y": 480,
        "wires": []
    },
    {
        "id": "d41b547f7eeaba29",
        "type": "link out",
        "z": "7daa0e0f.94fa2",
        "g": "b6e8e1a1e254255d",
        "name": "link out 16",
        "mode": "link",
        "links": [
            "63262430131e5e73"
        ],
        "x": 235,
        "y": 580,
        "wires": []
    },
    {
        "id": "f36dd877bcfac611",
        "type": "comment",
        "z": "7daa0e0f.94fa2",
        "name": "index.js (EMPTY)",
        "info": "",
        "x": 1140,
        "y": 300,
        "wires": []
    },
    {
        "id": "fb11b34b7ab1c984",
        "type": "ui_group",
        "name": "In-Game Display",
        "tab": "a38c3d325d960343",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a38c3d325d960343",
        "type": "ui_tab",
        "name": "Main",
        "icon": "dashboard",
        "order": 0,
        "disabled": false,
        "hidden": false
    }
]