Node-RED/NodeREDscape_Core_In-GameDisplay_flow.json
[
    {
        "id": "7daa0e0f.94fa2",
        "type": "tab",
        "label": "In-Game Display",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8e9d4fc868cd9abc",
        "type": "group",
        "z": "7daa0e0f.94fa2",
        "name": "Game Time",
        "style": {
            "label": true
        },
        "nodes": [
            "4582c4d0.5f7514",
            "ad0ff882.98e9e8",
            "b87de174.0904f",
            "cdf5f82c.df5a6",
            "0a6a3a37e5124120",
            "e5a16602705051b4",
            "0c49790606029a9a"
        ],
        "x": 94,
        "y": 299,
        "w": 782,
        "h": 122
    },
    {
        "id": "b6e8e1a1e254255d",
        "type": "group",
        "z": "7daa0e0f.94fa2",
        "name": "Dashboard-Triggered Content",
        "style": {
            "label": true
        },
        "nodes": [
            "b782529.f84303",
            "be0ceb5e.052c2",
            "60685308.193364",
            "e010597f183d18d3",
            "5b5594959cae269d",
            "e8e7614b0f0b087d",
            "248e8aa4daf653fd",
            "2317359a0cc526c7",
            "08dc603866e4fa96",
            "6d7436b072e2e30c",
            "3882bd533d90d4d9",
            "feba8bf0fef2fc29",
            "b63c11c1d8ab89d0",
            "071e4004aa5720c6",
            "79e70de3055f1be7",
            "a968fe8160c21c32",
            "7280d7b3983f313f",
            "984ba29d19a7117f",
            "b0dcaa5b50a76803",
            "e7719e3bb7ad01d4",
            "c05cf02d0d3d308d",
            "a710abaab60de1be",
            "5badc7e7b71741ef",
            "40a3695082bdc952",
            "fc19babf24737e50",
            "e9745b55be8f18d0",
            "3f83b2dfb6eae6e8",
            "34f0a3980ec4d988"
        ],
        "x": 94,
        "y": 459,
        "w": 1192,
        "h": 662
    },
    {
        "id": "e17fac2177b869a8",
        "type": "group",
        "z": "7daa0e0f.94fa2",
        "name": "Send to display",
        "style": {
            "label": true
        },
        "nodes": [
            "b92a0984.a479c",
            "924ff0db.9eedf",
            "f4c671fc.65fa3",
            "be92a823.2ccd2",
            "a4a9969470c26952"
        ],
        "x": 524,
        "y": 159,
        "w": 532,
        "h": 122
    },
    {
        "id": "798c58adc45d859b",
        "type": "group",
        "z": "7daa0e0f.94fa2",
        "name": "Initialisation",
        "style": {
            "label": true
        },
        "nodes": [
            "108f0f2638f4f9fe",
            "2c02fd78688aef48",
            "6e030344ddef1ee5"
        ],
        "x": 74,
        "y": 179,
        "w": 412,
        "h": 82
    },
    {
        "id": "4582c4d0.5f7514",
        "type": "comment",
        "z": "7daa0e0f.94fa2",
        "g": "8e9d4fc868cd9abc",
        "name": "Retrieve and format global game time",
        "info": "",
        "x": 450,
        "y": 340,
        "wires": [],
        "icon": "node-red/parser-html.svg"
    },
    {
        "id": "ad0ff882.98e9e8",
        "type": "inject",
        "z": "7daa0e0f.94fa2",
        "g": "8e9d4fc868cd9abc",
        "name": "Every 1 sec",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 380,
        "wires": [
            [
                "cdf5f82c.df5a6"
            ]
        ]
    },
    {
        "id": "b87de174.0904f",
        "type": "comment",
        "z": "7daa0e0f.94fa2",
        "g": "8e9d4fc868cd9abc",
        "name": "Timer",
        "info": "",
        "x": 190,
        "y": 340,
        "wires": [],
        "icon": "node-red/parser-html.svg"
    },
    {
        "id": "cdf5f82c.df5a6",
        "type": "function",
        "z": "7daa0e0f.94fa2",
        "g": "8e9d4fc868cd9abc",
        "name": "Get Global Time Remaining",
        "func": "// Retrieve the global time remaining counter\nmsg.timeRemaining = global.get(\"timeRemaining\") || 0;\n\n// msg.timeRemaining is in milliseconds\nvar t = msg.timeRemaining / 1000;\nvar h = Math.floor(t / 3600);\nvar m = Math.floor(t % 3600 / 60);\nvar s = Math.floor(t % 3600 % 60);\n\n// Format into hh:mm:ss\nmsg.timerText = (\"0\" + h).slice(-2) + \":\" + (\"0\" + m).slice(-2) + \":\" + (\"0\" + s).slice(-2);\n\n// Update the editor node\nnode.status({fill:\"green\", shape:\"dot\", text:msg.timerText});\n\n// Forward the message along the flow\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 380,
        "wires": [
            [
                "e5a16602705051b4"
            ]
        ]
    },
    {
        "id": "b782529.f84303",
        "type": "trigger",
        "z": "7daa0e0f.94fa2",
        "g": "b6e8e1a1e254255d",
        "name": "",
        "op1": "",
        "op2": " ",
        "op1type": "nul",
        "op2type": "str",
        "duration": "5",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 440,
        "y": 640,
        "wires": [
            [
                "5badc7e7b71741ef"
            ]
        ]
    },
    {
        "id": "b92a0984.a479c",
        "type": "join",
        "z": "7daa0e0f.94fa2",
        "g": "e17fac2177b869a8",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "",
        "propertyType": "full",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "1",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 660,
        "y": 240,
        "wires": [
            [
                "f4c671fc.65fa3"
            ]
        ]
    },
    {
        "id": "be0ceb5e.052c2",
        "type": "comment",
        "z": "7daa0e0f.94fa2",
        "g": "b6e8e1a1e254255d",
        "name": "Duration before clearing",
        "info": "",
        "x": 490,
        "y": 600,
        "wires": []
    },
    {
        "id": "924ff0db.9eedf",
        "type": "comment",
        "z": "7daa0e0f.94fa2",
        "g": "e17fac2177b869a8",
        "name": "Combine elements",
        "info": "",
        "x": 643,
        "y": 200,
        "wires": []
    },
    {
        "id": "60685308.193364",
        "type": "comment",
        "z": "7daa0e0f.94fa2",
        "g": "b6e8e1a1e254255d",
        "name": "Update UI Builder element",
        "info": "",
        "x": 730,
        "y": 500,
        "wires": []
    },
    {
        "id": "f4c671fc.65fa3",
        "type": "uibuilder",
        "z": "7daa0e0f.94fa2",
        "g": "e17fac2177b869a8",
        "name": "",
        "topic": "",
        "url": "display",
        "okToGo": true,
        "fwdInMessages": false,
        "allowScripts": true,
        "allowStyles": false,
        "copyIndex": true,
        "templateFolder": "iife-blank-client",
        "extTemplate": "",
        "showfolder": false,
        "reload": true,
        "sourceFolder": "src",
        "deployedVersion": "6.8.2",
        "showMsgUib": false,
        "title": "",
        "descr": "",
        "x": 830,
        "y": 240,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "be92a823.2ccd2",
        "type": "comment",
        "z": "7daa0e0f.94fa2",
        "g": "e17fac2177b869a8",
        "name": "Send to display at specified URL",
        "info": "",
        "x": 900,
        "y": 200,
        "wires": []
    },
    {
        "id": "e010597f183d18d3",
        "type": "trigger",
        "z": "7daa0e0f.94fa2",
        "g": "b6e8e1a1e254255d",
        "name": "",
        "op1": "",
        "op2": " ",
        "op1type": "nul",
        "op2type": "str",
        "duration": "5",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 660,
        "y": 1000,
        "wires": [
            [
                "e8e7614b0f0b087d",
                "fc19babf24737e50"
            ]
        ]
    },
    {
        "id": "5b5594959cae269d",
        "type": "change",
        "z": "7daa0e0f.94fa2",
        "g": "b6e8e1a1e254255d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gameState",
                "pt": "global",
                "to": "stopped",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 1000,
        "wires": [
            [
                "e010597f183d18d3"
            ]
        ]
    },
    {
        "id": "e8e7614b0f0b087d",
        "type": "change",
        "z": "7daa0e0f.94fa2",
        "g": "b6e8e1a1e254255d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gameState",
                "pt": "global",
                "to": "playing",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "a4a9969470c26952",
        "type": "link in",
        "z": "7daa0e0f.94fa2",
        "g": "e17fac2177b869a8",
        "name": "In-Game Text Display",
        "links": [
            "248e8aa4daf653fd",
            "96a0b122060445a5",
            "ed5d099e0b8c1424",
            "7280d7b3983f313f",
            "0a6a3a37e5124120",
            "984ba29d19a7117f",
            "4586a515dd11f3a4",
            "cff28163790bb4b6",
            "d1ddfac3b8f1e655",
            "6e030344ddef1ee5"
        ],
        "x": 565,
        "y": 240,
        "wires": [
            [
                "b92a0984.a479c"
            ]
        ]
    },
    {
        "id": "248e8aa4daf653fd",
        "type": "link out",
        "z": "7daa0e0f.94fa2",
        "g": "b6e8e1a1e254255d",
        "name": "In-Game Text Display Out",
        "mode": "link",
        "links": [
            "a4a9969470c26952"
        ],
        "x": 855,
        "y": 540,
        "wires": []
    },
    {
        "id": "2317359a0cc526c7",
        "type": "ui_dropdown",
        "z": "7daa0e0f.94fa2",
        "g": "b6e8e1a1e254255d",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "fb11b34b7ab1c984",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "Look Under the Table",
                "type": "str"
            },
            {
                "label": "",
                "value": "Did you Hear a Noise?",
                "type": "str"
            },
            {
                "label": "",
                "value": "Check your coat pockets",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 180,
        "y": 540,
        "wires": [
            [
                "b782529.f84303",
                "feba8bf0fef2fc29",
                "5badc7e7b71741ef"
            ]
        ]
    },
    {
        "id": "08dc603866e4fa96",
        "type": "comment",
        "z": "7daa0e0f.94fa2",
        "g": "b6e8e1a1e254255d",
        "name": "Predefined Text Messages",
        "info": "",
        "x": 230,
        "y": 500,
        "wires": []
    },
    {
        "id": "6d7436b072e2e30c",
        "type": "ui_text_input",
        "z": "7daa0e0f.94fa2",
        "g": "b6e8e1a1e254255d",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "fb11b34b7ab1c984",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "",
        "sendOnBlur": false,
        "className": "",
        "topicType": "str",
        "x": 180,
        "y": 740,
        "wires": [
            [
                "b782529.f84303",
                "feba8bf0fef2fc29"
            ]
        ]
    },
    {
        "id": "3882bd533d90d4d9",
        "type": "ui_audio",
        "z": "7daa0e0f.94fa2",
        "g": "b6e8e1a1e254255d",
        "name": "",
        "group": "fb11b34b7ab1c984",
        "voice": "",
        "always": true,
        "x": 1080,
        "y": 740,
        "wires": []
    },
    {
        "id": "feba8bf0fef2fc29",
        "type": "file in",
        "z": "7daa0e0f.94fa2",
        "g": "b6e8e1a1e254255d",
        "name": "",
        "filename": "D:\\GitHub\\node-redscape\\extras\\Notification Sounds\\out-of-nowhere-message-tone.mp3",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 690,
        "y": 740,
        "wires": [
            [
                "3882bd533d90d4d9"
            ]
        ]
    },
    {
        "id": "b63c11c1d8ab89d0",
        "type": "comment",
        "z": "7daa0e0f.94fa2",
        "g": "b6e8e1a1e254255d",
        "name": "Free Text",
        "info": "",
        "x": 180,
        "y": 700,
        "wires": []
    },
    {
        "id": "071e4004aa5720c6",
        "type": "ui_button",
        "z": "7daa0e0f.94fa2",
        "g": "b6e8e1a1e254255d",
        "name": "",
        "group": "fb11b34b7ab1c984",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Play video",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 900,
        "wires": [
            [
                "5b5594959cae269d",
                "40a3695082bdc952"
            ]
        ]
    },
    {
        "id": "79e70de3055f1be7",
        "type": "comment",
        "z": "7daa0e0f.94fa2",
        "g": "b6e8e1a1e254255d",
        "name": "Play video overlay",
        "info": "",
        "x": 210,
        "y": 860,
        "wires": []
    },
    {
        "id": "a968fe8160c21c32",
        "type": "comment",
        "z": "7daa0e0f.94fa2",
        "g": "b6e8e1a1e254255d",
        "name": "Play audible alert for players",
        "info": "",
        "x": 1140,
        "y": 700,
        "wires": []
    },
    {
        "id": "7280d7b3983f313f",
        "type": "link out",
        "z": "7daa0e0f.94fa2",
        "g": "b6e8e1a1e254255d",
        "name": "In-Game Text Display Out",
        "mode": "link",
        "links": [
            "a4a9969470c26952"
        ],
        "x": 615,
        "y": 900,
        "wires": []
    },
    {
        "id": "0a6a3a37e5124120",
        "type": "link out",
        "z": "7daa0e0f.94fa2",
        "g": "8e9d4fc868cd9abc",
        "name": "In-Game Text Display Out",
        "mode": "link",
        "links": [
            "a4a9969470c26952"
        ],
        "x": 835,
        "y": 380,
        "wires": []
    },
    {
        "id": "984ba29d19a7117f",
        "type": "link out",
        "z": "7daa0e0f.94fa2",
        "g": "b6e8e1a1e254255d",
        "name": "In-Game Text Display Out",
        "mode": "link",
        "links": [
            "a4a9969470c26952"
        ],
        "x": 1035,
        "y": 980,
        "wires": []
    },
    {
        "id": "b0dcaa5b50a76803",
        "type": "comment",
        "z": "7daa0e0f.94fa2",
        "g": "b6e8e1a1e254255d",
        "name": "Assign video file",
        "info": "",
        "x": 460,
        "y": 860,
        "wires": []
    },
    {
        "id": "e7719e3bb7ad01d4",
        "type": "comment",
        "z": "7daa0e0f.94fa2",
        "g": "b6e8e1a1e254255d",
        "name": "Pause game while video plays",
        "info": "",
        "x": 500,
        "y": 960,
        "wires": []
    },
    {
        "id": "c05cf02d0d3d308d",
        "type": "comment",
        "z": "7daa0e0f.94fa2",
        "g": "b6e8e1a1e254255d",
        "name": "Clear video overlay",
        "info": "",
        "x": 870,
        "y": 940,
        "wires": []
    },
    {
        "id": "a710abaab60de1be",
        "type": "comment",
        "z": "7daa0e0f.94fa2",
        "g": "b6e8e1a1e254255d",
        "name": "Resume game",
        "info": "",
        "x": 860,
        "y": 1040,
        "wires": []
    },
    {
        "id": "669dbbe342335aa2",
        "type": "comment",
        "z": "7daa0e0f.94fa2",
        "name": "In-Game Display",
        "info": "",
        "x": 140,
        "y": 40,
        "wires": []
    },
    {
        "id": "91c75419fe50602e",
        "type": "comment",
        "z": "7daa0e0f.94fa2",
        "name": "Requires the node-red-contrib-uibuilder node, which can be installed from the Palette Manager",
        "info": "",
        "x": 390,
        "y": 80,
        "wires": []
    },
    {
        "id": "5badc7e7b71741ef",
        "type": "uib-update",
        "z": "7daa0e0f.94fa2",
        "g": "b6e8e1a1e254255d",
        "name": "",
        "topic": "",
        "mode": "update",
        "modeSourceType": "update",
        "cssSelector": ".displayText",
        "cssSelectorType": "str",
        "slotSourceProp": "payload",
        "slotSourcePropType": "msg",
        "attribsSource": "",
        "attribsSourceType": "msg",
        "slotPropMarkdown": false,
        "x": 720,
        "y": 540,
        "wires": [
            [
                "248e8aa4daf653fd"
            ]
        ]
    },
    {
        "id": "e5a16602705051b4",
        "type": "uib-update",
        "z": "7daa0e0f.94fa2",
        "g": "8e9d4fc868cd9abc",
        "name": "",
        "topic": "",
        "mode": "update",
        "modeSourceType": "update",
        "cssSelector": ".timerText",
        "cssSelectorType": "str",
        "slotSourceProp": "timerText",
        "slotSourcePropType": "msg",
        "attribsSource": "",
        "attribsSourceType": "msg",
        "slotPropMarkdown": false,
        "x": 710,
        "y": 380,
        "wires": [
            [
                "0a6a3a37e5124120"
            ]
        ]
    },
    {
        "id": "0c49790606029a9a",
        "type": "comment",
        "z": "7daa0e0f.94fa2",
        "g": "8e9d4fc868cd9abc",
        "name": "Update UI Builder element",
        "info": "",
        "x": 730,
        "y": 340,
        "wires": []
    },
    {
        "id": "40a3695082bdc952",
        "type": "uib-update",
        "z": "7daa0e0f.94fa2",
        "g": "b6e8e1a1e254255d",
        "name": "",
        "topic": "",
        "mode": "update",
        "modeSourceType": "update",
        "cssSelector": "#overlayVideo",
        "cssSelectorType": "str",
        "slotSourceProp": "",
        "slotSourcePropType": "str",
        "attribsSource": "{\"src\":\"./media/Pexels Videos 3853.mp4\"}",
        "attribsSourceType": "json",
        "slotPropMarkdown": false,
        "x": 480,
        "y": 900,
        "wires": [
            [
                "7280d7b3983f313f"
            ]
        ]
    },
    {
        "id": "108f0f2638f4f9fe",
        "type": "uib-update",
        "z": "7daa0e0f.94fa2",
        "g": "798c58adc45d859b",
        "name": "",
        "topic": "",
        "mode": "update",
        "modeSourceType": "update",
        "cssSelector": "#backgroundVideo",
        "cssSelectorType": "str",
        "slotSourceProp": "",
        "slotSourcePropType": "msg",
        "attribsSource": "{\"src\":\"./media/roomdisplay_bg.mp4\"}",
        "attribsSourceType": "json",
        "slotPropMarkdown": false,
        "x": 280,
        "y": 220,
        "wires": [
            [
                "6e030344ddef1ee5"
            ]
        ]
    },
    {
        "id": "2c02fd78688aef48",
        "type": "link in",
        "z": "7daa0e0f.94fa2",
        "g": "798c58adc45d859b",
        "name": "link in 8",
        "links": [
            "e0138284e2c09884"
        ],
        "x": 115,
        "y": 220,
        "wires": [
            [
                "108f0f2638f4f9fe"
            ]
        ]
    },
    {
        "id": "6e030344ddef1ee5",
        "type": "link out",
        "z": "7daa0e0f.94fa2",
        "g": "798c58adc45d859b",
        "name": "In-Game Text Display Out",
        "mode": "link",
        "links": [
            "a4a9969470c26952"
        ],
        "x": 445,
        "y": 220,
        "wires": []
    },
    {
        "id": "fc19babf24737e50",
        "type": "uib-update",
        "z": "7daa0e0f.94fa2",
        "g": "b6e8e1a1e254255d",
        "name": "",
        "topic": "",
        "mode": "update",
        "modeSourceType": "update",
        "cssSelector": "#overlayVideo",
        "cssSelectorType": "str",
        "slotSourceProp": "",
        "slotSourcePropType": "str",
        "attribsSource": "{\"src\":\"\"}",
        "attribsSourceType": "json",
        "slotPropMarkdown": false,
        "x": 880,
        "y": 980,
        "wires": [
            [
                "984ba29d19a7117f"
            ]
        ]
    },
    {
        "id": "e9745b55be8f18d0",
        "type": "comment",
        "z": "7daa0e0f.94fa2",
        "g": "b6e8e1a1e254255d",
        "name": "Media files that are dynamically inserted into the page (e.g. triggered videos or images) should be placed in the /.node-red/uibuilder/sitename/src folder",
        "info": "",
        "x": 630,
        "y": 780,
        "wires": []
    },
    {
        "id": "3f83b2dfb6eae6e8",
        "type": "comment",
        "z": "7daa0e0f.94fa2",
        "g": "b6e8e1a1e254255d",
        "name": "They can then be referenced as \"./filename.mp4\" in the uib-update node",
        "info": "",
        "x": 880,
        "y": 840,
        "wires": []
    },
    {
        "id": "395bcae8a1530d52",
        "type": "comment",
        "z": "7daa0e0f.94fa2",
        "name": "It is no longer necessary to specify httpStatic in your node-red settings.js",
        "info": "",
        "x": 330,
        "y": 120,
        "wires": []
    },
    {
        "id": "34f0a3980ec4d988",
        "type": "comment",
        "z": "7daa0e0f.94fa2",
        "g": "b6e8e1a1e254255d",
        "name": "Assign alert SFX",
        "info": "",
        "x": 460,
        "y": 700,
        "wires": []
    },
    {
        "id": "fb11b34b7ab1c984",
        "type": "ui_group",
        "name": "In-Game Display",
        "tab": "a38c3d325d960343",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a38c3d325d960343",
        "type": "ui_tab",
        "name": "Main",
        "icon": "dashboard",
        "order": 0,
        "disabled": false,
        "hidden": false
    }
]