Node-RED/NodeREDscape_Core_Logging_flow.json
[
    {
        "id": "31a7412f.61a816",
        "type": "tab",
        "label": "Logging",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d36489b9.a97398",
        "type": "file",
        "z": "31a7412f.61a816",
        "name": "Append to Log File",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1190,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "c371def0.c41d4",
        "type": "ui_switch",
        "z": "31a7412f.61a816",
        "name": "",
        "label": "Logging",
        "tooltip": "",
        "group": "eed1a8a6.8d8878",
        "order": 4,
        "width": 4,
        "height": 1,
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 560,
        "y": 100,
        "wires": [
            [
                "8ab5d029.5fa83"
            ]
        ]
    },
    {
        "id": "8ab5d029.5fa83",
        "type": "change",
        "z": "31a7412f.61a816",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "logging",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "4f0ef3a2.ba712c",
        "type": "switch",
        "z": "31a7412f.61a816",
        "name": "",
        "property": "logging",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 470,
        "y": 340,
        "wires": [
            [
                "511b6d84.e268c4"
            ]
        ]
    },
    {
        "id": "511b6d84.e268c4",
        "type": "function",
        "z": "31a7412f.61a816",
        "name": "Create Log Entry",
        "func": "// Define a payload object with the fields required\n// for the log entry\nvar log_entry = {\n    \"time\": new Date(),\n    \"topic\": msg.topic,\n    \"payload\": msg.payload\n};\nmsg.payload = log_entry;\n\n// Specify the log file\nmsg.filename = \"/Node-REDscape/log.txt\";\n\n// Show the log entry below the editor node\nnode.status({fill:\"green\", shape:\"dot\", text:JSON.stringify(log_entry)});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 750,
        "y": 340,
        "wires": [
            [
                "445cf6fe.4d8078",
                "7831a90e10f09e75"
            ]
        ]
    },
    {
        "id": "d1a37b5c.759ed",
        "type": "comment",
        "z": "31a7412f.61a816",
        "name": "Toggle Logging On/Off",
        "info": "",
        "x": 600,
        "y": 60,
        "wires": []
    },
    {
        "id": "c2f79075.e3d64",
        "type": "ui_template",
        "z": "31a7412f.61a816",
        "group": "eed1a8a6.8d8878",
        "name": "Dashboard Log",
        "order": 3,
        "width": "30",
        "height": 2,
        "format": "<div ng-repeat=\"line in msg.payload track by $index\">\n  <div ng-style=\"{'margin-bottom':'1em'}\">{{line}}</div>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 1240,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "445cf6fe.4d8078",
        "type": "function",
        "z": "31a7412f.61a816",
        "name": "Update Log Display",
        "func": "// Retrieve the existing log display\nvar logDisplay = flow.get(\"logDisplay\") || [];\n\n// Add the new log entry to the top \nlogDisplay.unshift(msg.payload);\n\n// Cap maximum size of the log display\nif(logDisplay.length > 100) {\n    // Remove the last element\n    logDisplay.pop();\n}\n\n// Save the updated log of entries\nflow.set(\"logDisplay\", logDisplay);\n\n// Pass the display along the flow\nmsg.payload = logDisplay;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1030,
        "y": 280,
        "wires": [
            [
                "c2f79075.e3d64"
            ]
        ]
    },
    {
        "id": "f64afdb2.ae6738",
        "type": "link in",
        "z": "31a7412f.61a816",
        "name": "Log",
        "links": [
            "171ea618.d8a322",
            "8a4dffa5.a7935",
            "b32763f3.44a74",
            "c9289f5e.1fb3b8",
            "dd31298f.6fb86",
            "e70201fd67e55953"
        ],
        "x": 255,
        "y": 340,
        "wires": [
            [
                "4f0ef3a2.ba712c"
            ]
        ]
    },
    {
        "id": "b1efbe93.6f8ea",
        "type": "catch",
        "z": "31a7412f.61a816",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 640,
        "y": 560,
        "wires": [
            [
                "7ad70abc.0f24a4"
            ]
        ]
    },
    {
        "id": "7ad70abc.0f24a4",
        "type": "debug",
        "z": "31a7412f.61a816",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 810,
        "y": 580,
        "wires": []
    },
    {
        "id": "81de3a97.ce63d8",
        "type": "complete",
        "z": "31a7412f.61a816",
        "name": "",
        "scope": [],
        "uncaught": false,
        "x": 630,
        "y": 600,
        "wires": [
            [
                "7ad70abc.0f24a4"
            ]
        ]
    },
    {
        "id": "a1a518ec.9afe28",
        "type": "comment",
        "z": "31a7412f.61a816",
        "name": "Exception Handling",
        "info": "",
        "x": 670,
        "y": 520,
        "wires": []
    },
    {
        "id": "92a3d612.7206a",
        "type": "ui_button",
        "z": "31a7412f.61a816",
        "name": "",
        "group": "eed1a8a6.8d8878",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Clear Log",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "x": 560,
        "y": 220,
        "wires": [
            [
                "bf085b.4d65d7a8"
            ]
        ]
    },
    {
        "id": "bf085b.4d65d7a8",
        "type": "change",
        "z": "31a7412f.61a816",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "logDisplay",
                "pt": "flow",
                "to": "[]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 220,
        "wires": [
            [
                "445cf6fe.4d8078"
            ]
        ]
    },
    {
        "id": "75358499.0d6b64",
        "type": "comment",
        "z": "31a7412f.61a816",
        "name": "Clear the Log Display",
        "info": "",
        "x": 600,
        "y": 180,
        "wires": []
    },
    {
        "id": "9593409f.b9608",
        "type": "comment",
        "z": "31a7412f.61a816",
        "name": "Log event",
        "info": "",
        "x": 260,
        "y": 300,
        "wires": []
    },
    {
        "id": "e4d4ff91.d3441",
        "type": "comment",
        "z": "31a7412f.61a816",
        "name": "Only continue if logging enabled",
        "info": "",
        "x": 490,
        "y": 300,
        "wires": []
    },
    {
        "id": "3cf3cc1a.468f24",
        "type": "comment",
        "z": "31a7412f.61a816",
        "name": "Specify fields to log",
        "info": "",
        "x": 750,
        "y": 300,
        "wires": []
    },
    {
        "id": "1052466c.ae07d2",
        "type": "comment",
        "z": "31a7412f.61a816",
        "name": "Send Log to Dashboard",
        "info": "",
        "x": 1050,
        "y": 240,
        "wires": []
    },
    {
        "id": "a9e1b02b.620a08",
        "type": "comment",
        "z": "31a7412f.61a816",
        "name": "Send Log to File",
        "info": "",
        "x": 1180,
        "y": 380,
        "wires": []
    },
    {
        "id": "9d634736069dcc14",
        "type": "ui_switch",
        "z": "31a7412f.61a816",
        "name": "",
        "label": "Save to Logfile",
        "tooltip": "",
        "group": "eed1a8a6.8d8878",
        "order": 4,
        "width": 4,
        "height": 1,
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1000,
        "y": 100,
        "wires": [
            [
                "8b08d1338508da81"
            ]
        ]
    },
    {
        "id": "7831a90e10f09e75",
        "type": "switch",
        "z": "31a7412f.61a816",
        "name": "",
        "property": "useLogfile",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 970,
        "y": 440,
        "wires": [
            [
                "d36489b9.a97398"
            ]
        ]
    },
    {
        "id": "8b08d1338508da81",
        "type": "change",
        "z": "31a7412f.61a816",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "useLogfile",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1220,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "1052553f8c848d66",
        "type": "mqtt in",
        "z": "31a7412f.61a816",
        "name": "",
        "topic": "#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "125f6c81.60151b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 560,
        "wires": [
            [
                "e70201fd67e55953"
            ]
        ]
    },
    {
        "id": "e70201fd67e55953",
        "type": "link out",
        "z": "31a7412f.61a816",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "f64afdb2.ae6738"
        ],
        "x": 435,
        "y": 560,
        "wires": []
    },
    {
        "id": "92140a2795cba5bb",
        "type": "comment",
        "z": "31a7412f.61a816",
        "name": "MQTT traffic",
        "info": "",
        "x": 350,
        "y": 520,
        "wires": []
    },
    {
        "id": "ad8d062aaf3ea55f",
        "type": "comment",
        "z": "31a7412f.61a816",
        "name": "Save log to file",
        "info": "",
        "x": 1000,
        "y": 60,
        "wires": []
    },
    {
        "id": "eed1a8a6.8d8878",
        "type": "ui_group",
        "name": "Default",
        "tab": "b9a603a9.4c8c9",
        "order": 1,
        "disp": false,
        "width": "30",
        "collapse": false
    },
    {
        "id": "125f6c81.60151b",
        "type": "mqtt-broker",
        "name": "MQTT Server",
        "broker": "localhost",
        "port": "1883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "b9a603a9.4c8c9",
        "type": "ui_tab",
        "name": "Logging",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]