Node-RED/NodeREDscape_Prop_Keypad_flow.json
[
    {
        "id": "5aec1535.570c94",
        "type": "tab",
        "label": "Keypad",
        "disabled": false,
        "info": ""
    },
    {
        "id": "88c1bf4a.cf04b",
        "type": "ui_template",
        "z": "5aec1535.570c94",
        "group": "dd53b5d1.ca999",
        "name": "Dashboard Panel",
        "order": 1,
        "width": "6",
        "height": "4",
        "format": "<md-card-title>\n    <md-card-title-text>\n        <p class=\"md-headline\">{{msg.payload.name}}</p>\n    </md-card-title-text>\n    <span ng-class=\"msg.payload.state=='SOLVED' ? 'fa fa-unlock fa-2x' : 'fa fa-lock fa-2x'\"></span>\n</md-card-title>\n<md-card-content>\n    <div ng-style=\"{width:'100%',height:'8px','background-color':msg.payload.state=='SOLVED' ? 'green' : 'red'}\" ></div>\n    <p>\n        {{msg.payload.description?msg.payload.description:'Unknown'}}\n    </p>\n    <div style=\"text-align:center\">\n            <span style=\"font-size: 2em;\">{{msg.payload.input}}&nbsp;</span>\n        </div>\n \n    </div>\n    \n</md-card-content>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 886,
        "y": 172,
        "wires": [
            []
        ]
    },
    {
        "id": "2ea1a823.2b6f7",
        "type": "mqtt in",
        "z": "5aec1535.570c94",
        "name": "MQTT FromDevice",
        "topic": "FromDevice/Keypad",
        "qos": "2",
        "datatype": "auto",
        "broker": "125f6c81.60151b",
        "x": 193,
        "y": 172,
        "wires": [
            [
                "48e5e2ee.212fb4"
            ]
        ]
    },
    {
        "id": "48e5e2ee.212fb4",
        "type": "json",
        "z": "5aec1535.570c94",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 375,
        "y": 172,
        "wires": [
            [
                "2c76b6e6.c46f72"
            ]
        ]
    },
    {
        "id": "2c76b6e6.c46f72",
        "type": "function",
        "z": "5aec1535.570c94",
        "name": "Parse JSON and update global state",
        "func": "// Retrieve the ID of the prop used in this flow\nvar propid = flow.get(\"payload.id\");\n\n// Get the current stored value of this prop,\n// Or create a new entry if we didn't previously know about it\nvar prop = global.get(propid) || {};\n\n// Now loop over the incoming values and update the stored state\nvar count = 0;\nfor (var key in msg.payload) {\n  if (msg.payload.hasOwnProperty(key)) {\n    prop[key] = msg.payload[key];\n    count++;\n  }\n}\n\n// Save the global value again\nglobal.set(propid, prop);\n\n// Pass the updated status through the message flow\nmsg.payload = prop;\n\n// Update the dashboard editor\nnode.status({fill:\"green\", shape:\"dot\", text:count + \" values updated\"});\n\n// Pass the value along the flow\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 607,
        "y": 172,
        "wires": [
            [
                "88c1bf4a.cf04b"
            ]
        ]
    },
    {
        "id": "5c5dcafe.cf93dc",
        "type": "mqtt out",
        "z": "5aec1535.570c94",
        "name": "MQTT ToDevice",
        "topic": "ToDevice/HoldHands",
        "qos": "",
        "retain": "",
        "broker": "125f6c81.60151b",
        "x": 1105,
        "y": 171,
        "wires": []
    },
    {
        "id": "c3f0fae3.b99fd",
        "type": "inject",
        "z": "5aec1535.570c94",
        "name": "Solve",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"state\":\"SOLVED\"}",
        "payloadType": "json",
        "x": 232.5,
        "y": 278,
        "wires": [
            [
                "48e5e2ee.212fb4"
            ]
        ]
    },
    {
        "id": "e7585342.3811f8",
        "type": "inject",
        "z": "5aec1535.570c94",
        "name": "Reset",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"state\":\"UNSOLVED\"}",
        "payloadType": "json",
        "x": 232,
        "y": 239,
        "wires": [
            [
                "48e5e2ee.212fb4"
            ]
        ]
    },
    {
        "id": "9fd45c1c.09ae08",
        "type": "ui_button",
        "z": "5aec1535.570c94",
        "name": "RESET",
        "group": "dd53b5d1.ca999",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-lock",
        "payload": "{\"command\":\"RESET\"}",
        "payloadType": "json",
        "topic": "",
        "x": 914,
        "y": 124,
        "wires": [
            [
                "5c5dcafe.cf93dc"
            ]
        ]
    },
    {
        "id": "94f83c72.4a6768",
        "type": "change",
        "z": "5aec1535.570c94",
        "name": "Config",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "flow",
                "to": "{\"id\":\"Keypad\",\"name\":\"Keypad\",\"description\":\"Players must enter the code 1234 on the keypad\",\"state\":\"UNSOLVED\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 230.5,
        "y": 124,
        "wires": [
            [
                "48e5e2ee.212fb4"
            ]
        ]
    },
    {
        "id": "c304f8d8.7f7258",
        "type": "ui_button",
        "z": "5aec1535.570c94",
        "name": "SOLVE",
        "group": "dd53b5d1.ca999",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Solve",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-unlock",
        "payload": "{\"command\":\"SOLVE\"}",
        "payloadType": "json",
        "topic": "",
        "x": 913,
        "y": 84,
        "wires": [
            [
                "5c5dcafe.cf93dc"
            ]
        ]
    },
    {
        "id": "753e49af.e1fbf8",
        "type": "link in",
        "z": "5aec1535.570c94",
        "name": "",
        "links": [
            "8a4dffa5.a7935"
        ],
        "x": 148.5,
        "y": 124,
        "wires": [
            [
                "94f83c72.4a6768"
            ]
        ]
    },
    {
        "id": "dd53b5d1.ca999",
        "type": "ui_group",
        "name": "Keypad",
        "tab": "7d66f574.b154cc",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "125f6c81.60151b",
        "type": "mqtt-broker",
        "name": "MQTT Server",
        "broker": "localhost",
        "port": "1883",
        "tls": "",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "7d66f574.b154cc",
        "type": "ui_tab",
        "name": "Puzzle Status Monitor",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]