Node-RED/NodeREDscape_Core_ClueDelivery_flow.json
[
    {
        "id": "35c48219.d87086",
        "type": "tab",
        "label": "Clue Delivery",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e469d705.80c4b",
        "type": "ui_text_input",
        "z": "35c48219.d87086",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "46d54615.b8f8e8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 266,
        "y": 91,
        "wires": [
            [
                "90369cd3.d74ad8"
            ]
        ]
    },
    {
        "id": "f926a524.87c2a8",
        "type": "ui_button",
        "z": "35c48219.d87086",
        "name": "",
        "group": "46d54615.b8f8e8",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Send Message",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-exclamation-circle",
        "payload": "",
        "payloadType": "str",
        "topic": "ToDevice/Hint",
        "x": 146,
        "y": 158,
        "wires": [
            [
                "5f0b605f.730cf",
                "f03f5c71.97b778"
            ]
        ]
    },
    {
        "id": "90369cd3.d74ad8",
        "type": "change",
        "z": "35c48219.d87086",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "message",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 441,
        "y": 91,
        "wires": [
            []
        ]
    },
    {
        "id": "23aee1d9.5c743e",
        "type": "comment",
        "z": "35c48219.d87086",
        "name": "Custom Message that plays audio SFX when displayed and clears after a set amount of time",
        "info": "",
        "x": 525.5,
        "y": 47,
        "wires": []
    },
    {
        "id": "5f0b605f.730cf",
        "type": "change",
        "z": "35c48219.d87086",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "message",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 345,
        "y": 159,
        "wires": [
            [
                "786f86b9.b18f48"
            ]
        ]
    },
    {
        "id": "1274db96.af46bc",
        "type": "serial out",
        "z": "35c48219.d87086",
        "name": "",
        "serial": "fd237371.eea2d8",
        "x": 645,
        "y": 210,
        "wires": []
    },
    {
        "id": "f03f5c71.97b778",
        "type": "function",
        "z": "35c48219.d87086",
        "name": "Construct Serial Message",
        "func": "// Format into hh:mm:ss\nmsg.payload = \"PRINT>\" + flow.get(\"hint\") \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 316.5,
        "y": 210,
        "wires": [
            [
                "4fcf0148.f3463",
                "cfc2aef2.e66628"
            ]
        ]
    },
    {
        "id": "4fcf0148.f3463",
        "type": "trigger",
        "z": "35c48219.d87086",
        "name": "",
        "op1": "",
        "op2": "CLEAR>",
        "op1type": "pay",
        "op2type": "str",
        "duration": "3",
        "extend": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "outputs": 1,
        "x": 510.5,
        "y": 210,
        "wires": [
            [
                "1274db96.af46bc"
            ]
        ]
    },
    {
        "id": "3bdcbc65.c5ff04",
        "type": "ui_audio",
        "z": "35c48219.d87086",
        "name": "",
        "group": "da8ca63f.5e4b38",
        "voice": "",
        "always": "",
        "x": 831.5,
        "y": 265,
        "wires": []
    },
    {
        "id": "cfc2aef2.e66628",
        "type": "file in",
        "z": "35c48219.d87086",
        "name": "",
        "filename": "C:\\Users\\alast\\Music\\sfx\\musicbox.mp3",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 599.5,
        "y": 265,
        "wires": [
            [
                "3bdcbc65.c5ff04"
            ]
        ]
    },
    {
        "id": "786f86b9.b18f48",
        "type": "mqtt out",
        "z": "35c48219.d87086",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "125f6c81.60151b",
        "x": 496.5,
        "y": 159,
        "wires": []
    },
    {
        "id": "c1e20172.33fc8",
        "type": "ui_dropdown",
        "z": "35c48219.d87086",
        "d": true,
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "a8157deb.70e9b",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "options": [
            {
                "label": "",
                "value": "Look Under the Table",
                "type": "str"
            },
            {
                "label": "",
                "value": "Did you Hear a Noise?",
                "type": "str"
            },
            {
                "label": "",
                "value": "Check your coat pockets",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 474,
        "y": 438,
        "wires": [
            [
                "5ca5a5dc.c14fbc"
            ]
        ]
    },
    {
        "id": "52442ffd.c8dc08",
        "type": "ui_button",
        "z": "35c48219.d87086",
        "d": true,
        "name": "",
        "group": "a8157deb.70e9b",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Send Hint",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-question-circle",
        "payload": "",
        "payloadType": "str",
        "topic": "ToDevice/Hint",
        "x": 332,
        "y": 510,
        "wires": [
            [
                "82b53bbe.ccfc98"
            ]
        ]
    },
    {
        "id": "5ca5a5dc.c14fbc",
        "type": "change",
        "z": "35c48219.d87086",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "hint",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 623.5,
        "y": 438,
        "wires": [
            []
        ]
    },
    {
        "id": "76d1578.82e9628",
        "type": "comment",
        "z": "35c48219.d87086",
        "name": "Predefined Hints",
        "info": "",
        "x": 616,
        "y": 393,
        "wires": []
    },
    {
        "id": "bce0288b.5861f",
        "type": "change",
        "z": "35c48219.d87086",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "hint",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 749.5,
        "y": 577,
        "wires": [
            [
                "78c04be2.f961dc"
            ]
        ]
    },
    {
        "id": "78c04be2.f961dc",
        "type": "ui_text",
        "z": "35c48219.d87086",
        "d": true,
        "group": "b1c5a111.b0ba08",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Hint Text",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 925,
        "y": 550,
        "wires": []
    },
    {
        "id": "82b53bbe.ccfc98",
        "type": "trigger",
        "z": "35c48219.d87086",
        "name": "",
        "op1": "hint",
        "op2": "{\"hint\":\"\"}",
        "op1type": "flow",
        "op2type": "json",
        "duration": "3",
        "extend": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "outputs": 1,
        "x": 478.5,
        "y": 511,
        "wires": [
            [
                "27565b4f.e3386c"
            ]
        ]
    },
    {
        "id": "17aa0715.b8a189",
        "type": "debug",
        "z": "35c48219.d87086",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 983.5,
        "y": 612,
        "wires": []
    },
    {
        "id": "b615e826.5362e",
        "type": "inject",
        "z": "35c48219.d87086",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190.5,
        "y": 510,
        "wires": [
            [
                "52442ffd.c8dc08"
            ]
        ]
    },
    {
        "id": "27565b4f.e3386c",
        "type": "switch",
        "z": "35c48219.d87086",
        "name": "",
        "property": "hint",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "prev"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 605.5,
        "y": 532,
        "wires": [
            [
                "9c96a2a4.aa28e"
            ],
            [
                "bce0288b.5861f"
            ]
        ]
    },
    {
        "id": "9c96a2a4.aa28e",
        "type": "change",
        "z": "35c48219.d87086",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "hint",
                "pt": "msg",
                "to": "d",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 749,
        "y": 527,
        "wires": [
            [
                "78c04be2.f961dc"
            ]
        ]
    },
    {
        "id": "4ce04ba9.d08e2c",
        "type": "inject",
        "z": "35c48219.d87086",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Look Under the Table",
        "payloadType": "str",
        "x": 274.5,
        "y": 442,
        "wires": [
            [
                "c1e20172.33fc8"
            ]
        ]
    },
    {
        "id": "46d54615.b8f8e8",
        "type": "ui_group",
        "name": "Custom Message",
        "tab": "bfff2c01.02fe6",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "fd237371.eea2d8",
        "type": "serial-port",
        "serialport": "COM3",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "\\r\\n",
        "responsetimeout": "10000"
    },
    {
        "id": "da8ca63f.5e4b38",
        "type": "ui_group",
        "name": "Clue Delivery",
        "tab": "bfff2c01.02fe6",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "125f6c81.60151b",
        "type": "mqtt-broker",
        "name": "MQTT Server",
        "broker": "localhost",
        "port": "1883",
        "tls": "",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "a8157deb.70e9b",
        "type": "ui_group",
        "name": "Printer",
        "tab": "bfff2c01.02fe6",
        "order": 4,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b1c5a111.b0ba08",
        "type": "ui_group",
        "name": "Timer",
        "tab": "fe2df76a.72ff1",
        "order": 1,
        "disp": false,
        "width": "30",
        "collapse": false
    },
    {
        "id": "bfff2c01.02fe6",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fe2df76a.72ff1",
        "type": "ui_tab",
        "name": "Room",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]